<footer class="footer">
    <div class="col-md-4">
    <h3 class="footer-header">Made possible by</h3>
    <p class="footer-text">
    <a href="https://www.tobunken.go.jp/index_e.html" target="_blank">
      <img style="height: 50px;" src="/assets/images/tobunken.png" />
    </a>
    <a href="https://itatti.harvard.edu/" target="_blank">
      <img style="height: 50px;
        border-radius: 3px;
        margin-left: 20px;" src="/assets/images/itatti_logo_med_transparent.png" />
    </a>
    </p>
  </div>
  <div class="col-md-4">
    <h3 class="footer-header">Villa I Tatti</h3>
    <p class="footer-text">The Harvard University Center for Italian Renaissance
      Studies | Via di Vincigliata 26, 50135 Florence, Italy © 2021 President
      and Fellows of Harvard College
    </p>
  </div>
   <div class="col-md-4">
    <p class="footer-text">The Harvard University Center for Italian Renaissance
      Studies | Via di Vincigliata 26, 50135 Florence, Italy © 2021 President
      and Fellows of Harvard College
    </p>
       <p class="footer-text">The Harvard University Center for Italian Renaissance
      Studies | Via di Vincigliata 26, 50135 Florence, Italy © 2021 President
      and Fellows of Harvard College
    </p>
  </div>
</footer>
<style>
  .footer-text a:nth-child(2) img{
      background: white !important;
  }
</style>