.page__body.yashiro-editor-page {
  margin-left: 50px;
  padding-bottom: 0;
  width: auto;
}

.annotation-subtitle {
  text-align: left;
  color:black !important;
  padding: 15px;
}

#letterColumn {
  margin-top: 20px;
}
.person-img {
   margin-right: 5px;
  border-right: 10px solid rgb(249, 105, 14);
}
.place-img {
  margin-right: 5px;
  border-right: 10px solid rgb(38, 166, 91);
}

.person-img + .yashiro-annotation-template > .yashiro-annotation-type-icon {
  display: none !important;
}
.place-img + .yashiro-annotation-template > .yashiro-annotation-type-icon {
  display: none !important;
}

a.change-layout.mainmenu-button,
.mirador-viewer .bottomPanel,
a.mirador-osd-toggle-bottom-panel.hud-control {
  display: none !important;
}

a.mirador-btn.mirador-icon-window-menu {
  display: none !important;
}

a.mirador-btn.mirador-icon-view-type {
  display: none !important;
}

a.mirador-btn.mirador-icon-metadata-view.mirador-tooltip {
  display: none !important;
}
.mirador-main-menu-bar {
  display: none !important;
}
.mirador-viewer {
  top: 0 !important;
}

i.fa.fa-lg.fa-fw.fa-expand {
  color: black;
  position: relative;
  bottom: 5px;
}
i.fa.fa-lg.fa-fw.fa-compress {
  color: black !important;
  position: relative;
  bottom: 5px;
}
h3.window-manifest-title {
  display: none;
}

.mirador .researchspace-mirador.mirador-container .mirador-viewer,
.mirador .researchspace-mirador.mirador-container .mirador-main-menu-bar,
.mirador,
#mirador {
  border: none;
  background: none !important;
}
.TextAnnotationWorkspace--component p {
  font-size: 18px;
}

.super-thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 5px;
}

.openseadragon-canvas {
  background: black !important;
}

img.super-thumbnail {
  height: 90px;
  cursor: pointer;
}

#imageContainer .mirador {
  height: 64vh !important;
  min-height: 500px;
}
#imageContainer > h1 {
  color: white !important;
  font-size: 24px;
  display: flex;
  gap: 5px;
}

.yashiro-editor-container .AnnotationSidebar--tabIcon {
  opacity: 0.5;
}

/* sidebar annotation */
.yashiro-annotation-template {
  padding: 10px;
  display: flex;
  gap: 5px;
  justify-content: start;
  overflow-x: hidden;
}

.yashiro-annotation-template div.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.yashiro-annotation-type-icon {
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  align-self: center;
  margin-left: 10px;
  margin-right: 20px;
}

.yashiro-ctrl-buttons-style {
  border: none;
  outline: none;
  background-color: transparent;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}
.yashiro-ctrl-buttons-style:hover,
.yashiro-ctrl-buttons-style:visited,
.yashiro-ctrl-buttons-style:focus,
.yashiro-ctrl-buttons-style:active,
.yashiro-ctrl-buttons-style:active:hover {
  background-color: transparent;
}

.yashiro-annotation-content {
  align-self: center;
  width: 100%;
}
.yashiro-annotation-content.concept button[name="edit"] {
  margin-right: 15px;
}

.yashiro-annotation-content.concept {
  display: flex;
  align-items: center;
  margin-bottom:5px !important;
  margin-top: 5px !important;
}

.yashiro-annotation-content.concept span:first-child {
  display: flex;
  align-items: center;
}

.yashiro-annotation-template div.btn-group {
  opacity: 0;
  margin-left: 20px;
}
.yashiro-editor-container
  .AnnotationSidebar--annotation.AnnotationSidebar--highlighted:hover
  .yashiro-annotation-template
  div.btn-group {
  opacity: 1;
  transition: opacity 350ms ease-in;
}

/* modal annotation */
.yashiro-modal-line-item {
  padding: 10px;
}

.yashiro-modal-long-iri {
  display: flex;
}

div#text-annotation-editor-tooltip {
  background: white;
}

button.TextAnnotationEditor--addAnnotationButton.btn.btn-default {
  /* background: #a23338; */
  color: #a23338;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  border-radius: 5px;
  -moz-osx-font-smoothing: grayscale;
}
button.TextAnnotationEditor--addAnnotationButton.btn.btn-default::before {
  content: "\f055";
}
span.TextAnnotationEditor--addAnnotationIcon {
  display: none;
}
#text-annotation-editor-tooltip .popover-content button {
  width: 40px !important;
  font-size: 18px;
  border-radius: 5px;
  background: white;
  border: 1px solid #dedede !important;
  height: 40px !important;
  margin-left: 8px;
  margin-right: 8px;
}

.AnnotationEditForm--formContent {
  min-width: 45vw;
  height: fit-content;
  padding-bottom: 45px;
}

.AnnotationEditForm--selectedFragment {
  margin-top: 8px;
  margin-bottom: 25px;
}

img.AnnotationEditForm--bodyTypeIcon {
  height: 22px;
  width: 22px;
}

.modal-dialog.overlay-modal__dialog.modal-dialog {
  min-height: 80vh;
  margin-top: 10vh;
}

button.btn.btn-default.AnnotationEditForm--cancelButton {
  margin-left: 50px;
}
