.letter-card{
  padding: 15px;
  width: 50vw;
  height: fit-content;
  background: white;
  max-width:900px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px #dedede;
}

.letter-card * {
  color: black !important
}
#search-results .griddle-custom-row{
  gap: 30px;
}

.contentExcerpt{
  height: 13vh !important;
}
div#search-results {
  width: 80%;
  margin-left: 16%;
}

.letter-card .image-thumbnail {
  width: 100%;
  max-width: 300px;
}