.person-card{
  padding: 15px;
  height: fit-content;
  min-width: 50vw;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px #dedede;
  min-height: 280px;
  max-width: 800px;
}

.person-card .system-spinner{
display: none !important;
}

.person-card .letter-link{
  font-weight: bold;
  padding: 4px;
  background: #a23338;
  color: white !important;
  border-radius: 10px;
  min-width: 40px;
  text-align: center;
}

.person-card * {
  color: black !important
}
#search-results .griddle-custom-row{
  gap: 30px;
}

.contentExcerpt{
  height: 13vh !important;
}
div#search-results {
  width: 80%;
  margin-left: 16%;
}

.person-card .image-thumbnail {
  width: 100%;
  max-height: 150px;
  max-width: 85px;
}

.person-card img{
  max-width: 235px;
}

.person-card .subtitle{
  font-size: 16px;
}