.person-card{
  padding: 15px;
  height: fit-content;
  min-width: 50vw;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px #dedede;
}
.person-card .system-spinner{
display: none !important;
}
.person-card * {
  color: black !important
}
#search-results .griddle-custom-row{
  grid-gap: 30px;
}

.contentExcerpt{
  height: 13vh !important;
}
div#search-results {
  width: 80%;
  margin-left: 16%;
}

.person-card .image-thumbnail {
  width: 100%;
  max-height: 150px;
  max-width: 85px;
}