#yashiro-container .icon-holder{
  display: flex;
}

#yashiro-container .icon-holder img {
  cursor: pointer;
  height: 25px;
  filter: invert(1);
  margin-right: 15px;
}

#yashiro-container .footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #a23337;
  height: 100%;
  min-height: 185px;
}
#yashiro-container #logout-Link + #login-Link {
  display: none;
}

#yashiro-container .footer *{
  background:  none !important;
  color:  white;
}
#yashiro-container footer a{
  transition: 0.3s;
}
#yashiro-container footer a:hover {
  filter: opacity(0.7);
}
#yashiro-container .footer h3 {
  font-size: 18px;
}
