#yashiro-container {
  margin-top: 60px;
}

#yashiro-container .AnnotationSidebar--annotationList > div > div{
  flex-direction: row !important;
}

#yashiro-container .system-spinner__icon {
  color: #007bff;
  font-size: 24px !important;
  animation: fa-spin 0.7s steps(8) infinite !important;
}

#yashiro-container .system-spinner__icon::before {
  content: "\f0ac" !important;
}

#yashiro-container .system-spinner__message {
  display: none !important;
}
#yashiro-container #template-content {
  min-width: 90vw;
  min-height: calc(92vh - 100px) !important;
}

#yashiro-container span.page__header-gripper-label {
  font-size: 36px;
}
/* Table pagination */

#yashiro-container .pagination {
  margin-bottom: 2vh !important ;
  justify-content: center !important;
  flex-wrap: wrap;
}
#yashiro-container a {
  transition: 0.4s;
}
#yashiro-container a:hover {
  text-decoration: underline;
  color: #4e070c !important;
  opacity: 0.7;
}

#yashiro-container .griddle-footer .pagination > .active > a {
  background: #a23338 !important;
}

#yashiro-container .griddle-footer .pagination > li > a,
#yashiro-container .griddle-footer .pagination > li > span,
#yashiro-container .pagination > li > a,
#yashiro-container .pagination > li > span {
  color: var(--color-dark, #1d0a6e);
  font-size: 12px;
  line-height: 1.2;
  text-decoration: none;
  font-style: italic;
  border: none;
  background: #ebebeb;
  font-size: 20px !important;
  margin: 4px;
  padding: 3px 8px;
}
#yashiro-container .griddle-footer .pagination > li > a:focus,
#yashiro-container .griddle-footer .pagination > li > a:hover,
#yashiro-container .griddle-footer .pagination > li > span:focus,
#yashiro-container .griddle-footer .pagination > li > span:hover,
#yashiro-container .pagination > li > a:focus,
#yashiro-container .pagination > li > a:hover,
#yashiro-container .pagination > li > span:focus,
#yashiro-container .pagination > li > span:hover {
  background: #d2d2d2 !important;
}

#yashiro-container .pagination > li.active,
#yashiro-container .pagination > li.active > a {
  color: white !important;
  text-decoration: none !important;
}

#yashiro-container .pagination > li > a {
  font-size: 18px !important;
}

#yashiro-container .rs-application .table > tbody > tr > td {
  border-bottom-color: #ebebeb !important;
  border-bottom: 0px !important;
}

#yashiro-container ol.page-breadcrumb {
  position: fixed;
  top: 90px;
  left: 0;
}
#yashiro-container .component-page-toolbar {
  display: none !important;
}

#yashiro-container .modal-dialog {
  width: 85%;
}

#yashiro-container .modal-title {
  text-align: center;
  line-height: 3.2;
}
#yashiro-container h4.modal-title {
  color: #641015;
}
#yashiro-container .overlay-lightbox__dialog .modal-content {
  border: none !important;
  box-shadow: none !important;
  background: #e1e1e1b3 !important;
  backdrop-filter: blur(2px);
}
#yashiro-container .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#yashiro-container .modal-body img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#yashiro-container button.close {
  opacity: 1;
  color: #641015 !important;
  font-size: 55px !important;
}
#yashiro-container .modal-content .modal-header {
  padding: 0px 22px 0px !important;
}
#yashiro-container .modal-dialog.overlay-lightbox__dialog.modal-dialog {
  top: 58px;
}

#yashiro-container header {
  margin-top: 80px;
  margin-bottom: 50px;
}
#yashiro-container header h1 {
  font-size: 36px;
  color: #802126;
}
#yashiro-container article p {
  font-size: 16px;
}
#yashiro-container article li {
  font-size: 16px;
}

#yashiro-container article a {
  text-decoration: underline;
}

#yashiro-container h1,
#yashiro-container h2,
#yashiro-container h3,
#yashiro-container h4,
#yashiro-container h5 {
  color: #641015;
}
#yashiro-container #search-results .rs-grid-element a {
  color: #641015 !important;
}
#yashiro-container em {
  color: #641015;
}
#yashiro-container a {
  color: #641015;
}

#yashiro-container div#main-container {
  display: block !important;
  margin-top: 0px;
  padding-bottom: 50px;
}
#yashiro-container .nav.nav-tabs > li a {
  color: black;
}

#yashiro-container .nav.nav-tabs > li.active a {
  color: #641015 !important;
}
#yashiro-container .nav.nav-tabs > li.active {
  box-shadow: inset 0 -3px 0 0 rgba(162, 51, 56, 1) !important;
}
#yashiro-container section.iframe-section {
  height: 67vh;
  min-height: 600px;
}

#yashiro-container input{
  filter: grayscale(1);
}
#yashiro-container .modal-dialog.resource-viewer-modal__dialog.modal-lg.modal-dialog{
  width: 100%;
}
