#yashiro-mainmenu {
  height: 100px !important;
  vertical-align: middle;
  border-radius: 0px 0px 10px 10px;
  box-shadow: inset 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: #a23338;
  color: white !important;
}

#yashiro-mainmenu:hover {
  background-color: rgba(117, 35, 38, 1);
}
nav.navbar {
  display: none !important;
}

#yashiro-logo {
  flex-direction: column;
  display: flex;
}

#yashiro-logo img {
  height: 48px;
  object-fit: contain;
}
#yashiro-menu {
  position: fixed;
  left: 0;
  top: 0%;
  width: 100%;
}

#yashiro-menu .dropdown-menu {
  background: #a23338;
}
#yashiro-menu .navbar-default .dropdown-menu > li > a:focus,
.navbar-default .dropdown-menu > li > a:hover {
  background: none;
  filter: opacity(0.7);
}

#yashiro-menu li a {
  color: white !important;
  transition: 0.4s;
}

#yashiro-menu.navbar-default .navbar-brand {
  color: rgba(255, 255, 255, 1);
}
#yashiro-menu.navbar-default {
  font-size: 15px;
  height: 100px;
  background-color: rgba(162, 51, 56, 1);
  border-bottom-width: 1px;
}
#yashiro-menu.navbar-default .navbar-nav > li > a {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(162, 51, 56, 1);
}
#yashiro-menu.navbar-default .navbar-nav > li > a:hover,
#yashiro-menu.navbar-default .navbar-nav > li > a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 35, 38, 1);
}
#yashiro-menu.navbar-default .navbar-nav > .active > a,
#yashiro-menu.navbar-default .navbar-nav > .active > a:hover,
#yashiro-menu.navbar-default .navbar-nav > .active > a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(162, 51, 56, 1);
}
#yashiro-menu.navbar-default .navbar-toggle {
  border-color: #a23338;
}
#yashiro-menu.navbar-default .navbar-toggle:hover,
#yashiro-menu.navbar-default .navbar-toggle:focus {
  background-color: #a23338;
}
#yashiro-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #a23338;
}
#yashiro-menu.navbar-default .navbar-toggle:hover .icon-bar,
#yashiro-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #a23338;
}

.logo-flex{
  display: flex;
  align-items: center;
}

.profile-pic{
  height: 75px;
    float: left;
    margin-right: 8px;
}

.h2-title {
  color: white;
  font-weight: 100;
  font-size: 28px;
  margin: 0 !important;
}
.h2-subtitle {
  color: white;
  font-style: italic;
  font-weight: 100;
  font-size: 18px;
  margin: 0 !important;
}
.navbar-header a:hover {
  text-decoration: none !important;
}

@media (max-width:1250px){
  .profile-pic{
    height: 70px;
  }
  
  .h2-title {
    font-size: 24px;
  }
  .h2-subtitle {
    font-size: 14px;
  }
}