/* People page styles */
#yashiro-container .personImg {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

#yashiro-container .nav-tabs {
  display: none;
}

#yashiro-container th[data-title^="mp-custom-column"]:first-child {
  width: 50px !important;
}

