#yashiro-container .rs-grid-element{
    width: 100%!important;
    margin-top: 10px;
}

#yashiro-container img.thumbnail{
    width: 100px!important;
    margin-bottom: 0px !important;
}

#yashiro-container .grid-demo{
    font-size: 16px;
}

#yashiro-container div[data-flex-self="size-1of3"]{
    min-width: 450px;
}

#yashiro-container div.semantic-facet-holder{
    position: fixed;
    background-color: white;
}
