#yashiro-container .person-card{
  padding: 15px;
  height: fit-content;
  min-width: 50vw;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px #dedede;
  min-height: 280px;
  max-width: 800px;
}

#yashiro-container .person-card .system-spinner{
display: none !important;
}

#yashiro-container .person-card .letter-link{
  /* font-weight: bold;
  padding: 4px;
  background: #a23338;
  color: white !important;
  border-radius: 10px;
  min-width: 40px;
  text-align: center; */
  font-weight: bold;
  padding: 2px;
  background: #ffffff;
  box-shadow: 0px 0px 3px 0px #b0b0b0;
  color: #404040 !important;
  border-radius: 10px;
  min-width: 40px;
  text-align: center;
}

#yashiro-container .person-card * {
  color: black !important
}
#yashiro-container #search-results .griddle-custom-row{
  gap: 30px;
}

#yashiro-container .contentExcerpt{
  height: 13vh !important;
}
#yashiro-container div#search-results {
  width: 80%;
  margin-left: 16%;
}

#yashiro-container .person-card .image-thumbnail {
  width: 100%;
  max-height: 150px;
  max-width: 85px;
}

#yashiro-container .person-card img{
  max-width: 235px;
}

#yashiro-container .person-card .subtitle{
  font-size: 16px;
}
