#yashiro-container .letter-card{
  padding: 15px;
  width: 50vw;
  height: fit-content;
  background: white;
  max-width:900px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px #dedede;
}

#yashiro-container .letter-card * {
  color: black !important
}
#yashiro-container #search-results .griddle-custom-row{
  gap: 30px;
}

#yashiro-container .contentExcerpt{
  height: 13vh !important;
}
#yashiro-container div#search-results {
  width: 80%;
  margin-left: 16%;
}

#yashiro-container .letter-card .image-thumbnail {
  width: 100%;
  max-width: 300px;
}

#yashiro-container .role-text{
    font-size: 16px;
    font-weight: bold;
    color: #a23338 !important;
    text-align: right;
}
#yashiro-container a.no-underline:hover{
  text-decoration: none !important;
}
