[[> "https://collection.itatti.harvard.edu/resource/yashiro/header"]]
<!-- main container open -->

<div id="main-container" class="container">
    <!-- /main container open -->
    <a name="main-content"></a>
    <header>
        <a name="main-content"></a>
        <h1>Gallery</h1>
    </header>

    <div class="container-fluid gallery-container">
        <div class="row">
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/yashiro_view_of_florence_ca_1921(1).jpg" target="_blank">
                    <img src="/../../assets/images/gallery/yashiro_view_of_florence_ca_1921(1).jpg"
                         class="img-thumbnail">
                    <label>Yashiro, View of Florence, ca.1921</label>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/yashiro_view_of_florence_ca_1921.jpg" target="_blank">
                    <img src="/../../assets/images/gallery/yashiro_view_of_florence_ca_1921.jpg" class="img-thumbnail">
                    <label>Yashiro, View of Florence, ca.1921</label>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/yukio_yashiro_1960s.jpg" target="_blank">
                    <img src="/../../assets/images/gallery/yukio_yashiro_1960s.jpg" class="img-thumbnail">
                    <label>Yukio Yashiro, 1960s</label>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/akio_fumi_niki_1956(1).jpg" target="_blank">
                    <img src="/../../assets/images/gallery/akio_fumi_niki_1956(1).jpg" class="img-thumbnail">
                    <label>Akio, Fumi, and Nicky, 1956</label>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/akio_fumi_niki_1956(2).jpg" target="_blank">
                    <img src="/../../assets/images/gallery/akio_fumi_niki_1956(2).jpg" class="img-thumbnail">
                    <label>Akio, Fumi, and Nicky, 1956</label>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/akio_fumi_niki_1956(3).jpg" target="_blank">
                    <img src="/../../assets/images/gallery/akio_fumi_niki_1956(3).jpg" class="img-thumbnail">
                    <label>Akio, Fumi, and Nicky, 1956</label>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/chinese_lion_given_to_yashiro_1959(1).jpg" target="_blank">
                    <img src="/../../assets/images/gallery/chinese_lion_given_to_yashiro_1959(1).jpg"
                         class="img-thumbnail">
                    <label>Chinese Lion, given to Yashiro in 1959</label>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/chinese_lion_given_to_yashiro_1959.jpg" target="_blank">
                    <img src="/../../assets/images/gallery/chinese_lion_given_to_yashiro_1959.jpg"
                         class="img-thumbnail">
                    <label>Chinese Lion, given to Yashiro in 1959</label>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/chinese_scroll.jpg" target="_blank">
                    <img src="/../../assets/images/gallery/chinese_scroll.jpg" class="img-thumbnail">
                    <label>Chinese Scroll</label>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/container_for_chinese_scroll.jpg" target="_blank">
                    <img src="/../../assets/images/gallery/container_for_chinese_scroll.jpg" class="img-thumbnail">
                    <label>Container for Chinese Scroll</label>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/dario_neri_yukio_yashiro_1956.jpg" target="_blank">
                    <img src="/../../assets/images/gallery/dario_neri_yukio_yashiro_1956.jpg" class="img-thumbnail">
                    <label>Dario Neri, Yukio Yashiro, 1956</label>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/detail_of_chinese_scroll.jpg" target="_blank">
                    <img src="/../../assets/images/gallery/detail_of_chinese_scroll.jpg" class="img-thumbnail">
                    <label>Detail of Chinese Scroll</label>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/dunham_and_berenson_1949.jpg" target="_blank">
                    <img src="/../../assets/images/gallery/dunham_and_berenson_1949.jpg" class="img-thumbnail">
                    <label>Dunham and Berenson, 1949</label>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/dunham_and_yashiro_1957.jpg" target="_blank">
                    <img src="/../../assets/images/gallery/dunham_and_yashiro_1957.jpg" class="img-thumbnail">
                    <label>Dunham and Yashiro, 1957</label>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/fumi_yashiro_1926.jpg" target="_blank">
                    <img src="/../../assets/images/gallery/fumi_yashiro_1926.jpg" class="img-thumbnail">
                    <label>Fumi Yashiro, 1926</label>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/yashiro_and_fumi_london_1956.jpg" target="_blank">
                    <img src="/../../assets/images/gallery/yashiro_and_fumi_london_1956.jpg" class="img-thumbnail">
                    <label>Yashiro and Fumi in London, 1956</label>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/yashiro_at_piazzale_michelangelo_ca_1921.jpg" target="_blank">
                    <img src="/../../assets/images/gallery/yashiro_at_piazzale_michelangelo_ca_1921.jpg"
                         class="img-thumbnail">
                    <label>Yashiro at Piazzale Michelangelo, ca.1921</label>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/yashiro_family_1940.jpg" target="_blank">
                    <img src="/../../assets/images/gallery/yashiro_family_1940.jpg" class="img-thumbnail">
                    <label>Yashiro Family, 1940</label>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="/../../assets/images/gallery/yukio_yashiro_ca_1921.jpg" target="_blank">
                    <img src="/../../assets/images/gallery/yukio_yashiro_ca_1921.jpg" class="img-thumbnail">
                    <label>Yukio Yashiro, ca. 1921</label>
                </a>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

    <style>
        .gallery-container .img-thumbnail {
            float: left;
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        .gallery-container .row {
            margin-bottom: 20px;
        }

        .gallery-container label {
            color: black;
        }
    </style>

    <!-- main container end -->
</div>
<!-- /main container end -->


[[> "https://collection.itatti.harvard.edu/resource/yashiro/footer"]]


