<style>
    .element-invisible {
        display: none;
    }

    body {
        line-height: 23px !important;
        color: black !important;
    }

    #templateFooter {
        margin-top: 100px !important;
    }

    #dedicatedTo {
        text-align: center;
        margin: 40px !important;
    }

    #dedicatedTo h2 {
        font-size: 20px !important;
    }

    #colophonEnd {
        margin-top: 50px !important;
        text-align: center;
    }

    .pdf-file-icon{
        width: 20px;
    }

    .mime-, .mime-pdf {
        width: 20px;
        padding: 0 !important;
        padding-left: 10px !important;
    }

    .os-files-other-list .size {
        text-align: right !important;
    }

    .os-files-other-list {
        background: #eeeeee;
        margin-bottom: 15px;
        width: 100%;
    }

    header {
        margin-bottom: 30px !important;
    }

    header h1 {
        font-family: Georgia, Serif;
    }


    h2,h3 {
        font-family: Georgia, Serif;
    }

    .intro-subtitle {
        margin-top: 50px !important;
        margin-bottom: 20px !Important;
    }

    .yamanashi-subtitles {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .gorman-subtitles, .cockerell-subtitles {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: larger;
    }

    .quotes {
        margin: 30px !Important;
        font-weight: lighter;
        font-family: Georgia;
    }
</style>