<!-- header -->

<style>
  /* Main Menu Bookmark Effect */
  #yashiro-mainmenu {
    height: 70px !important;
    vertical-align: middle;
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    background-color: #a23338;
    color: white !important;
  }

  #yashiro-mainmenu:hover {
    background-color: rgba(117, 35, 38, 1);
  }
  nav.navbar{
    display: none !important;
  }
</style>

<!-- navbar -->
<div
  id="yashiro-menu"
  class="navbar navbar-default navbar-static-top"
  role="navigation"
>
  <div class="container">
    <div class="navbar-header">
      <!--a class="navbar-brand" href="#">Yashiro</a-->
      <div id="yashiro-logo">
        <semantic-link iri='yashiro:Start'>
          <img src="/assets/images/yashiro_signature_white.png" />
    </semantic-link>
      </div>
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-menubuilder"
      >
        <span class="sr-only">Toggle navigation</span
        ><span class="icon-bar"></span><span class="icon-bar"></span
        ><span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-menubuilder">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown" class="dropdown" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            >About <b class="caret"></b
          ></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <semantic-link iri="yashiro:few-words-lino-pertile">A few words (Lino pertile)
          </semantic-link>
            </li>
            <li>
              <semantic-link iri="yashiro:wakaba-yashiro-preface">Letter (Wakaba Yashiro)
          </semantic-link>
            </li>
            <li>
              <semantic-link iri="yashiro:Presentation">Introduction (Jonathan K. Nelson)
          </semantic-link>
            </li>
            <li><semantic-link iri="yashiro:colophon">Colophon</semantic-link></li>
          </ul>
        </li>
        <li class="dropdown" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            >Letters <b class="caret"></b
          ></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <semantic-link iri="yashiro:introduction">
                The Yashiro-Berenson Correspondence (Michiaki Koshikawa)
              </semantic-link>
            </li>
            <li><semantic-link iri="yashiro:Letters">Letters</semantic-link></li>
          </ul>
        </li>
        <li><semantic-link iri="yashiro:People">People</semantic-link></li>
        <li><semantic-link iri="yashiro:gallery">Images</semantic-link></li>
        <li class="dropdown" class="dropdown" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            >Texts by Yashiro <b class="caret"></b
          ></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <semantic-link iri="yashiro:autobiography-table-of-contents">My Life in the Fine Arts (Tokyo: 1972)
          </semantic-link>
            </li>
            <li>
              <semantic-link iri="yashiro:botticelli">Sandro Botticelli (London and Boston: 1925)
          </semantic-link>
            </li>
          </ul>
        </li>
        <li class="dropdown" class="dropdown" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            >Studies on Yashiro <b class="caret"></b
          ></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <semantic-link iri="yashiro:john-hatcher">Hatcher, "Yashiro, Binyon and Waley"<
          </semantic-link>
            </li>
            <li>
              <semantic-link iri="yashiro:akira-takagishi">Takagishi, "A Japanese Historian of Western Art"<
          </semantic-link>
            </li>
            <li>
              <semantic-link iri="yashiro:yamanashi">Yamanashi, "Yashiro and the Institute of Art Research"<
          </semantic-link>
            </li>
          </ul>
        </li>
        <li class="dropdown" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            >Berenson <b class="caret"></b
          ></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <semantic-link iri="yashiro:michael-gorman">Gorman, "Berenson’s Appreciation of Japanese Art"<
          </semantic-link>
            </li>
            <li>
              <semantic-link iri="yashiro:carl-brandon-strehlke">Strehlke, "Bernard Berenson and Asian Art”<
          </semantic-link>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  #yashiro-logo {
    position: relative;
    display: flex;
    left: 0;
    width: 15vw;
    height: 100%;
    top: 0px;
    justify-content: center;
    align-items: center;
  }

  #yashiro-logo img {
    height: 48px;
    object-fit: contain;
  }
  #yashiro-menu {
    position: fixed;
    left: 0;
    top: 0%;
    width: 100%;
  }

  #yashiro-menu .dropdown-menu{
    background:#a23338;
  }
  #yashiro-menu 
  .navbar-default .dropdown-menu>li>a:focus, .navbar-default .dropdown-menu>li>a:hover{
    background: none;
    filter: opacity(0.7)
  }

  #yashiro-menu li a {
    color: white !important;
    transition: 0.4s;
  }

  #yashiro-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
  }
  #yashiro-menu.navbar-default {
    font-size: 15px;
    background-color: rgba(162, 51, 56, 1);
    border-bottom-width: 1px;
  }
  #yashiro-menu.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(162, 51, 56, 1);
  }
  #yashiro-menu.navbar-default .navbar-nav > li > a:hover,
  #yashiro-menu.navbar-default .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(117, 35, 38, 1);
  }
  #yashiro-menu.navbar-default .navbar-nav > .active > a,
  #yashiro-menu.navbar-default .navbar-nav > .active > a:hover,
  #yashiro-menu.navbar-default .navbar-nav > .active > a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(162, 51, 56, 1);
  }
  #yashiro-menu.navbar-default .navbar-toggle {
    border-color: #a23338;
  }
  #yashiro-menu.navbar-default .navbar-toggle:hover,
  #yashiro-menu.navbar-default .navbar-toggle:focus {
    background-color: #a23338;
  }
  #yashiro-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #a23338;
  }
  #yashiro-menu.navbar-default .navbar-toggle:hover .icon-bar,
  #yashiro-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #a23338;
  }
</style>
<!-- /navbar -->
<!-- /header -->
