<div class="person-card">
  <div class="panel-body">
    <bs-col md="4">
      <div class="grid-demo">
        <semantic-query
          query='SELECT ?localImage WHERE {<{{subject.value}}> crm:P138i_has_representation ?filename.
            BIND(REPLACE(STR(?filename),"https://yashiro.itatti.harvard.edu/","/assets/") as ?localImage) }LIMIT 1'
          template='{{> thumbTemplate }}'>
           <template id='thumbTemplate'>
             {{#each bindings}}
              <img src="{{localImage.value}}"/>
             {{/each}}
           </template>
        </semantic-query>
      </div>
    </bs-col>
    <bs-col md="8">
      <div data-flex-layout="row md-column center-stretch">
        <bs-row>
          <bs-col md="12">
            <h4>
              <semantic-link iri="{{subject.value}}"
                ></semantic-link>
            </h4>
          </bs-col>
          <bs-col md="12">
              <semantic-query
                query='SELECT DISTINCT ?info WHERE { <{{subject.value}}>  <http://www.cidoc-crm.org/cidoc-crm/P70i_is_documented_in> ?subtitle_node .
                ?subtitle_node rdf:value ?info .}LIMIT 10'
                template='{{> documentedIn }}'>
                 <template id='documentedIn'>
                   {{#each bindings}}
                    <div>{{info.value}}</div>
                   {{/each}}
                 </template>
              </semantic-query>
        </bs-col>
        <bs-col md="12">
          <semantic-query
            query='SELECT DISTINCT ?letter ?letterLabel  (COUNT (?letter) as ?count) WHERE { 
                  ?subject crm:P1_is_identified_by ?letter.
                  ?activity crm:P16_used_specific_object ?letter.
                  ?letter rdfs:label ?label.
                  ?activity crm:P01_has_domain ?sender_carry.
                  ?sender_carry crm:P14.1_in_the_role_of ?sender_role.
                  ?sender_role rdfs:label "Sender".
                  ?sender_carry crm:P02_has_range <{{subject.value}}>
                  BIND(REPLACE(?label,"Letter_","") as ?letterLabel)
                }
                  GROUP BY ?letter ?letterLabel
                  LIMIT 1'
            template='{{> sent }}'>
             <template id='sent'>
               {{#ifCond  bindings.0.count.value "!==" "0"}}
                 <div>Sent {{bindings.0.count.value}} letter(s):</div>
                 <div style="display: flex; grid-gap: 15px;">
                    {{#each bindings}}
                      <semantic-link iri="{{letter.value}}"  style="font-weight: bold;">{{letterLabel.value}}</semantic-link>
                    {{/each}}
                 </div>
              {{/ifCond}}
             </template>
          </semantic-query>
          <semantic-query
          query='SELECT DISTINCT ?letter ?letterLabel (COUNT (?letter) as ?count) WHERE { 
            ?subject crm:P1_is_identified_by ?letter.
            ?activity crm:P16_used_specific_object ?letter.
            ?letter rdfs:label ?label.
            ?activity crm:P01_has_domain ?receiver_carry.
            ?receiver_carry crm:P14.1_in_the_role_of ?receiver_role.
            ?receiver_role rdfs:label "Receiver".
            ?receiver_carry crm:P02_has_range <{{subject.value}}>
            BIND(REPLACE(?label,"Letter_","") as ?letterLabel)
          }
            GROUP BY ?letter ?letterLabel
            LIMIT 1'
          template='{{> receive }}'>
           <template id='receive'>
            {{#ifCond  bindings.0.count.value "!==" "0"}}
             <div>Received {{bindings.0.count.value}} letter(s):</div>
             <div style="display: flex; grid-gap: 15px;">
                {{#each bindings}}
                  <semantic-link iri="{{letter.value}}" style="font-weight: bold;">{{letterLabel.value}}</semantic-link>
                {{/each}}
             </div>
            {{/ifCond}}
           </template>
        </semantic-query>
    </bs-col>
        </bs-row>
      </div>
    </bs-col>
  </div>
</div>
