
<!-- main container open -->
<div id="main-container" class="container">
  <!-- /main container open -->

  <div>
    <a name="main-content"></a>
    <header>
      <a name="main-content"></a>
      <h1>Emiko Yamanashi</h1>
    </header>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <article>
                  <div>
                    <div>
                      <div>
                        <div>
                          <h2>
                            Yukio Yashiro and the Institute of Art Research:<br />Realizing
                            the Goal of Introducing Berenson&rsquo;s Methodology
                            to Japan
                          </h2>
                          <p>
                            Japanese art history as a modern scholarly
                            discipline is considered to have started with the
                            compilation of the
                            <em>Histoire d l&rsquo;art du Japon</em>, published
                            in French on the occasion of the Paris World&rsquo;s
                            Fair in 1900, and the Japanese version, which came
                            out the following year. This was edited by the
                            Ministry of Agriculture and Commerce, led by

                            <semantic-link
                              uri="https://yashiro.itatti.harvard.edu/resource/person/kakuzo_okakura"
                            >
                              Okakura Tenshin
                            </semantic-link>
                            , who compiled the lists of the treasures of temples
                            and shrines. Okakura traveled to the sites where
                            these works of art were held in order to conduct
                            research on them, divided them according to their
                            historical period, and explained the style with the
                            political and historical background.
                          </p>
                          <p>
                            In the following generation, Yashiro Yukio
                            (1890-1975) played an important role in introducing
                            a more detailed and objective method and analysis
                            into Japanese art history. Yashiro practiced a
                            method of stylistic comparison based on detailed
                            photographs of works, which he learned under Bernard
                            Berenson. He introduced this method to Japan and
                            contributed a great deal to founding an institute to
                            develop the method.
                          </p>
                          <h3 class="yamanashi-subtitles">
                            Yashiro Yukio (Early Years)
                          </h3>
                          <p>
                            Yashiro was born in Yokohama in 1890, and after his
                            graduation from the Daiichi High School, he studied
                            English literature at Tokyo Imperial University. His
                            graduation thesis, entitled &ldquo;Emotionalism in
                            the Fine Arts,&rdquo; engaged with Oscar
                            Wilde&rsquo;s writings on art. Yashiro's thesis
                            reveals that at this time he was already interested
                            in the Fine Arts, and especially in paintings. He
                            started practicing watercolor painting at Nihon
                            Suisaiga Kenkyujo (Japanese Institute of Watercolor
                            Painting) while he was a high school student, and
                            his <em>Red Umbrella in the Field</em> was exhibited
                            at the 7<sup>th</sup> Bunten (Fine Art exhibition
                            sponsored by the Ministry of Education) in 1913
                            while he was a university student. After his
                            graduation from Tokyo Imperial University, he became
                            a lecturer there, and then in 1917 a professor of
                            the Tokyo Fine Arts School, where he taught the
                            history of European art. In March 1921, Yashiro went
                            to London to study European art history where he met
                            figures such as
                            <semantic-link
                              uri="https://yashiro.itatti.harvard.edu/resource/person/laurence_binyon"
                            >
                              Laurence Binyon
                            </semantic-link>
                            and
                            <semantic-link
                              uri="https://yashiro.itatti.harvard.edu/resource/person/arthur_waley"
                              >Arthur Waley</semantic-link
                            >. In autumn of 1921, he moved to Florence and
                            started to study under Berenson.
                          </p>
                          <h3 class="yamanashi-subtitles">
                            Bernard Berenson and Yashiro
                          </h3>
                          <p>
                            Coming to Europe to study Renaissance art, Yashiro
                            started to conduct research on Leonardo da
                            Vinci&rsquo;s works and continued his study of
                            Renaissance art in London. In his
                            <em>My Life in the Fine Arts </em>[<em
                              >Watakushi no bijutsu henreki</em
                            >
                            (Tokyo 1972)], Yashiro explained that he Yashiro
                            left London after only six months and moved to
                            Florence. In part, he was depressed with the
                            weather. One of the reasons why he moved to Italy
                            was that Bernard Berenson, one of the most
                            influential scholars of Renaissance art, lived
                            there. Meeting Berenson and studying at Villa I
                            Tatti greatly changed Yashiro&rsquo;s life.
                          </p>
                          <p>
                            In his autobiography, and in
                            <em>Unforgettable People </em>[<em
                              >Wasure-enu hitobito</em
                            >
                            (Tokyo, 1984)]<em>,</em> Yashiro wrote that in the
                            1920s, Berenson was one of the most active and
                            influential art historians. Identifying artists by
                            stylistic analysis, Berenson searched for the
                            individual separated pieces of altars in order to
                            recreate the original image. Under Berenson's
                            direction, many scholars came together who would end
                            up at the frontline of Renaissance art studies, such
                            as
                            <semantic-link
                              uri="https://yashiro.itatti.harvard.edu/resource/person/kenneth_clark"
                              >Kenneth Clark</semantic-link
                            >. Together with other young art historians, Yashiro
                            studied Berenson and learned his method while
                            training his eyes for stylistic analysis. Soon he
                            reached a level that surprised the director of the
                            Fitzwilliam Museum by identifying the artist of a
                            painting that was being carried down an aisle. The
                            work had been considered a Domenico Ghirlandaio,
                            since it has the inscription &ldquo;Domenico,&rdquo;
                            but Yashiro recognized it as a painting by Domenico
                            Veneziano. The director was surprised that a young
                            unknown student from Asia could analyze it so
                            accurately<sup
                              ><a
                                href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#yashiroone"
                                >1</a
                              ></sup
                            >.<a name="one"></a>
                          </p>
                          <p>
                            During that period, Yashiro focused his attention on
                            Botticelli. While many people considered
                            Botticelli&rsquo;s work to have a masculine style,
                            following the analysis made by Herbert Horne,
                            Yashiro appreciated Botticelli&rsquo;s sensitive
                            expressions as feminine, and wanted to develop this
                            line of interpretation. Berenson, too, appreciated
                            Botticelli&rsquo;s unique poetic expression. He
                            described it as &ldquo;oriental,&rdquo; and
                            supported Yashiro&rsquo;s approach. Berenson also
                            sensed an &ldquo;oriental&rdquo; taste in the works
                            of the Sienese School. Yashiro wrote that perhaps
                            for Berenson, these earlier writings about an
                            Oriental style &ldquo;now seemed to have a certain
                            air of prognostication about them,&rdquo; since a
                            student from Asia shared the same taste in
                            Botticelli&rsquo;s works with Berenson<sup
                              ><a
                                href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#yashirotest"
                                >2</a
                              ></sup
                            >. <a name="two"></a>Yashiro thought fondly of the
                            days spent studying with Berenson at I Tatti and
                            wrote so in the letters to his teacher. He wrote as
                            follows in his letter to Berenson dated September 6,
                            1933:
                          </p>
                          <p class="quotes">
                            <em
                              >Thank you so much for your letter, which gave me
                              such a vivid recollection of my happy days at I
                              Tatti many years ago. I saw in my mind&rsquo;s eye
                              that spacious library, where I used to work, that
                              sunny dining room, where you kindly put me in
                              touch with various interesting people, and where I
                              had to divide my poor effort into the two most
                              important problems, how to enjoy the good food
                              served there &amp; yet how to talk or rather
                              mumble in my bad English! And the daffodils, which
                              used to burst into golden splendour in the garden
                              each Spring, the hills of Settignano covered with
                              olives, the distant view of Florence, etc. etc. I
                              am made homesick for you &amp; for your villa.</em
                            >
                          </p>
                          <p>
                            Coming back to Japan in February 1925 after
                            publishing <em>Sandro Botticelli</em> with the
                            Medici Society, Yashiro took part in the foundation
                            of the first research institute of fine arts in
                            Asia, the &ldquo;Institute of Art Research.&rdquo;
                          </p>
                          <h3 class="yamanashi-subtitles">
                            Founding the Institute of Art Research
                          </h3>
                          <p>
                            The Institute of Art Research, today known as the
                            Independent Administrative Institute, National
                            Research Institute for Cultural Properties, Tokyo,
                            originated thanks to the last will of a painter,
                            <a
                              href="http://www.tobunken.go.jp/kuroda/gallery/english/life_e.html"
                              >Kuroda Seiki</a
                            >
                            (1866-1924) and in the idea of an art historian,
                            Yashiro Yukio.<sup
                              ><a
                                href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#footnotethree"
                                >3</a
                              > </sup
                            ><a name="three"></a>Kuroda Seiki went to Paris to
                            study law in 1884 but came to be interested in
                            painting. He studied painting under Raphael Collin
                            (1850- 1916), who was a member of the academy.
                            Kuroda&rsquo;s <em>Woman Reading</em> was accepted
                            at Salon des Artiste Fran&ccedil;ois in 1891. After
                            exhibiting <em>Morning Toilet</em> at Salon de la
                            Societe Nationale des Beaux-Arts in 1893, Kuroda
                            returned to Japan and introduced the Impressionist
                            depiction of light to the Japanese art world. In
                            1896, Kuroda became an instructor in the department
                            of Western painting of the Tokyo School of Fine Art,
                            which was established that year. He also organized
                            an association of Western-style art, Hakubakai, and
                            became an influential figure in the Japanese world
                            of fine art. Becoming a member of the Jury of the
                            Bunten --which started in 1907 as the first
                            government-sponsored exhibition of fine art-- Kuroda
                            played an important role in establishing
                            Western-style oil painting as a discipline in Japan.
                          </p>
                          <p>
                            Before he died in 1924, Kuroda left provisions in
                            his last will to spend a part of his estate on a
                            project to promote the study of the fine arts. Since
                            he did not leave any specific indications about this
                            project, Makino Nobuaki was asked by Kabayama
                            Aisuke, the executor of Kuroda&rsquo;s last will, to
                            choose an appropriate project. This led to a series
                            of discussions between people who had been very
                            close to Kuroda: Masaki Naohiko, Principal of the
                            Tokyo School of Art, Fukuhara Ryojiro, Head of the
                            Imperial Academy of Art, and Kume Keiichiro, an oil
                            painter and art critic. This was the situation that
                            Yashiro found when he returned from Europe after
                            publishing his highly respected monograph
                            <em>Sandro Botticelli</em>. During his stay in
                            Europe, Yashiro had kept his position at the Tokyo
                            School of Art where he had the experience of
                            participating in Kuroda&rsquo;s painting class.
                            After Masaki asked Yashiro for his ideas about a
                            project to encourage fine arts, Yashiro explained
                            the significance of an art library focused on
                            collecting photographs. Having agreed with this
                            idea, Masaki explained it to Fukuhara and Makino.
                            Both of them agreed, and the Institute of Art
                            Research was founded. In his autobiography, Yashiro
                            recounted this momentous decision:
                          </p>
                          <p class="quotes">
                            <em
                              >During my stay in London, I saw that there was
                              such a thing as an institute that ought to be
                              called an &ldquo;art library focused on
                              photographs,&rdquo; where photographs of all kinds
                              of art works were collected, divided and
                              preserved. I myself visited there and learned so
                              much and knew how greatly this kind of library
                              contributed to society. Thinking that it might be
                              befitting to Kuroda&rsquo;s legacy to found such
                              an art library, I proposed to create such an
                              institute in Japan.<sup
                                ><a
                                  href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#footnotefour"
                                  >4</a
                                ></sup
                              ></em
                            ><a title="" href="#_edn4"><br /></a>
                          </p>
                          <p>
                            <a name="four"></a>The Art Library in London that
                            Yashiro mentioned was the one which Sir Robert Witt
                            created by himself, and with the help of his family.
                            As recounted by Yashiro:
                          </p>
                          <p class="quotes">
                            <em
                              >I became close with Sir Robert Witt and his
                              family in London. Here I got to know how
                              wonderfully the collection of photographs of works
                              of art contributes to the world of the fine arts,
                              if the quantity reaches a certain amount and if
                              the collection is well organized, even though it
                              was started as nothing very much. Using this
                              photograph collection myself, I felt its
                              significance very keenly. Thus, I decided, when I
                              returned to Japan and began my scholarly work
                              there again, to do a similar kind of work in the
                              style befitting the art of Asia and Japan. I was
                              thinking I should do this work alone if I could
                              not have anybody to work together.<sup
                                ><a
                                  href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#yashirotest"
                                  >5</a
                                ></sup
                              ></em
                            ><a title="" href="#_edn5"><br /></a>
                          </p>
                          <p>
                            <a name="five"></a>Yashiro started to collect and
                            organize the photographs in his section of the Tokyo
                            School of Art with his assistant, Shirahata Yoshi.
                            The principal of the school, Masaki, helped it by
                            recognizing its significance. This work was
                            succeeded by the staff of the institute, which was
                            founded according to Kuroda&rsquo;s last will.<sup
                              ><a
                                href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#footnotesix"
                                >6</a
                              ></sup
                            >
                            <a name="six"></a>Masaki became the first head of
                            the institute when it was founded in 1930; Yashiro
                            succeeded him in this role in November 1931. In June
                            1936, Yashiro became director of the institute.
                          </p>
                          <h3 class="yamanashi-subtitles">
                            Yashiro&rsquo;s Idea for the Institute of Art
                            Research
                          </h3>
                          <p>
                            Yashiro&rsquo;s idea of the Institute of Art
                            Research was based on his recognition that he was
                            one of the successors of the methodology of the
                            &ldquo;stylistic criticism,&rdquo; that his teacher,
                            Berenson, had established after receiving
                            inspiration from
                            <semantic-link
                              uri="https://yashiro.itatti.harvard.edu/resource/person/giovanni_morelli"
                              >Giovanni Morelli</semantic-link
                            >. Yashiro addresses this in two letters to
                            Berenson:
                          </p>
                          <p class="quotes">
                            <em
                              >Although a bad pupil &amp; lazy correspondent,
                              yet I am a little proud to tell you -- and I am
                              sure you would be glad to know -- that I could do
                              something fundamental for the future study of the
                              Oriental Art. After studying under your guidance
                              &amp; imbibing your accurate way of research-works
                              in Art, so far as I could, I found the present
                              state of art study in the Far East very
                              unsatisfactory &amp; could so far succeed as to
                              persuade the interested people in Japan to
                              establish an institute where practically your
                              method of study is to be pursued in the field of
                              Oriental Art. You may have heard of this
                              &ldquo;Institute of Art Research&rdquo; from Sir
                              Robert Witt. It is to be opened from next year
                              &amp; I am going to be its director. You will find
                              from the reports, which we are going to issue from
                              next year, that you &amp; your works are the
                              fundamental &amp; constant inspiration for us all.
                              Therefore, although I am only a bad pupil of
                              yours, being nothing but a simple artist by
                              nature, yet I am educating my assistants in strict
                              conformity to your precepts (<semantic-link
                                uri="https://yashiro.itatti.harvard.edu/resource/document/Letter_014"
                                >letter of October 4, 1927</semantic-link
                              >). </em
                            ><a title="" href="#_edn7"><br /></a>
                          </p>
                          <p class="quotes">
                            <em
                              >What I want really to show to you is the work
                              itself, and it is one of my most cherished dreams
                              to be told by Mr. Berenson that he did not educate
                              Yuki uselessly, seeing that a new method of study
                              in the field of Oriental art is actually being
                              opened according to the idea of Mr. Berenson,
                              transmitted to the Far East by Yuki!! I hope that
                              Mr. Berenson would consider it one of his duties
                              to pay a visit to Tokio to examine what sort of
                              work his pupil is beginning (<semantic-link
                                uri="https://yashiro.itatti.harvard.edu/resource/document/Letter_017"
                                >letter of August 1, 1928</semantic-link
                              >).</em
                            ><a title="" href="#_edn8"><br /></a>
                          </p>
                          <p>
                            Yashiro was highly recognized in the European art
                            history world for his stylistic analysis of
                            Botticelli's works. With the aid of photographs, he
                            closely studied the style of an artist by closely
                            comparing images of his paintngs. Yashiro aimed to
                            apply this method to study the art of Japan and
                            Asia, and thus to establish a new method for
                            studying Asian art.<sup
                              ><a
                                href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#footnoteseven"
                                >7</a
                              ></sup
                            ><a name="seven"></a>Yashiro&rsquo;s experience of
                            using the Robert Witt Library in London and studying
                            in Berenson&rsquo;s library--both containing
                            significant collections of books and
                            photographs--seems to have led him to the idea of
                            the Institute of Art Research. Berenson&rsquo;s
                            interest in Asian art must have encouraged Yashiro
                            in this project. In some letters to Berenson,
                            Yashiro lamented that his articles on Asian art were
                            written only in Japanese, which Berenson was unable
                            to read. As Yashiro wrote to his teacher:
                          </p>
                          <p class="quotes">
                            <em
                              >It is already since 1928 that I have not seen
                              you. I have become much older. These years I have
                              been devoted to the study of Chinese painting and
                              I have published various articles on the subject.
                              But working chiefly in Japan, all my publications
                              are in my own language and I regret that I cannot
                              ask you to examine what sort of work I am doing in
                              the field of Far Eastern Art, after my years of
                              apprenticeship, so to speak, in the field of
                              Italian painting under your guidance &amp;
                              inspiration (<a
                                href="https://yashiro.itatti.harvard.edu/resource/document/Letter_024"
                                >letter of January 20, 1936</a
                              >).</em
                            ><a title="" href="#_edn10"><br /></a>
                          </p>
                          <p>
                            The Institute of Art Research, being part of the
                            Imperial Academy of Art, was an official public
                            institute. In contrast, the libraries of Robert Witt
                            and Bernard Berenson, which provided modes for the
                            Institute of Art Research, were both private, though
                            public photo archives already existed in the
                            Victoria and Albert Museum (London) and the
                            Accademia di Brera (Milan). In Asia, the Institute
                            of Art Research is the first example of a public art
                            history research center with a major photo archive.
                          </p>
                          <p>
                            Needless to say, Yashiro&rsquo;s design would not be
                            fully realized until the institute had obtained a
                            considerable number of books and photographs. In a
                            new journal, he expressed his views about the newly
                            founded institute.
                          </p>
                          <p class="quotes">
                            <em
                              >The Institute of Art Research today is not an art
                              library. The building of the Institute does not
                              have sufficient facilities, and the budget is far
                              less than what people would expect to run an art
                              library. The Institute, in the situation today, is
                              expected to work as a research institute which
                              conducts research and contributes to society by
                              publicizing its results as books or periodicals.
                              Considering the general situation of art research,
                              the maintenance level of art administration and
                              education, and international relations in the
                              world of fine arts in Japan, it would be
                              considered more urgent work of this institute to
                              focus on conducting basic research on the works of
                              art and sharing the results with society.<sup
                                ><a
                                  href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#footnoteeight"
                                  >8</a
                                ></sup
                              ></em
                            ><a title="" href="#_edn11"><br /></a>
                          </p>
                          <p>
                            <a name="eight"></a>Yashiro also wrote the
                            &ldquo;Main Principles of the Research of the
                            Institute Today&rdquo;:
                          </p>
                          <p>
                            1) Editing complete inventories of Asian art. In
                            addition, collecting biographies of the artists in
                            Asia, signatures and seals, and editing the basic
                            materials related to fine art. The inventory of
                            Asian art is a vast project to make a census of
                            Asian art, combined with photographs. This project
                            started with the help of the Keimeikai Foundation,
                            which the Institute of Art Research will succeed to
                            accomplish as a national project.
                          </p>
                          <p>
                            2) Making a bibliography of art-related materials.
                          </p>
                          <p>
                            3) Editing the <em>Yearbook of Japanese Art</em>,
                            including newspaper clippings. Through this work,
                            materials on art relating to society would be
                            collected chronologically.
                          </p>
                          <p>
                            4) Keeping mutual relations between the art-related
                            institute and organization overseas, and collecting
                            information, although studying Western art in Japan
                            is not easy. The information should be open to the
                            public to contribute to the international relations
                            in the field of art, introducing Japanese art to the
                            other nations and to the people who study art and
                            art history overseas.
                          </p>
                          <p>
                            5) Research on art administration and education.
                            Collecting materials on fine art museums, the
                            organization of the art academy, the National policy
                            for the protection of the works of art, and the
                            curriculum of the schools of art and art craft,
                            making use of this material to innovate Japanese
                            organizations and education.
                          </p>
                          <p>
                            6) Research on techniques and materials related to
                            fine art. Although its necessity is recognized, it
                            is hard to accomplish at this moment. To encourage
                            the development of a new art which suits the new
                            age, Japanese traditional materials and techniques
                            should be examined and protected if necessary. The
                            materials and techniques of other countries have to
                            be examined and discussed if they suit Japan and the
                            taste of Japanese people.
                          </p>
                          <p>
                            There were three research departments in the
                            Institute before 1945.<sup
                              ><a
                                href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#footnotenine"
                                >9</a
                              > </sup
                            ><a name="nine"></a>The First Department conducted
                            research on ancient and pre-modern Asian art, and
                            the Second Department conducted research on modern
                            Japanese art. The Third Department was responsible
                            for research on art in Europe and the United States;
                            research on Asian art in Europe and the United
                            States; and international relations as related to
                            the fine arts.
                          </p>
                          <p>
                            While Yashiro was very proud of being one of the
                            Berenson's students, at the forefront of Renaissance
                            Art studies, he recognized the difficulty of
                            studying European Art in Japan; at that time, there
                            were very few works and materials related to
                            European art available in Japan. Yashiro purchased
                            photographs of European art works when he went
                            abroad and added them to the collection of the
                            Institute of Art Research. Those were catalogued by
                            artists&rsquo; names or schools and made available
                            to the public.<sup
                              ><a
                                href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#footnoteten"
                                >10</a
                              ></sup
                            ><a title="" href="#_edn13"><br /></a>
                          </p>
                          <p>
                            <a name="ten"></a>Under Yashiro&rsquo;s strong
                            leadership, the Institute of Art Research produced
                            fruitful results. As he wrote to Berenson:
                          </p>
                          <p class="quotes">
                            <em
                              >I am all in all immersed in my Eastern studies,
                              especially in my Chinese studies. With what I have
                              got, while I was with you, under your influence, I
                              am now trying my best to establish a new history
                              of Eastern Arts. I am writing a series of
                              scholarly articles, which I publish now &amp; then
                              in the &ldquo;Journal of Art Studies&rdquo;, which
                              I am sending you. When these articles are
                              collected so that they form a book, I shall have
                              them translate into English (<semantic-link
                                uri="https://yashiro.itatti.harvard.edu/resource/document/Letter_023"
                                >letter of January 7, 1935</semantic-link
                              >).</em
                            ><a title="" href="#_edn14"><br /></a>
                          </p>
                          <h3 class="yamanashi-subtitles">
                            Yashiro after Retirement from the Institute of Art
                            Research
                          </h3>
                          <p>
                            On June 28, 1942, Yashiro resigned from the
                            Institute to he had devoted himself to so much of
                            his life. As he explained in his autobiography, he
                            took responsibility for misreading an imperial
                            proclamation.<sup
                              ><a
                                href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#footnoteeleven"
                                >11</a
                              ></sup
                            ><a name="eleven"></a>After this, Yashiro moved to
                            Oiso, located in Kanagawa prefecture, and spent his
                            time writing
                            <em
                              >The Characteristics of Japanese Art (Nihonbijutsu
                              no Tokushitsu,</em
                            >
                            Tokyo 1943), among other works. In 1950, when the
                            Cultural Properties Protection Law was established,
                            Yashiro became a member of the committee of the
                            Cultural Properties Protection. In April 1952, with
                            the reconstruction of the Institute of Art Research,
                            Yashiro became the director again and worked until
                            October 1953. At the request of Oita Torao,
                            president of the Kintetsu Railroad company, Yashiro
                            worked to develop the fine art museum
                            <a
                              href="http://www.kintetsu-g-hd.co.jp/culture/yamato/foreign/english.html"
                              >Yamato Bunkakan </a
                            >in Nara, and became the director when it opened in
                            1960. In 1970, he resigned as director and was
                            decorated as a person of cultural merits because of
                            his long contribution to the world of art. Yashiro
                            passed away on May 25, 1975, at the age of 84.
                          </p>
                          <p>
                            Although Yashiro contributed in various ways to the
                            world of fine art, he was most devoted to the work
                            in the creation and running of the Institute of Art
                            Research. Yashiro&rsquo;s devotion to the Institute
                            rests, in part, on his sweet and happy memories of
                            younger days studying under Berenson at I Tatti and
                            his strong desire to use Berenson&rsquo;s method in
                            the field of Asian art. On this subject, the letters
                            between Berenson and Yashiro, the teacher and his
                            student, clearly reveal the goals and achievements
                            of Yashiro, and the keen interest of Berenson
                            himself.
                          </p>
                          <h3 class="yamanashi-subtitles">
                            The Institute of Art Research after the War
                          </h3>
                          <p>
                            In 1952, the Institute of Art Research became the
                            Tokyo National Research Institute of Cultural
                            Properties, with Departments of Conservation
                            Science, Performing Arts, and Fine Arts. Other
                            departments were added at a later date: Restoration
                            Techniques, Information and Archives, and the Center
                            for International Cooperation in Conservation. In
                            2001, it was restructured and became an independent
                            administrative institute, known as the National
                            Research Institute for Cultural Properties (Tokyo).
                            Although the names of the departments and sections
                            were changed since its inception, the Institute
                            still maintains the same pillars described decades
                            ago by Yashiro: research on tangible and intangible
                            cultural properties, and on conservation and
                            restoration; the collecting, organizing and
                            publication of research materials; and international
                            cooperation. The works acquired after World War II
                            had been already suggested in Yashiro&rsquo;s
                            original idea for the Institute of Art Research.
                            Today, the library has over 241,000 volumes of books
                            and periodicals of cultural properties and 260,000
                            photographs of works of art. The seed that was
                            planted in Yashiro&rsquo;s mind at Villa I Tatti
                            grew into the Institute of Art Research in Japan.
                            Despite many changes, Yashiro's original concept for
                            the center still survives today.<br /><br />
                          </p>

                          <ol>
                            <li>
                              Yashiro, <em>My Life in the Fine Arts,</em> 1952,
                              93-95; click

                              <semantic-link
                                uri="https://yashiro.itatti.harvard.edu/resource/7-mr-berenson-and-his-circle"
                                >here</semantic-link
                              >
                              for translation of entire chapter. On this
                              episode, also see the
                              <semantic-link
                                uri="https://yashiro.itatti.harvard.edu/resource/Presentation"
                                >introduction</semantic-link
                              >
                              to the exhibition.
                            </li>

                            <li>
                              Yashiro,
                              <em>My Life in the Fine Arts</em>, 87.
                            </li>

                            <li>
                              For more information
                              about the Institute, and to search its archives, see
                              the website:
                              <a href="http://www.tobunken.go.jp/index_e.html"
                                >http://www.tobunken.go.jp/index_e.html
                            </li>

                            <li>
                              Yashiro,
                              <em>My Life in the Fine Arts,</em> 239-240.
                            </li>

                            <li>
                              Yashiro, <em>My Life in the Fine Arts</em>,
                              242-243.
                            </li>

                            <li>
                              Yashiro,
                              <em>My Life in the Fine Arts, </em>242-243.
                            </li>

                            <li>
                              Yashiro,
                              <em>My Life in the Fine Arts</em>, 234-264.
                            </li>

                            <li>
                              Yashiro Yukio,
                            &ldquo;Foundation of the Institute of Art Research
                            and the Publication of the
                            <em>Journal of Art Studies</em>,&rdquo;<em>
                              Journal of art Studies</em
                            >
                            1 (January 1932) [&ldquo;<em
                              >Bijutsu Kenkusho no setsuritu to Bijutsu Kenkyu
                              no hakkan&rdquo;, Bijutsu Kenkyu, </em
                            >pp1-7
                            </li>

                            <li>
                              Regulation of the
                              Institute of Art Research (established in November
                              1937),
                              <em>List of the Institute of Art Research,</em>
                              Institute of Art Research, January 1938.
                            </li>

                            <li>
                              These photographs are
                            still in the collection of the National Research
                            Institute for Cultural Properties, developed from
                            the Institute of Art Research as its origin, and are
                            available to the public.
                            </li>

                            <li>
                              After the Emperor
                            announced the involvement in the Pacific War on
                            December 8, 1941, with the rescript of the war,
                            reading the rescript with a formal suit became a
                            duty of the heads of the government institutions. On
                            January 8, 1942, Yashiro did not wear a formal suit
                            and misread the rescript of the war. It is said that
                            some of the staff of the Institute felt against
                            Yashiro because of this and submitted their letters
                            of resignation. Yashiro received them, and he
                            himself resigned from the Institute of Art Research.
                            See Yashiro, <em>My Life in the Fine Arts, </em>334;
                            and Yashiro,
                            <semantic-link
                              uri="https://yashiro.itatti.harvard.edu/resource/document/Letter_036"
                              >letter of May 9, 1948</semantic-link
                            >
                            </li>
                          </ol>
                          <!--
                          <p>
                            <semantic-link
                              iri="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#one"
                              >1</semantic-link
                            >

                            . <a name="yashiroone"></a><br /><semantic-link
                              uri="https://yashiro.itatti.harvard.edu/resource/yamanashi#two"
                              >2</semantic-link
                            >. <a name="yashirotest"></a><br />

                            <a
                              href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#three"
                              >3</a
                            >. <a name="footnotethree"></a><br /> </a
                            ><a
                              href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#four"
                              >4</a
                            >. <a name="footnotefour"></a><br />

                            <a
                              href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#five"
                              >5</a
                            >. <br />

                            <a
                              href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#six"
                              >6</a
                            >.<a name="footnotefive"></a><br />

                            <a
                              href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#seven"
                              >7</a
                            >. <a name="footnoteseven"></a><br />

                            <a
                              href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#eight"
                              >8</a
                            >. <a name="footnoteeight"></a><br />

                            <a
                              href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#nine"
                              >9</a
                            >. <a name="footnotenine"></a><br />

                            <a
                              href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#ten"
                              >10</a
                            >. <a name="footnoteten"></a><br />

                            <a
                              href="https://yashiro.itatti.harvard.edu/resource/yashiro:yamanashi#eleven"
                              >11</a
                            >. <a name="footnoteeleven"></a>.
                          </p>
                          -->
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- main container end -->
</div>
<!-- /main container end -->
[[> "https://yashiro.itatti.harvard.edu/resource/footer"]]
