
<!-- main container open -->

<div id="main-container" class="container">
    <!-- /main container open -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div id="home-letter">
                    <p class="paragraph-top">"This Exhibition presents the extant correspondence - nearly all unpublished - between Bernard Berenson and Yukio Yashiro. At the height of their fame they were among the most influential art historians in the West and in Japan, respectively." [...]
                         <semantic-link iri="yashiro:Presentation">(read more)</semantic-link>
                        
                        </p>
                    <div class="or-spacer">
                        <div class="mask"></div>
                    </div>
                    <p class="paragraph-bottom">The correspondence is available in the <semantic-link iri="yashiro:Letters">Letters</semantic-link> section. Alternatively, you can read the <semantic-link iri="yashiro:introduction">introduction</semantic-link> by Michiaki Koshikawa.</p>
                    <p class="paragraph-bottom">This collection also hosts digital editions of <semantic-link iri="yashiro:autobiography-table-of-contents">Texts by Yashiro</semantic-link> and <semantic-link iri="yashiro:john-hatcher">studies</semantic-link> on yashiro.</p>
                </div>
            </div>
        </div>
        <div id="subtitle-home"></div>
    </div>


    <style>
        #paragraph-middle {
            height: 60px;
        }

        #main-container {
            background-image: url("/assets/images/yashiro_home.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            min-height: 700px;
        }
        .container-fluid{
            min-height: 94vh;
            padding-bottom: 40px;
            height: fit-content;
        }

        #home-letter {
            padding: 40px;
            padding-top: 50px;
            box-shadow: 0px 0px 9px 0px rgb(191 192 186);
            background-color: rgb(255 253 248);
            margin-top: 120px;
            filter: saturate(2.5);
            width: 88%;
            letter-spacing: 0.4px;
        }

        .paragraph-top {
            font-family: Georgia, Serif;
            text-align: center;
            line-height: 1.8;
            font-size: 18px;
        }

        .paragraph-bottom {
            font-family: Lato;
            text-transform: uppercase;
            text-align: center;
            font-size: 16px;
            font-weight:100;
        }

        .paragraph-bottom a {
            color: black !important;
            text-decoration: underline;
            font-weight:400;
        }
        .paragraph-bottom a:hover {
            color: rgba(0, 0, 0, 0.40) !important;
            text-decoration: underline;
        }

        .paragraph-top a {
            color: rgba(0, 0, 0, 0.4);
            font-family: Lato;
            font-size: 12px;
        }


        .or-spacer {
            width: 100%;
            margin-top: 50px;
            margin-bottom: 40px;
            position: relative;
        }
        .or-spacer .mask {
            overflow: hidden;
            height: 20px;
        }
        .or-spacer .mask:after {
            content: '';
            display: block;
            margin: -25px auto 0;
            width: 100%;
            height: 25px;
            border-radius: 125px / 12px;
            box-shadow: 0 0 8px black;
        }
        .or-spacer span {
            width: 50px;
            height: 50px;
            position: absolute;
            bottom: 100%;
            margin-bottom: -25px;
            left: 50%;
            margin-left: -25px;
            border-radius: 100%;
            box-shadow: 0 2px 4px #999;
            background: white;
        }

    </style>
    <!-- main container end -->
</div>
<!-- /main container end -->


[[> "https://yashiro.itatti.harvard.edu/resource/footer"]]


