<div class="person-card">
  <div class="panel-body">
    <bs-col md="4">
      <div class="grid-demo">
        <semantic-query
          query='SELECT ?localImage WHERE {<{{subject.value}}> crm:P138i_has_representation ?filename.
            BIND(REPLACE(STR(?filename),"https://yashiro.itatti.harvard.edu/","/assets/") as ?localImage) }LIMIT 1'
          template='{{> thumbTemplate }}'>
           <template id='thumbTemplate'>
             {{#each bindings}}
              <img src="{{localImage.value}}"/>
             {{/each}}
           </template>
        </semantic-query>
      </div>
    </bs-col>
    <bs-col md="8">
      <div data-flex-layout="row md-column center-stretch">
        <bs-row>
          <bs-col md="12">
            <h4>
              <mp-label iri="{{subject.value}}"></mp-label>
            </h4>
          </bs-col>
          <bs-col md="12">
              <semantic-query
                query='SELECT DISTINCT ?info WHERE { <{{subject.value}}>  <http://www.cidoc-crm.org/cidoc-crm/P70i_is_documented_in> ?subtitle_node .
                ?subtitle_node rdf:value ?info .}LIMIT 10'
                template='{{> documentedIn }}'>
                 <template id='documentedIn'>
                   {{#each bindings}}
                    <div>{{info.value}}</div>
                   {{/each}}
                 </template>
              </semantic-query>
        </bs-col>
        <bs-col md="12">
          <semantic-query
            query='SELECT DISTINCT ?letter ?letterLink ?letterLabel  (COUNT (?letter) as ?count) WHERE { 
                  ?subject crm:P1_is_identified_by ?letter.
                  ?activity crm:P16_used_specific_object ?letter.
                  ?letter rdfs:label ?label.
                  ?letterLink crm:P1_is_identified_by ?letter.
                  ?activity crm:P01_has_domain ?sender_carry.
                  ?sender_carry crm:P14.1_in_the_role_of ?sender_role.
                  ?sender_role rdfs:label "Sender".
                  ?sender_carry crm:P02_has_range <{{subject.value}}>
                  BIND(REPLACE(?label,"Letter_","") as ?letterLabel)
                }GROUP BY ?letter ?letterLink ?letterLabel'
            template='{{> sent }}'>
             <template id='sent'>
               {{#ifCond  bindings.0.count.value "!==" "0"}}
                 <div style="margin-top: 15px;">Sent {{bindings.0.count.value}} letter(s):</div>
                 <div style="    display: flex;
    flex-wrap: wrap;
    max-width: 35vw;
    gap: 8px;">
                    {{#each bindings}}
                      <semantic-link iri="{{letterLink.value}}"  style="font-weight: bold;">{{letterLabel.value}}</semantic-link>
                    {{/each}}
                 </div>
              {{/ifCond}}
             </template>
          </semantic-query>
            <semantic-query
            query='SELECT DISTINCT ?letter  ?letterLink ?letterLabel (COUNT (?letter) as ?count) WHERE { 
              ?subject crm:P1_is_identified_by ?letter.
              ?activity crm:P16_used_specific_object ?letter.
              ?letter rdfs:label ?label.
              ?letterLink crm:P1_is_identified_by ?letter.
              ?activity crm:P01_has_domain ?receiver_carry.
              ?receiver_carry crm:P14.1_in_the_role_of ?receiver_role.
              ?receiver_role rdfs:label "Receiver".
              ?receiver_carry crm:P02_has_range <{{subject.value}}>
              BIND(REPLACE(?label,"Letter_","") as ?letterLabel)
            }GROUP BY ?letterLink ?letter ?letterLabel'
            template='{{> receive }}'>
            <template id='receive'>
              {{#ifCond  bindings.0.count.value "!==" "0"}}
              <div style="margin-top: 15px;">Received {{bindings.0.count.value}} letter(s):</div>
              <div style="    display: flex;
              flex-wrap: wrap;
              max-width: 35vw;
              gap: 8px;">
                  {{#each bindings}}
                    <semantic-link iri="{{letterLink.value}}" style="font-weight: bold;">{{letterLabel.value}}</semantic-link>
                  {{/each}}
              </div>
              {{/ifCond}}
            </template>
            </semantic-query>
            <semantic-query
            query='SELECT DISTINCT ?letter ?letterLabel (COUNT (?letter) as ?count) WHERE { 
              ?a oa:hasTarget ?target.
              ?target oa:hasSource ?letter. 
              ?a oa:hasBody ?body.
              ?body crm:P1_is_identified_by <{{subject.value}}>.
              ?letter rdfs:label ?label.
              BIND(REPLACE(?label,"Letter_","") as ?letterLabel)
            }GROUP BY ?letter ?letterLabel'
            template='{{> annotation }}'>
            <template id='annotation'>
              {{#ifCond  bindings.0.count.value "!==" "0"}}
              <div style="margin-top: 15px;">Mentioned in {{bindings.0.count.value}} letter(s):</div>
              <div style="    display: flex;
    flex-wrap: wrap;
    max-width: 35vw;
    gap: 8px;">
                  {{#each bindings}}
                    <semantic-link iri="{{letter.value}}" style="font-weight: bold;">{{letterLabel.value}}</semantic-link>
                  {{/each}}
              </div>
              {{/ifCond}}
            </template>
          </semantic-query>
         </bs-col>
        </bs-row>
      </div>
    </bs-col>
  </div>
</div>



