[[> "https://yashiro.itatti.harvard.edu/resource/header"]]
<!-- main container open -->
<div id="main-container" class="container">
  <!-- /main container open -->

  <div>
    <header>
      <h1>Autobiography</h1>
    </header>

    <article>
      <h3>
        Yashiro Yukio,
        <em
          >My Life in the Fine Arts [Watakushi no bijutsu henreki] Tokyo,
          1972</em
        >
      </h3>
      <h3>Table of Contents</h3>
      <p
        style="
          text-align: center;
          border-radius: 5px;
          cursor: zoom-in;
          background: #f3f3f3;
          margin-top: 20px;
          margin-bottom: 25px;
        "
      >
      <mp-overlay-dialog title="Yashiro Sketch" type="lightbox">
        <mp-overlay-dialog-trigger>
          <div>
            <img
          title=""
          src="/../../assets/images/gallery/dario_neri_yukio_yashiro_1956_small.jpg"
          alt="Yashiro Sketch"
          width="219"
          height="304"
        />
         </div>
        </mp-overlay-dialog-trigger>
        <mp-overlay-dialog-content>
          <img
            src="/../../assets/images/gallery/dario_neri_yukio_yashiro_1956.jpg"
          />
        </mp-overlay-dialog-content>
      </mp-overlay-dialog>

      </p>
      <p>
        For translations of chapters 7-10, made for this exhibition, click links
        below. Translation by Peter Bernard; notes by Peter Bernard and Jonathan
        Nelson
      </p>
      <p></p>

      <ol>
        <li>Birth in Yokohama</li>
        <li>A Student with a Fondness for Paintings</li>
        <li>Lecturer at Art School</li>
        <li>Interpreting for Tagore, the Indian Poet</li>
        <li>Mr. Sankei and the Sankei-en Group</li>
        <li>
       Mr. Berenson and His Circle
        </li>
        <li>
          <semantic-link
          uri="https://yashiro.itatti.harvard.edu/resource/7-mr-berenson-and-his-circle"
          >The Discovery of Botticelli&rsquo;s Pala delle
            Convertite</semantic-link>
        </li>
        <li> 
          <semantic-link
            uri="https://yashiro.itatti.harvard.edu/resource/8-discovery-botticelli"
            >
              The Publication of <em>Sandro Botticelli</em> in London<br/>
            </semantic-link>
        </li>
        <li>
          <semantic-link
          uri="https://yashiro.itatti.harvard.edu/resource/9-publication-sandro-botticelli"
          >
            I Miss My Chance to Purchase a Work by Botticelli</semantic-link>
        </li>
        <li>
          <semantic-link
          uri="https://yashiro.itatti.harvard.edu/resource/10-i-miss-my-chance-purchase-work-botticelli"
          >
          Southern Europe and Northern Europe
        </semantic-link></li>
        <li>Nature and the Fine Arts in Russia</li>
        <li>Assisting with the Matsukata Collection</li>
        <li>
          Return to the East&mdash;The Establishment of the Art Research
          Institute
        </li>
        <li>Exhibition of Contemporary <em>nihonga</em> in Germany</li>
        <li>Lecturer at Harvard University</li>
        <li>
          <em>Minister Kibi&rsquo;s Adventures in China</em>&mdash;Around the
          Time of My Arrival in Boston
        </li>
        <li>Visiting Professor at Various British Universities</li>
        <li>
          From the Time of the Major Exhibition on Chinese Art in London until
          My Travels in China
        </li>
        <li>War; Seclusion in Ōiso</li>
        <li>
          Defeat; The Occupying Forces&rsquo; Protection of Art; On Mr. Warner
        </li>
        <li>
          The Destruction of the Hōryū-ji Wall Paintings by Fire and the
          Establishment of the Committee for the Protection of Cultural
          Properties
        </li>
        <li>
          The Opening Abroad of a Major Postwar Exhibition on Ancient Japanese
          Art
        </li>
        <li>The Establishment of the Yamato Bunkakan</li>
        <li>On Charles L. Freer, an Admirer of Japanese Art</li>
        <li>In Place of an Afterword</li>
        <li>List of Works by the Author</li>
      </ol>
    </article>

    <!-- main container end -->
  </div>
  <!-- /main container end -->
  [[> "https://yashiro.itatti.harvard.edu/resource/footer"]]
</div>