
<!-- main container open -->

<div id="main-container" class="container">
  <!-- /main container open -->
  <header>
    <h1>Gallery</h1>
  </header>

  <div class="container-fluid gallery-container">
    <div class="row">
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Yashiro, View of Florence, ca.1921" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
              src="/../../assets/images/gallery/yashiro_view_of_florence_ca_1921(1).jpg"
              class="img-thumbnail"
            />
            <label>Yashiro, View of Florence, ca.1921</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/yashiro_view_of_florence_ca_1921(1).jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Yashiro, View of Florence, ca.1921" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
              <img
              src="/../../assets/images/gallery/yashiro_view_of_florence_ca_1921.jpg"
              class="img-thumbnail"
            />
            <label>Yashiro, View of Florence, ca.1921</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/yashiro_view_of_florence_ca_1921.jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
      <div class="col-md-4">
        <mp-overlay-dialog title="Yukio Yashiro, 1960s" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
              <img
              src="/../../assets/images/gallery/yukio_yashiro_1960s.jpg"
              class="img-thumbnail"
            />
            <label>Yukio Yashiro, 1960s</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
              src="/../../assets/images/gallery/yukio_yashiro_1960s.jpg"
            />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Akio, Fumi, and Nicky, 1956" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
             src="/../../assets/images/gallery/akio_fumi_niki_1956(1).jpg"
              class="img-thumbnail"
            />
            <label>Akio, Fumi, and Nicky, 1956</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
           src="/../../assets/images/gallery/akio_fumi_niki_1956(1).jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Akio, Fumi, and Nicky, 1956" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
              src="/../../assets/images/gallery/akio_fumi_niki_1956(2).jpg"
              class="img-thumbnail"
            />
            <label>Akio, Fumi, and Nicky, 1956</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/akio_fumi_niki_1956(2).jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Akio, Fumi, and Nicky, 1956" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
              src="/../../assets/images/gallery/akio_fumi_niki_1956(3).jpg"
              class="img-thumbnail"
            />
            <label>Akio, Fumi, and Nicky, 1956</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/akio_fumi_niki_1956(3).jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Chinese Lion, given to Yashiro in 1959" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
              src="/../../assets/images/gallery/chinese_lion_given_to_yashiro_1959(1).jpg""
              class="img-thumbnail"
            />
            <label>Chinese Lion, given to Yashiro in 1959</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/chinese_lion_given_to_yashiro_1959(1).jpg""
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Chinese Lion, given to Yashiro in 1959" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
              src="/../../assets/images/gallery/chinese_lion_given_to_yashiro_1959.jpg"
              class="img-thumbnail"
            />
            <label>Chinese Lion, given to Yashiro in 1959</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/chinese_lion_given_to_yashiro_1959.jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Chinese Scroll" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
              src="/../../assets/images/gallery/chinese_scroll.jpg"
              class="img-thumbnail"
            />
            <label>Chinese Scroll</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/chinese_scroll.jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Container for Chinese Scroll" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
              src="/../../assets/images/gallery/container_for_chinese_scroll.jpg"
              class="img-thumbnail"
            />
            <label>Container for Chinese Scroll</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/container_for_chinese_scroll.jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Dario Neri, Yukio Yashiro, 1956" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
              src="/../../assets/images/gallery/dario_neri_yukio_yashiro_1956.jpg"
              class="img-thumbnail"
            />
            <label>Dario Neri, Yukio Yashiro, 1956</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/dario_neri_yukio_yashiro_1956.jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Detail of Chinese Scroll" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
              src="/../../assets/images/gallery/detail_of_chinese_scroll.jpg"
              class="img-thumbnail"
            />
            <label>Detail of Chinese Scroll</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/detail_of_chinese_scroll.jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Dunham and Berenson, 1949" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
            src="/../../assets/images/gallery/dunham_and_berenson_1949.jpg"
              class="img-thumbnail"
            />
            <label>‎‎Dunham and Berenson, 1949</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/dunham_and_berenson_1949.jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Dunham and Yashiro, 1957" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
              src="/../../assets/images/gallery/dunham_and_yashiro_1957.jpg"
              class="img-thumbnail"
            />
            <label>Dunham and Yashiro, 1957</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/dunham_and_yashiro_1957.jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Fumi Yashiro, 1926" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
              src="/../../assets/images/gallery/fumi_yashiro_1926.jpg"
              class="img-thumbnail"
            />
            <label>Fumi Yashiro, 1926</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/fumi_yashiro_1926.jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Yashiro and Fumi in London, 1956" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
              src="/../../assets/images/gallery/yashiro_and_fumi_london_1956.jpg"
              class="img-thumbnail"
            />
            <label>Yashiro and Fumi in London, 1956</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/yashiro_and_fumi_london_1956.jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Yashiro at Piazzale Michelangelo, ca.1921" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
              src="/../../assets/images/gallery/yashiro_at_piazzale_michelangelo_ca_1921.jpg"
              class="img-thumbnail"
            />
            <label>Yashiro at Piazzale Michelangelo, ca.1921</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/yashiro_at_piazzale_michelangelo_ca_1921.jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Yashiro Family, 1940" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
              src="/../../assets/images/gallery/yashiro_family_1940.jpg"
              class="img-thumbnail"
            />
            <label>Yashiro Family, 1940</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/yashiro_family_1940.jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mp-overlay-dialog title="‎‎Yukio Yashiro, ca. 1921" type="lightbox">
          <mp-overlay-dialog-trigger>
            <div>
            <img
              src="/../../assets/images/gallery/yukio_yashiro_ca_1921.jpg"
              class="img-thumbnail"
            />
            <label>Yukio Yashiro, ca. 1921</label>
           </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <img
            src="/../../assets/images/gallery/yukio_yashiro_ca_1921.jpg"
          />
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </div>

  <style>
    .gallery-container .img-thumbnail {
      float: left;
      padding: 0;
      width: 100%;
      cursor:zoom-in;
      height: 400px;
      object-fit: cover;
    }

    .gallery-container .row {
      margin-bottom: 20px;
    }

    .gallery-container label {
      color: black;
    }
  </style>

  <!-- main container end -->
</div>
<!-- /main container end -->

[[> "https://yashiro.itatti.harvard.edu/resource/footer"]]
