[[> "https://yashiro.itatti.harvard.edu/resource/header"]]
<!-- main container open -->
<div id="main-container" class="container">
  <!-- /main container open -->

  <div>
    <a name="main-content"></a>
    <header>
      <a name="main-content"></a>
      <h1>Colophon</h1>
    </header>
      <article>
        <div>
          <ul>
            <li>
              <strong>Exhibition Curators:</strong> Jonathan K.
              <strong>Nelson</strong> (Assistant Director for
              Academic Programs and Publication, Villa I Tatti,
              Florence), Emiko
              <strong>Yamanashi</strong> (Director, Department
              of Art Research, Archives and Information Systems,
              National Research Institute for Cultural
              Properties, Tokyo), and Michiaki
              <strong>Koshikawa</strong> (Professor, Tokyo
              University of the Arts, Department of Aesthetics
              and Art History)
            </li>
            <li>
              <strong>Catalog Editor: </strong>Jonathan K.
              <strong>Nelson</strong>
            </li>
            <li>
              <strong>Web Producer: </strong>Lukas
              <strong>Klic</strong> (Manager of&nbsp;Information
              Services &amp; Digital Initiatives, Villa I
              Tatti)<br />
            </li>
            <li>
              <strong>Curatorial Assistant: </strong>Cristina J.
              <strong>Garza</strong> (M.A. candidate, Syracuse
              University in Florence)
            </li>
            <li>
              <strong>Translators</strong>: Peter Bernard (Ph.D.
              candidate, Japanese literature, EALC, Harvard
              University), for Yukio Yashiro&rsquo;s
              autobiography; Martha J. McClintock, for Wakaba
              Yashiro&rsquo;s letter
            </li>
            <li>
              <strong>Advisory Board at I Tatti</strong>: Lino
              <strong>Pertile</strong> (Director), Ilaria
              <strong>Della Monica</strong> (Archivist),
              Giovanni
              <strong>Pagliarulo</strong> (Curator)<br />
            </li>
          </ul>
          <div id="dedicatedTo">
            <h2>
              <strong
                >***<br />Dedicated to Bernard Berenson </strong
              ><strong
                ><br /><strong
                  >on the 150<sup>th</sup> anniversary of his
                  birth (June 26, 1865)</strong
                ><br /><strong>and to Yukio Yashiro </strong
                ><br /><strong
                  >on the 40<sup>th</sup> anniversary of his
                  death (May 25, 1975)<br />***</strong
                ></strong
              >
            </h2>
            <h2>
              <strong><strong>Acknowledgements</strong></strong>
            </h2>
          </div>
          <div>
            <div>
              <div>
                <p>
                  This exhibition is supported by the United
                  States Embassy, Tokyo. <br /><br />Financial
                  support for the exhibition and related
                  research: The Lila Wallace &ndash;
                  Reader&rsquo;s Digest Endowment Fund at I
                  Tatti; Japan Society for the Promotion of
                  Science; Foundation for Cultural Heritage and
                  Art Research, Tokyo; and National Research
                  Institute for Cultural Properties, Tokyo.
                </p>
                <p>
                  The curators thank Iwanami Shoten (Tokyo), for
                  permission to translate chapters from
                  Yashiro's autobiography; Wakaba Yashiro
                  (daughter-in-law of Yukio Yashiro), for
                  permission to publish the letters and
                  photographs of Yukio Yashiro; The Medici
                  Society (London), for permission to post
                  Yashiro&rsquo;s <em>Botticelli </em>online,
                  and the publishers who gave permission to post
                  the studies about Yashiro and Berenson. The
                  curators gratefully acknowledge the authors
                  for their contributions: Michael M. Gorman
                  (Milan and Toscolano Maderno); John Trevor
                  Hatcher (Professor, Fukuoka University); Carl
                  Brandon Strehlke (Curator Emeritus,
                  Philadelphia Museum of Art); and Akira
                  Takagishi (Associate Professor, University of
                  Tokyo).
                </p>
                <p>
                  The Berenson letters were transcribed by Sanne
                  Wellen (Photograph Cataloger, Villa I Tatti),
                  under the supervision of Ilaria Della Monica
                  and Giovanni Pagliarulo. The Yashiro letters
                  were transcribed by Emiko Yamanashi, Michiaki
                  Koshikawa, and Akiko Nakamura (Part-time
                  lecturer, Otsuma Women&rsquo;s University) and
                  edited by Michiaki Koshikawa. Akiko Kobayashi
                  (Part-time lecturer, Tokyo University of the
                  Arts), Maria Fukada (Post-doctoral fellow,
                  Japan Society for the Promotion of Science)
                  and Maho Tomooka (Graduate School, Tokyo
                  University of the Arts) assisted with the
                  proofreading. In the &lsquo;People&rsquo;
                  section, texts were written by Akiko Nakamura,
                  Akiko Kobayashi, Maria Fukada, and Maho
                  Tomooka, with editing and photo research by
                  Allison Cannella (Undergraduate intern,
                  Syracuse University in Florence). The
                  Cockerell letters were transcribed by Allison
                  Cannella.<br />
                </p>
                <p>
                  &nbsp;The curators extend a special word of
                  gratitude to the members of the advisory
                  board, to two Syracuse University in Florence
                  students --Cristina Garza and Allison
                  Cannella-- for their exemplary work, and to
                  the following for their advice, assistance,
                  and support:&nbsp;
                </p>
                <ul>
                  <li>
                    Toko Hirayama (granddaughter of Yukio
                    Yashiro)
                  </li>
                  <li>
                    Shuji Takashina (Director, Ohara Museum of
                    Art, Kurashiki)
                  </li>
                  <li>
                    Masanori Aoyagi (Commissioner, Agency for
                    Cultural Affairs, Government of Japan)
                  </li>
                  <li>
                    Tsutomu Mizusawa (Director, Kanagawa
                    Prefectural Museum of Modern Art, Hayama)
                  </li>
                  <li>
                    Hidebumi Hashi (Chief Curator, Kanagawa
                    Prefectural Museum of Modern Art, Hayama)
                  </li>
                  <li>
                    Koichi Toyama (Professor, Keio University,
                    Tokyo)
                  </li>
                  <li>
                    Akihito Nakanishi (Embassy of the United
                    States, Tokyo)
                  </li>
                  <li>
                    Hiroshi Takahashi (Iwanami Shoten, Tokyo)
                  </li>
                  <li>
                    Shinsuke Omiya (formerly Iwanami Shoten,
                    Tokyo)
                  </li>
                  <li>
                    Andrea Caselli (Web Services Specialist,
                    Villa I Tatti)
                  </li>
                </ul>
                <div id="colophonEnd">
                  <!--
                  <p>
                    <strong
                      >We welcome your comments and suggestions:
                      jnelson(at)itatti.harvard.edu</strong
                    >
                  </p>

                  <p>
                    <a href="http://japan.usembassy.gov/"
                      ><img
                        title=""
                        src="https://yashiro.itatti.harvard.edu/assets/images/us-embassy.png"
                        alt=""
                        width="115"
                        height="120" /></a
                    ><a
                      href="https://yashiro.itatti.harvard.edu/"
                      ><img
                        title=""
                        src="https://yashiro.itatti.harvard.edu/assets/images/itatti_logo_med_transparent.png"
                        alt=""
                        width="124"
                        height="107" /></a
                    ><a
                      href="http://www.tobunken.go.jp/index_e.html"
                      ><img
                        title=""
                        src="https://yashiro.itatti.harvard.edu/assets/images/national-research-logo.png"
                        alt=""
                        width="140"
                        height="97"
                    /></a>
                  </p>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
  </div>

  <!-- main container end -->
</div>
<!-- /main container end -->
[[> "https://yashiro.itatti.harvard.edu/resource/footer"]]