[[> yashiro:header ]]

<!-- main container open -->
<div id="yashiro-container" class="container-fluid">
  <link href="/assets/styles/annotation.css" rel="stylesheet" />

  <semantic-context repository="yashiro">

    <div class="yashiro-editor-page">
      <div class="yashiro-editor-container">
        <bs-row id="editorRow">
          <mp-splitpane default-open="true" default-size="35vw" persist-resize="false" min-size="35" dock="false">
            <div
              data-flex-layout="column top-stretch"
              class="yashiro-editor-sidebar"
            >
              <mp-splitpane-toggle-on>
                <button class="yashiro-toggle-button-on">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </button>
              </mp-splitpane-toggle-on>

              <mp-splitpane-toggle-off>
                <button
                  data-flex-layout="row center-left"
                  class="yashiro-toggle-button-off"
                >
                  <div class="fa fa-angle-double-left" aria-hidden="true"></div>
                </button>
              </mp-splitpane-toggle-off>

              <mp-splitpane-sidebar-open class="yashiro-splitpane-sidebar">
                <div id="metadataColumn">
                  <div id="metadataContainer">
                    <bs-tabs unmount-on-exit="true" animation="false">
                      <bs-tab event-key="1" title="English">
                        <semantic-query
                          query='SELECT ?image WHERE {
                            ?? crm:P1_is_identified_by ?letter.
                            ?image crm:P165i_is_incorporated_in ?letter.
                            ?image <http://www.researchspace.org/ontology/image_index> ?index
                          } ORDER BY ASC (?index)'
                          template='{{> englishPdf }}'>
                          <template id='englishPdf'>
                            <mp-event-target-template-render
                            id='mirador-target'
                            template='{{>miradorTemplate }}'>
                            <template id='miradorTemplate'>
                              <div id="imageContainer">
                                {{#if clickedImageIri}}
                                  <rs-iiif-mirador
                                    image-or-region='{"{{clickedImageIri}}":["{{clickedImageIri}}"]}'
                                    image-id-pattern='BIND( <{{clickedImageIri}}> AS ?imageIRI)
                                                    BIND("image" AS ?type)
                                                    BIND(REPLACE(REPLACE(REPLACE(STR(?imageIRI), "/full/full/0/default.jpg", ""), "\\?.*$", ""), "(^.*)\\/(.*)$", "$2") AS ?imageID)
                                                    BIND(?imageIRI AS ?carrierImageIRI)'
                                    iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2"
                                    >
                                  </rs-iiif-mirador>
                                  <div class="page-indicator">
                                    Page
                                    <semantic-query
                                      query='SELECT ?index WHERE {
                                        <{{clickedImageIri}}> <http://www.researchspace.org/ontology/image_index> ?index
                                        }LIMIT 1'
                                      >
                                    </semantic-query>
                                  </div>
                                {{else}}
                                  <rs-iiif-mirador
                                  image-or-region='{"{{bindings.0.image.value}}":["{{bindings.0.image.value}}"]}'
                                  image-id-pattern='BIND( <{{bindings.0.image.value}}> AS ?imageIRI)
                                                  BIND("image" AS ?type)
                                                  BIND(REPLACE(REPLACE(REPLACE(STR(?imageIRI), "/full/full/0/default.jpg", ""), "\\?.*$", ""), "(^.*)\\/(.*)$", "$2") AS ?imageID)
                                                  BIND(?imageIRI AS ?carrierImageIRI)'
                                  iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2"
                                  >
                                </rs-iiif-mirador>
                                <div class="page-indicator">Page 1</div>
                                {{/if}}
                              </div>
                            </template>
                            </mp-event-target-template-render>

                            <div id="thumbs" class="super-thumbnail-container">
                              {{#each bindings}}
                                <mp-event-trigger
                                id='iiif-render'
                                data='{"clickedImageIri":"{{image.value}}"}'
                                type='Component.TemplateUpdate'
                                targets='["mirador-target"]'>
                                <div class="thumb-item">
                                  <img class="super-thumbnail" src="{{image.value}}"/>
                                </div>
                                </mp-event-trigger>
                              {{/each}}
                            </div>
                          </template>
                        </semantic-query>

                      </bs-tab>
                      <bs-tab event-key="2" title="Japanese 日本語">
                        <semantic-query
                          query='SELECT ?image WHERE { ??  crm:P1_is_identified_by ?letter.
                            ?letter crm:P73_has_translation ?jpFiles.
                            ?jpFiles crm:P129i_is_subject_of ?image.
                            ?image <http://www.researchspace.org/ontology/image_index> ?index
                          }ORDER BY ASC (?index)'
                          template='{{> japanesePdf }}'>
                          <template id='japanesePdf'>
                            <mp-event-target-template-render
                            id='mirador-target'
                            template='{{>miradorTemplate }}'>
                            <template id='miradorTemplate'>
                              <div id="imageContainer">
                                {{#if clickedImageIri}}
                                  <rs-iiif-mirador
                                    image-or-region='{"{{clickedImageIri}}":["{{clickedImageIri}}"]}'
                                    image-id-pattern='BIND( <{{clickedImageIri}}> AS ?imageIRI)
                                                    BIND("image" AS ?type)
                                                    BIND(REPLACE(REPLACE(REPLACE(STR(?imageIRI), "/full/full/0/default.jpg", ""), "\\?.*$", ""), "(^.*)\\/(.*)$", "$2") AS ?imageID)
                                                    BIND(?imageIRI AS ?carrierImageIRI)'
                                    iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2"
                                    >
                                  </rs-iiif-mirador>
                                  <div class="page-indicator">
                                    Page
                                    <semantic-query
                                      query='SELECT ?index WHERE {
                                        <{{clickedImageIri}}> <http://www.researchspace.org/ontology/image_index> ?index
                                        }LIMIT 1'
                                      >
                                    </semantic-query>
                                    日本
                                  </div>
                                {{else}}
                                  <rs-iiif-mirador
                                  image-or-region='{"{{bindings.0.image.value}}":["{{bindings.0.image.value}}"]}'
                                  image-id-pattern='BIND( <{{bindings.0.image.value}}> AS ?imageIRI)
                                                  BIND("image" AS ?type)
                                                  BIND(REPLACE(REPLACE(REPLACE(STR(?imageIRI), "/full/full/0/default.jpg", ""), "\\?.*$", ""), "(^.*)\\/(.*)$", "$2") AS ?imageID)
                                                  BIND(?imageIRI AS ?carrierImageIRI)'
                                  iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2"
                                  >
                                </rs-iiif-mirador>
                                <div class="page-indicator">Page 1 日本</div>
                                {{/if}}
                              </div>
                            </template>
                            </mp-event-target-template-render>

                            <div id="thumbs" class="super-thumbnail-container">
                              {{#each bindings}}
                                <mp-event-trigger
                                id='iiif-render'
                                data='{"clickedImageIri":"{{image.value}}"}'
                                type='Component.TemplateUpdate'
                                targets='["mirador-target"]'>
                                <div class="thumb-item">
                                  <img class="super-thumbnail" src="{{image.value}}"/>
                                </div>
                                </mp-event-trigger>
                              {{/each}}
                            </div>
                          </template>
                        </semantic-query>

                      </bs-tab>

                  </div>
                </div>
              </mp-splitpane-sidebar-open>
            </div>


            <div id="letterColumn">

              <!-- PAGINATION -->
              <semantic-query
                query='
                SELECT DISTINCT ?prevLetter ?nextLetter  WHERE {
                  OPTIONAL{
                  ?? rdfs:label ?label
                  BIND(xsd:integer(REPLACE(?label,"Letter_00","")) as ?letterNumber)
                  BIND(CONCAT("https://yashiro.itatti.harvard.edu/resource/document/Letter_00",str(?letterNumber+1)) as ?nextLetter)
                  BIND(CONCAT("https://yashiro.itatti.harvard.edu/resource/document/Letter_00",str(?letterNumber-1)) as ?prevLetter)
                }

                OPTIONAL{
                  ?? rdfs:label ?label
                  BIND(xsd:integer(REPLACE(?label,"Letter_0","")) as ?letterNumber)
                  BIND(CONCAT("https://yashiro.itatti.harvard.edu/resource/document/Letter_0",str(?letterNumber+1)) as ?nextLetter)
                  BIND(CONCAT("https://yashiro.itatti.harvard.edu/resource/document/Letter_0",str(?letterNumber-1)) as ?prevLetter)
                }

                OPTIONAL {
                  ?? rdfs:label ?label
                  BIND(xsd:integer(REPLACE(?label,"Letter_","")) as ?letterNumber)
                  BIND(CONCAT("https://yashiro.itatti.harvard.edu/resource/document/Letter_",str(?letterNumber+1)) as ?nextLetter)
                  BIND(CONCAT("https://yashiro.itatti.harvard.edu/resource/document/Letter_",str(?letterNumber-1)) as ?prevLetter)
                }

              }LIMIT 1
                '
                template='{{> pagination }}'>
                <template id='pagination'>
                  {{#each bindings}}
                  <nav class="pagination-letters">

                    {{#switch prevLetter.value}}
                      {{#case "https://yashiro.itatti.harvard.edu/resource/document/Letter_09" break=true}}
                      <semantic-link iri="https://yashiro.itatti.harvard.edu/resource/document/Letter_009">
                        <span class="letter-nav-label"><i class="fa fa-arrow-left"></i> Previous letter</span>
                      </semantic-link>
                      {{/case}}
                      {{#case "https://yashiro.itatti.harvard.edu/resource/document/Letter_99" break=true}}
                      <semantic-link iri="https://yashiro.itatti.harvard.edu/resource/document/Letter_099">
                        <span class="letter-nav-label"><i class="fa fa-arrow-left"></i> Previous letter</span>
                      </semantic-link>
                      {{/case}}
                      {{#case "https://yashiro.itatti.harvard.edu/resource/document/Letter_000" break=true}}
                      <span></span>
                      {{/case}}
                      {{#default}}
                        <semantic-link iri="{{prevLetter.value}}">
                          <span class="letter-nav-label"><i class="fa fa-arrow-left"></i> Previous letter</span>
                        </semantic-link>
                      {{/default}}
                      {{/switch}}


                    {{#switch nextLetter.value}}
                      {{#case "https://yashiro.itatti.harvard.edu/resource/document/Letter_0010" break=true}}
                      <semantic-link iri="https://yashiro.itatti.harvard.edu/resource/document/Letter_010">
                        <span class="letter-nav-label">Next letter <i class="fa fa-arrow-right"></i></span>
                      </semantic-link>
                      {{/case}}
                      {{#case "https://yashiro.itatti.harvard.edu/resource/document/Letter_0100" break=true}}
                      <semantic-link iri="https://yashiro.itatti.harvard.edu/resource/document/Letter_100">
                        <span class="letter-nav-label">Next letter <i class="fa fa-arrow-right"></i></span>
                      </semantic-link>
                      {{/case}}
                      {{#case "https://yashiro.itatti.harvard.edu/resource/document/Letter_116" break=true}}
                      <span></span>
                      {{/case}}
                      {{#default}}
                      <semantic-link iri="{{nextLetter.value}}">
                        <span class="letter-nav-label">Next letter <i class="fa fa-arrow-right"></i></span>
                      </semantic-link>
                      {{/default}}
                      {{/switch}}

                  </nav>
                  {{/each}}
                </template>
              </semantic-query>

              <!-- LETTER METADATA -->
              <semantic-query
                query='PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                SELECT distinct ?type ?value ?label ?displayLabel WHERE {
                  ?? crm:P1_is_identified_by ?letter.
                  {
                    # Title
                    ?letter crm:P48_has_preferred_identifier ?value.
                    ?value rdfs:label ?label.
                    BIND("title" AS ?type)
                    BIND("Title" AS ?displayLabel)
                  } UNION {
                    # Sender
                    ?activity crm:P16_used_specific_object ?letter;
                      crm:P01_has_domain ?sender_carry.
                    ?sender_carry crm:P02_has_range ?value;
                      crm:P14.1_in_the_role_of ?sender_role.
                    ?sender_role rdfs:label ?displayLabel.
                    ?value rdfs:label ?label.
                    BIND("person" AS ?type)
                  } UNION {
                    # Date
                    ?activity crm:P16_used_specific_object ?letter.
                    ?sending crm:P9i_forms_part_of ?activity;
                      crm:P4_has_time_span ?value.
                    ?value crm:P81a_end_of_the_begin ?label.
                    BIND("date" AS ?type)
                    BIND("Date" AS ?displayLabel)
                  } UNION {
                    # Place
                    ?activity crm:P16_used_specific_object ?letter.
                    ?sending crm:P9i_forms_part_of ?activity;
                      crm:P7_took_place_at ?value.
                    ?value rdfs:label ?label.
                    BIND("place" AS ?type)
                    BIND("Sending place" AS ?displayLabel)
                  }
                }'
                template='{{> letterMetadata}}'>
                <template id='letterMetadata'>
                  <div class="yashiro-letter-metadata">
                    {{! 1. Sending place }}
                    {{#each bindings}}
                      {{#ifCond type.value "===" "place"}}
                        <div class="meta-cell">
                          <div class="meta-label">{{displayLabel.value}}</div>
                          <div class="meta-value">
                            <semantic-link iri="{{value.value}}"></semantic-link>
                          </div>
                        </div>
                      {{/ifCond}}
                    {{/each}}
                    {{! 2. Title }}
                    {{#each bindings}}
                      {{#ifCond type.value "===" "title"}}
                        <div class="meta-cell">
                          <div class="meta-label">{{displayLabel.value}}</div>
                          <div class="meta-value">{{label.value}}</div>
                        </div>
                      {{/ifCond}}
                    {{/each}}
                    {{! 3. Receiver }}
                    {{#each bindings}}
                      {{#ifCond type.value "===" "person"}}
                        {{#ifCond displayLabel.value "===" "Receiver"}}
                          <div class="meta-cell">
                            <div class="meta-label">{{displayLabel.value}}</div>
                            <div class="meta-value">
                              <semantic-link iri="{{value.value}}"></semantic-link>
                            </div>
                          </div>
                        {{/ifCond}}
                      {{/ifCond}}
                    {{/each}}
                    {{! 4. Sender }}
                    {{#each bindings}}
                      {{#ifCond type.value "===" "person"}}
                        {{#ifCond displayLabel.value "===" "Sender"}}
                          <div class="meta-cell">
                            <div class="meta-label">{{displayLabel.value}}</div>
                            <div class="meta-value">
                              <semantic-link iri="{{value.value}}"></semantic-link>
                            </div>
                          </div>
                        {{/ifCond}}
                      {{/ifCond}}
                    {{/each}}
                    {{! 5. Date }}
                    {{#each bindings}}
                      {{#ifCond type.value "===" "date"}}
                        <div class="meta-cell">
                          <div class="meta-label">{{displayLabel.value}}</div>
                          <div class="meta-value">{{dateTimeFormat label.value "MMM DD YYYY"}}</div>
                        </div>
                      {{/ifCond}}
                    {{/each}}
                  </div>
                </template>
              </semantic-query>

              <!-- Document body + annotation sidebar -->

              <rs-text-annotation-workspace
                document-iri="[[this]]"
                storage="yashiro"
                annotation-subject-template="https://yashiro.itatti.harvard.edu/annotation/{{UUID}}"
                fallback-template="{{> fallback-template}}"
                annotation-tooltip="{{> annotation-tooltip}}"
              >
                <template id="fallback-template">
                  {{#> yashiro:AnnotationTemplate}} Missing type for annotation
                  <semantic-link iri="{{ iri.value }}"></semantic-link>
                  {{/ yashiro:AnnotationTemplate}}
                </template>

                <template id="annotation-tooltip">
                  <div>
                    <semantic-query
                    query='SELECT ?value ?label WHERE {
                        BIND({{iri}} as ?iri)
                        ?iri oa:hasBody ?body.
                        ?body crm:P1_is_identified_by ?value.
                        {
                          ?value rdfs:label ?label.
                        } UNION {
                          ?body rdfs:label ?label.
                        }

                    }' template='{{> show}}'>
                    <template id='show'>
                      <div class="yashiro-annotation-content concept">
                        <semantic-query
                        query=' SELECT ?localImage WHERE {
                              {
                                <{{bindings.0.value.value}}>   crm:P138i_has_representation ?filename.
                                BIND(REPLACE(STR(?filename),"https://yashiro.itatti.harvard.edu/","/assets/") as ?localImageNorm)
                                BIND(REPLACE(?localImageNorm,"/assets/resource/assets/","/assets/") as ?localImage)
                            }union{
                                FILTER NOT EXISTS { <{{bindings.0.value.value}}>   crm:P138i_has_representation ?filename.}
                              VALUES (?localImage) { ("/images/dpub/place.svg") }
                              }}LIMIT 1

                          '
                        template='{{> thumbTemplate }}'>
                        <template id='thumbTemplate'>
                          {{#each bindings}}
                          {{#ifCond localImage.value "===" "/images/dpub/place.svg"}}
                            <img class="place-img" height="60px" src="{{localImage.value}}"/>
                          {{else}}
                            <img class="person-img" height="60px" src="{{localImage.value}}"/>
                            {{/ifCond}}
                          {{/each}}
                        </template>
                      </semantic-query>
                            <semantic-link iri="{{bindings.0.value.value}}">{{bindings.0.label.value}}</semantic-link>
                        </div>

                        <div class="yashiro-annotation-tooltip-info">
                          <semantic-query
                                query='SELECT DISTINCT ?info WHERE { <{{bindings.0.value.value}}>  <http://www.cidoc-crm.org/cidoc-crm/P70i_is_documented_in> ?subtitle_node .
                                ?subtitle_node rdf:value ?info .}LIMIT 10'
                                template='{{> documentedIn }}'>
                            <template id='documentedIn'>
                              {{#each bindings}}
                                <div class="annotation-subtitle">{{info.value}}</div>
                              {{/each}}
                            </template>
                          </semantic-query>
                        </div>
                    </template>
                </semantic-query>
                    {{#if allowEdit}}
                    <button
                      name="edit"
                      class="btn btn-xs btn-default"
                      data-annotation="{{ iri.value }}"
                      title="Edit annotation"
                    >
                      <span class="fa fa-pencil"></span>
                    </button>
                      {{/if}}
                      {{#if allowDelete}}
                      <button
                        name="delete"
                        class="btn btn-xs btn-default"
                        data-annotation="{{ iri.value }}"
                        title="Delete annotation"
                      >
                        <span class="fa fa-trash"></span>
                      </button>
                      {{/if}}
                    </div>
                </template>

                  [[> yashiro-annotation-schema:Person ]]
                  [[> yashiro-annotation-schema:Place ]]
                  [[> yashiro-annotation-schema:Entity ]]

              </rs-text-annotation-workspace>

            </div>
          </mp-splitpane>
        </bs-row>
      </div>
    </div>
  </semantic-context>
  <!-- main container end -->
</div>
<!-- /main container end -->


<style>

  /* ── Page structure ── */
  .TextAnnotationWorkspace--component {
    margin: 0 !important;
  }

  #main-container {
    margin-top: -21px;
  }

  #editorRow {
    display   : flex;
    flex-flow : row nowrap;
  }

  #editorRow::before {
    display: block;
  }

  /* ── Image sidebar ── */
  #metadataColumn {
    background : #111111;
    height     : 100%;
    color      : #aaaaaa;
    padding    : 0;
  }

  #metadataContainer {
    height: 100%;
  }

  #metadataContainer a {
    color: #cccccc !important;
  }

  /* Sidebar tab bar */
  #metadataContainer .nav-tabs {
    background   : #1a1a1a !important;
    border-bottom: 1px solid #2e2e2e !important;
    padding      : 0 12px;
  }

  #metadataContainer .nav-tabs > li > a {
    color         : #666666 !important;
    font-size     : 11px !important;
    font-weight   : 700;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding       : 10px 14px;
    border        : none !important;
    border-bottom : 2px solid transparent !important;
    border-radius : 0 !important;
    background    : transparent !important;
    transition    : color .15s ease, border-color .15s ease;
  }

  #metadataContainer .nav-tabs > li.active > a,
  #metadataContainer .nav-tabs > li > a:hover {
    color        : #ffffff !important;
    border-bottom: 2px solid #ffffff !important;
    background   : transparent !important;
  }

  /* Image viewer */
  #imageContainer {
    background: #111111;
    position  : relative;
  }

  /* Page indicator */
  .page-indicator {
    background    : rgba(0, 0, 0, 0.55);
    color         : #cccccc;
    font-family   : var(--itatti-font-body);
    font-size     : 11px;
    font-weight   : 600;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding       : 5px 12px;
  }

  /* Thumbnail strip */
  .super-thumbnail-container {
    display   : flex;
    flex-wrap : wrap;
    gap       : 3px;
    padding   : 8px;
    background: #111111;
  }

  .thumb-item {
    cursor: pointer;
  }

  .super-thumbnail {
    display   : block;
    height    : 56px;
    width     : auto;
    opacity   : 0.55;
    transition: opacity 0.2s ease;
  }

  .thumb-item:hover .super-thumbnail {
    opacity: 1;
  }

  /* ── Letter column ── */
  #letterColumn {
    padding   : 24px 48px 64px;
    max-width : 960px;
  }

  /* ── Pagination nav ── */
  .pagination-letters {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding-bottom : 20px;
    margin-bottom  : 24px;
    border-bottom  : 1px solid #e2e2e2;
  }

  .pagination-letters a {
    display        : inline-flex;
    align-items    : center;
    gap            : 7px;
    font-family    : var(--itatti-font-body);
    font-size      : 11px;
    font-weight    : 700;
    text-transform : uppercase;
    letter-spacing : 0.10em;
    color          : #1a1a1a !important;
    text-decoration: none !important;
    transition     : opacity 0.15s ease;
  }

  .pagination-letters a:hover {
    opacity: 0.5;
  }

  .letter-nav-label {
    display    : inline-flex;
    align-items: center;
    gap        : 7px;
  }

  /* ── Metadata strip ── */
  .yashiro-letter-metadata {
    display      : flex;
    border       : 1px solid #e2e2e2;
    margin-bottom: 32px;
    overflow     : hidden;
  }

  .meta-cell {
    padding     : 14px 20px;
    border-right: 1px solid #e2e2e2;
    flex        : 1;
    min-width   : 0;
  }

  .meta-cell:last-child {
    border-right: none;
  }

  .meta-label {
    font-family   : var(--itatti-font-body);
    font-size     : 10px;
    font-weight   : 700;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    color         : #888888;
    margin-bottom : 5px;
  }

  .meta-value {
    font-family: var(--itatti-font-body);
    font-size  : 14px;
    color      : #1a1a1a;
    line-height: 1.4;
  }

  .meta-value a {
    color          : #1a1a1a !important;
    text-decoration: none !important;
  }

  .meta-value a:hover {
    text-decoration: underline !important;
  }

  /* ── Misc ── */
  div#main-container {
    padding-bottom: 0 !important;
  }

  #templateFooter {
    margin-top: 0 !important;
  }
</style>
