[[> "https://yashiro.itatti.harvard.edu/resource/header"]]
<!-- main container open -->
<div id="main-container" class="container-fluid">
  <!-- /main container open -->

  <link href="/assets/styles/annotation.css" rel="stylesheet" />

  <div class="yashiro-editor-page">
    <div class="yashiro-editor-container">
      <bs-row id="editorRow">
        <mp-splitpane min-size="35" dock="false">
          <div
            data-flex-layout="column top-stretch"
            style="
              border-right: 1px solid #a2a2a2;
              background: #6b2226;
              height: auto;
            "
          >
            <mp-splitpane-toggle-on>
              <button
                style="
                  border: none;
                  background: transparent;
                  padding: 15px 2px;
                  outline: none;
                  width: 100%;
                  color: white;
                "
              >
                <i
                  class="fa fa-angle-double-right"
                  style="font-size: 20px"
                  aria-hidden="true"
                ></i>
              </button>
            </mp-splitpane-toggle-on>

            <mp-splitpane-toggle-off>
              <button
                data-flex-layout="row center-left"
                style="
                  border: none;
                  border-bottom: 1px solid rgb(115, 37, 40);
                  background: #6b2226;
                  padding: 15px;
                  outline: none;
                  width: 100%;
                "
              >
                <div
                  class="fa fa-angle-double-left"
                  style="font-size: 20px; margin-left: auto; color: white"
                  aria-hidden="true"
                ></div>
              </button>
            </mp-splitpane-toggle-off>

            <mp-splitpane-sidebar-open
              style="display: flex; flex-direction: column; flex: auto"
            >
              <div id="metadataColumn">
                <div id="metadataContainer">
                  <mp-field-visualization
                    subject="[[this]]"
                    fields='[[fieldDefinitionsFromQuery "SELECT ?field WHERE { ?field <http://www.researchspace.org/resource/system/fields/domain> <https://yashiro.itatti.harvard.edu/resource/annotation-schema/TextDocument>}"]]'
                    template="{{> metadata}}"
                  >
                    <template id="metadata">
                      <div>
                        <div data-flex-layout="row">
                          <div></div>
                        </div>
                        {{#each fields}} {{> field}} {{/each}}
                        
                      </div>
                    </template>
                    <template id="field">

                      {{log this}}

                      <!-- Title -->
                      {{#ifCond this.label.0._value "===" "letter_title"}} {{>
                      row lbl="Title" val=this.values.0.value._value}}
                      {{/ifCond}}

                      <!-- Places -->
                      {{#ifCond this.label.0._value "===" "letter_places"}}
                        {{#each this.values}} {{> row lbl="Sending place"
                      val=value._value}} {{/each}} {{/ifCond}}

                      <!-- Date -->
                      {{#ifCond this.label.0._value "===" "letter_date"}} {{>
                      date-row lbl="Date" val=this.values.0.value._value
                      date=this.values.0.label}} {{/ifCond}}

                      <!-- People -->
                      {{#ifCond this.label.0._value "===" "letter_people"}}
                        {{#each this.values}} 
                          {{> row lbl=label val=value._value}}
                        {{/each}} 
                      {{/ifCond}}

                      <!-- Image -->
                      {{#ifCond this.label.0._value "===" "letter_images"}}
                      <div id="imageContainer">
                        <ol>
                          {{#each this.values}}
                            {{> image lbl=label val=value._value}}
                          {{/each}} 
                        </ol>
                      </div>
                        
                      {{/ifCond}}
                      
                      

                    </template>

                    <template id="date-row">
                      <div class="metadataSingleContainer">
                        <div data-flex-layout="row">
                          <b class="metadataLabel">{{ lbl }}:</b>
                        </div>
                        <div data-flex-layout="row">
                          <p class="metadataValue">
                            {{dateTimeFormat date "MMM DD YYYY"}}
                          </p>
                        </div>
                      </div>
                    </template>

                    <template id="row">
                      <div class="metadataSingleContainer">
                        <div data-flex-layout="row">
                          <b class="metadataLabel">{{ lbl }}:</b>
                        </div>
                        <div data-flex-layout="row">
                          <semantic-link
                            class="metadataValue"
                            iri="{{ val }}"
                          ></semantic-link>
                        </div>
                      </div>
                    </template>

                    <template id="date-row-old">
                      <div data-flex-layout="row">
                        <bs-col sm="4" md="5">
                          <b>{{ lbl }}:</b>
                        </bs-col>
                        <bs-col sm="8" md="7">
                          {{dateTimeFormat date "MMM DD YYYY"}}
                        </bs-col>
                      </div>
                    </template>

                    <template id="row-old">
                      <div data-flex-layout="row">
                        <bs-col sm="4" md="4">
                          <b>{{ lbl }}:</b>
                        </bs-col>
                        <bs-col sm="8" md="8">
                          <semantic-link iri="{{ val }}"></semantic-link>
                        </bs-col>
                      </div>
                    </template>

                    <template id="image">
 
                        <li>
                          {{val}} {{lbl}}
                        </li>

                        <!--
                        <rs-iiif-image-thumbnail
                          image-or-region="{{val}}"
                          image-id-pattern='BIND(REPLACE(STR(?imageIRI), "/full/full/0/default.jpg", "/info.json") as ?imageID)'
                          iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2/"
                          height="150"
                          width="100"
                        >
                        </rs-iiif-image-thumbnail>-->
                        
                    </template>

                  </mp-field-visualization>
                </div>
              </div>
            </mp-splitpane-sidebar-open>
          </div>
          <div id="letterColumn">
            <!-- Document body + annotation sidebar -->
            <semantic-context repository="default">
              <rs-text-annotation-workspace
                document-iri="[[this]]"
                storage="yashiro"
                annotation-subject-template="https://yashiro.itatti.harvard.edu/annotation/{{UUID}}"
                fallback-template="{{> fallback-template}}"
                annotation-tooltip="{{> annotation-tooltip}}"
              >
                <template id="fallback-template">
                  {{#> Default:AnnotationTemplate}} Missing type for annotation
                  <semantic-link iri="{{ iri.value }}"></semantic-link>
                  {{/ Default:AnnotationTemplate}}
                </template>

                <template id="annotation-tooltip">
                  <div>
                    {{#if allowEdit}}
                    <button
                      name="edit"
                      class="btn btn-xs btn-default"
                      data-annotation="{{ iri.value }}"
                      title="Edit annotation"
                    >
                      <span
                        class="fa fa-pencil"
                        style="pointer-events: none"
                      ></span>
                    </button>
                    {{else}}
                    <button
                      name="edit"
                      class="btn btn-xs btn-default"
                      disabled
                      title="Edit annotation"
                    >
                      <span
                        class="fa fa-pencil"
                        style="pointer-events: none"
                      ></span>
                    </button>
                    {{/if}} {{#if allowDelete}}
                    <button
                      name="delete"
                      class="btn btn-xs btn-default"
                      data-annotation="{{ iri.value }}"
                      title="Delete annotation"
                    >
                      <span
                        class="fa fa-trash"
                        style="pointer-events: none"
                      ></span>
                    </button>
                    {{else}}
                    <button
                      name="delete"
                      class="btn btn-xs btn-default"
                      disabled
                      title="Delete annotation"
                    >
                      <span
                        class="fa fa-trash"
                        style="pointer-events: none"
                      ></span>
                    </button>
                    {{/if}}
                  </div>
                </template>

                [[> annotation-schema/Person ]] [[> annotation-schema/Place ]]
                [[> annotation-schema/Entity ]]
              </rs-text-annotation-workspace>
            </semantic-context>
          </div>
        </mp-splitpane>
      </bs-row>
    </div>
  </div>
  <!-- main container end -->
</div>
<!-- /main container end -->
[[> "https://yashiro.itatti.harvard.edu/resource/footer"]]

<style>
  #main-container {
    margin-top: -21px;
  }

  #imageContainer {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  #metadataColumn {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #6b2226;
    color: white;
  }

  #letterColumn {
    padding: 15px;
  }

  #metadataContainer a {
    color: white !important;
  }

  #editorRow {
    display: flex;
    flex-flow: row wrap;
  }

  #editorRow::before {
    display: block;
  }

  #templateFooter {
    margin-top: 0 !important;
  }

  .metadataSingleContainer {
    padding: 4px;
  }

  .metadataSingleContainer:nth-child(even) {
    background-color: #79262b91;
  }

  .metadataSingleContainer:nth-child(odd) {
    background-color: #591c2045;
  }

  .metadataLabel {
    font-size: 12px;
  }

  .metadataValue {
    font-size: 16px;
    line-height: 15px;
  }

  /*
  #metadataContainer .col-md-6, #metadataContainer .col-sm-4 {
    padding-left: 0;
    padding-right: 0;
  }
   */
</style>
