
<!-- main container open -->
<div id="main-container" class="container-fluid">
  <!-- /main container open -->
  <link href="/assets/styles/annotation.css" rel="stylesheet" />

  <div class="yashiro-editor-page">
    <div class="yashiro-editor-container">
      <bs-row id="editorRow">
        <mp-splitpane default-open="true" default-size="35vw" persist-resize="false" min-size="35" dock="false">
          <div
            data-flex-layout="column top-stretch"
            style="
              min-height: 100vh;
              border-right: 1px solid #a2a2a2;
              background: #6b2226;
              height: auto;
            "
          >
            <mp-splitpane-toggle-on>
              <button
                style="
                  border: none;
                  background: transparent;
                  padding: 15px 2px;
                  outline: none;
                  width: 100%;
                  color: white;
                "
              >
                <i
                  class="fa fa-angle-double-right"
                  style="font-size: 20px"
                  aria-hidden="true"
                ></i>
              </button>
            </mp-splitpane-toggle-on>

            <mp-splitpane-toggle-off>
              <button
                data-flex-layout="row center-left"
                style="
                  border: none;
                  border-bottom: 1px solid rgb(115, 37, 40);
                  background: #6b2226;
                  padding: 15px;
                  outline: none;
                  width: 100%;
                "
              >
                <div
                  class="fa fa-angle-double-left"
                  style="font-size: 20px; margin-left: auto; color: white"
                  aria-hidden="true"
                ></div>
              </button>
            </mp-splitpane-toggle-off>

            <mp-splitpane-sidebar-open
              style="display: flex; flex-direction: column; flex: auto"
            >
              <div id="metadataColumn">
                <div id="metadataContainer">
                  <bs-tabs unmount-on-exit="true"  animation="false">
                    <bs-tab event-key="1" title="English">
                    <mp-field-visualization
                      subject="[[this]]"
                      fields='[[fieldDefinitionsFromQuery "SELECT ?field WHERE { ?field <http://www.researchspace.org/resource/system/fields/domain> <https://yashiro.itatti.harvard.edu/resource/annotation-schema/TextDocument>}"]]'
                      template="{{> metadata}}"
                    >
                      <template id="metadata">
                        <div>
                          {{#each fields}} {{> field}} {{/each}}
                        </div>
                      </template>

                      <template id="field">
                        <!-- Image -->
                        {{#ifCond this.label.0._value "===" "letter_images"}}
                          {{#each this.values}}
                            {{#if @first}}
                            <mp-event-target-template-render
                            id='mirador-target'
                            template='{{>miradorTemplate }}'>
                            <template id='miradorTemplate'>
                              <div id="imageContainer">
                                  {{#if clickedImageIri}}
                                    <h1>
                                      <mp-label iri="[[this]]"></mp-label> 
                                      Page 
                                        <semantic-query
                                        query='SELECT ?index WHERE { 
                                          <{{clickedImageIri}}> <http://www.researchspace.org/ontology/image_index> ?index
                                          }LIMIT 1'
                                        >
                                      </semantic-query>
                                    </h1>
                                      <rs-iiif-mirador
                                      image-or-region='{"{{clickedImageIri}}":["{{clickedImageIri}}"]}'
                                      image-id-pattern='BIND( <{{clickedImageIri}}> AS ?imageIRI)
                                                      BIND("image" AS ?type)
                                                      BIND(REPLACE(STR(REPLACE(STR(?imageIRI),"/full/full/0/default.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)'
                                      iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2"
                                      >
                                    </rs-iiif-mirador>
                                  {{else}}
                                    <h1>
                                      <mp-label iri="[[this]]"></mp-label> Page  1
                                    </h1>
                                    <rs-iiif-mirador
                                    image-or-region='{"{{value._value}}":["{{value._value}}"]}'
                                    image-id-pattern='BIND( <{{value._value}}> AS ?imageIRI)
                                                    BIND("image" AS ?type)
                                                    BIND(REPLACE(STR(REPLACE(STR(?imageIRI),"/full/full/0/default.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)'
                                    iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2"
                                    >
                                  </rs-iiif-mirador>
                                  {{/if}}
                              </div>
                            </template>
                            </mp-event-target-template-render>
                            {{/if}}
                          {{/each}} 
                          <div id="thumbs" class="super-thumbnail-container">
                            {{#each this.values}}
                              <mp-event-trigger
                              id='iiif-render'
                              data='{"clickedImageIri":"{{value._value}}"}'
                              type='Component.TemplateUpdate'
                              targets='["mirador-target"]'>
                              <div>
                                <img class="super-thumbnail" src="{{value._value}}"/>
                                <semantic-query
                                  query='SELECT ?index WHERE { 
                                    <{{value._value}}> <http://www.researchspace.org/ontology/image_index> ?index
                                    }LIMIT 1'
                                  >
                                </semantic-query>
                              </div>
                              </mp-event-trigger>
                            {{/each}} 
                          </div>
                        {{/ifCond}}
                      
                      </template>

                      <template id="image">
                        <div class="grid-demo">
                          <rs-iiif-image-thumbnail
                            image-or-region="{{val}}"
                            image-id-pattern='BIND( <{{val}}> AS ?imageIRI)
                                            BIND("image" AS ?type)
                                            BIND(REPLACE(STR(REPLACE(STR(?imageIRI),"/full/full/0/default.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)'
                            iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2"
                            >
                          </rs-iiif-image-thumbnail>
                        </div>
                      </template>

                    </mp-field-visualization>
                    </bs-tab>
                    <bs-tab event-key="2" title="Japanese 日本">
                      <semantic-query
                        query='SELECT ?image WHERE { ??  crm:P1_is_identified_by ?letter.
                          ?letter crm:P73_has_translation ?jpFiles. 
                          ?jpFiles crm:P129i_is_subject_of ?image.
                          ?image <http://www.researchspace.org/ontology/image_index> ?index
                        }ORDER BY ASC (?index)'
                        template='{{> japanesePdf }}'>
                         <template id='japanesePdf'>
                          <mp-event-target-template-render
                          id='mirador-target'
                          template='{{>miradorTemplate }}'>
                          <template id='miradorTemplate'>
                            <div id="imageContainer">
                                {{#if clickedImageIri}}
                                  <h1>
                                    <mp-label iri="[[this]]"></mp-label> 
                                    Page 
                                      <semantic-query
                                      query='SELECT ?index WHERE { 
                                        <{{clickedImageIri}}> <http://www.researchspace.org/ontology/image_index> ?index
                                        }LIMIT 1'
                                      >
                                    </semantic-query>
                                    日本
                                  </h1>
                                   <rs-iiif-mirador
                                    image-or-region='{"{{clickedImageIri}}":["{{clickedImageIri}}"]}'
                                    image-id-pattern='BIND( <{{clickedImageIri}}> AS ?imageIRI)
                                                    BIND("image" AS ?type)
                                                    BIND(REPLACE(STR(REPLACE(STR(?imageIRI),"/full/full/0/default.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)'
                                    iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2"
                                    >
                                  </rs-iiif-mirador>
                                {{else}}
                                  <h1>
                                    <mp-label iri="[[this]]"></mp-label> Page  1 日本
                                  </h1>
                                  <rs-iiif-mirador
                                  image-or-region='{"{{bindings.0.image.value}}":["{{bindings.0.image.value}}"]}'
                                  image-id-pattern='BIND( <{{bindings.0.image.value}}> AS ?imageIRI)
                                                  BIND("image" AS ?type)
                                                  BIND(REPLACE(STR(REPLACE(STR(?imageIRI),"/full/full/0/default.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)'
                                  iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2"
                                  >
                                </rs-iiif-mirador>
                                {{/if}}
                            </div>
                          </template>
                          </mp-event-target-template-render>
                          
                          <div id="thumbs" class="super-thumbnail-container">
                            {{#each bindings}}
                              <mp-event-trigger
                              id='iiif-render'
                              data='{"clickedImageIri":"{{image.value}}"}'
                              type='Component.TemplateUpdate'
                              targets='["mirador-target"]'>
                              <div>
                                <img class="super-thumbnail" src="{{image.value}}"/>
                                <semantic-query
                                  query='SELECT ?index WHERE { 
                                    <{{image.value}}> <http://www.researchspace.org/ontology/image_index> ?index
                                    }LIMIT 1'
                                  >
                                </semantic-query>
                              </div>
                              </mp-event-trigger>
                            {{/each}}
                          </div>
                         </template>
                      </semantic-query>

                    </bs-tab>

                </div>
              </div>
            </mp-splitpane-sidebar-open>
          </div>
          
          
          <div id="letterColumn">

            <!-- LETTER METADATA -->
            <mp-field-visualization
              subject="[[this]]"
              fields='[[fieldDefinitionsFromQuery "SELECT ?field WHERE { ?field <http://www.researchspace.org/resource/system/fields/domain> <https://yashiro.itatti.harvard.edu/resource/annotation-schema/TextDocument>}"]]'
              template="{{> metadata}}"
            >
            
              <template id="metadata">

                <div style="padding: 20px;
                border-bottom: 1px solid #e2e2e2;" data-flex-layout="row stretch-stretch">
                  {{#each fields}} {{> field}} {{/each}}
                </div>

              </template>

              <template id="field">
                <!-- Title -->
                <!--
                {{#ifCond this.label.0._value "===" "letter_title"}} {{>
                row lbl="Title" val=this.values.0.value._value}}
                {{/ifCond}}
                -->

                <!-- Places -->
                {{#ifCond this.label.0._value "===" "letter_places"}}
                  {{#each this.values}} {{> row lbl="Sending place"
                val=value._value}} {{/each}} {{/ifCond}}

                <!-- Date -->
                {{#ifCond this.label.0._value "===" "letter_date"}} {{>
                date-row lbl="Date" val=this.values.0.value._value
                date=this.values.0.label}} {{/ifCond}}

                <!-- People -->
                {{#ifCond this.label.0._value "===" "letter_people"}}
                  {{#each this.values}} 
                    {{> row lbl=label val=value._value}}
                  {{/each}} 
                {{/ifCond}}
              </template>

              <template id="date-row">
                
                <div data-flex-layout="column top-stretch">
                  <div class="grid-demo"><strong>{{ lbl }}:</strong></div>
                  <div class="grid-demo">{{dateTimeFormat date "MMM DD YYYY"}}</div>
                </div>

              </template>

              <template id="row">
                <div data-flex-layout="column top-stretch">
                  <div class="grid-demo"><strong>{{ lbl }}:</strong></div>
                  <div class="grid-demo">
                    <semantic-link
                      class="metadataValue"
                      iri="{{ val }}"
                    ></semantic-link>
                  </div>
                </div>
              </template>

            </mp-field-visualization>

            <!-- Document body + annotation sidebar -->
              
            <rs-text-annotation-workspace
              document-iri="[[this]]"
              storage="yashiro"
              annotation-subject-template="https://yashiro.itatti.harvard.edu/annotation/{{UUID}}"
              fallback-template="{{> fallback-template}}"
              annotation-tooltip="{{> annotation-tooltip}}"
            >
              <template id="fallback-template">
                {{#> Default:AnnotationTemplate}} Missing type for annotation
                <semantic-link iri="{{ iri.value }}"></semantic-link>
                {{/ Default:AnnotationTemplate}}
              </template>

              <template id="annotation-tooltip">
                <div>
                  {{#if allowEdit}}
                  <button
                    name="edit"
                    class="btn btn-xs btn-default"
                    data-annotation="{{ iri.value }}"
                    title="Edit annotation"
                  >
                    <span
                      class="fa fa-pencil"
                      style="pointer-events: none"
                    ></span>
                  </button>
                  {{else}}
                  <button
                    name="edit"
                    class="btn btn-xs btn-default"
                    disabled
                    title="Edit annotation"
                  >
                    <span
                      class="fa fa-pencil"
                      style="pointer-events: none"
                    ></span>
                    </button>
                    {{/if}} {{#if allowDelete}}
                    <button
                      name="delete"
                      class="btn btn-xs btn-default"
                      data-annotation="{{ iri.value }}"
                      title="Delete annotation"
                    >
                      <span
                        class="fa fa-trash"
                        style="pointer-events: none"
                      ></span>
                    </button>
                    {{else}}
                    <button
                      name="delete"
                      class="btn btn-xs btn-default"
                      disabled
                      title="Delete annotation"
                    >
                      <span
                        class="fa fa-trash"
                        style="pointer-events: none"
                      ></span>
                    </button>
                    {{/if}}
                  </div>
              </template>
              
              [[> annotation-schema/Person ]] 
              
              [[> annotation-schema/Place ]] 

              [[> annotation-schema/Entity ]] 


            </rs-text-annotation-workspace>

          </div>
        </mp-splitpane>
      </bs-row>
    </div>
  </div>
  <!-- main container end -->
</div>
<!-- /main container end -->
[[> "https://yashiro.itatti.harvard.edu/resource/footer"]]

<style>

  .TextAnnotationWorkspace--component {
    margin: 50px 0 0 50px;
  }

  #main-container {
    margin-top: -21px;
  }


  #metadataColumn {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #6b2226;
    color: white;
  }

  #letterColumn {
    padding: 15px;
  }

  #metadataContainer a {
    color: white !important;
  }

  #editorRow {
    display: flex;
    flex-flow: row wrap;
  }

  #editorRow::before {
    display: block;
  }

  #templateFooter {
    margin-top: 0 !important;
  }

  .metadataSingleContainer {
    padding: 4px;
  }

  .metadataSingleContainer:nth-child(even) {
    background-color: #79262b91;
  }

  .metadataSingleContainer:nth-child(odd) {
    background-color: #591c2045;
  }

  .metadataLabel {
    font-size: 12px;
  }

  .metadataValue {
    font-size: 16px;
    line-height: 15px;
  }
  div#main-container{
    padding-bottom: 0 !important;
  }
</style>
