[[> yashiro:header ]]

<!-- main container open -->
<div id="yashiro-container" class="container-fluid">
  <!-- /main container open -->
  <link href="/assets/styles/annotation.css" rel="stylesheet" />

  <semantic-context repository="yashiro">


    <div class="yashiro-editor-page">
      <div class="yashiro-editor-container">
        <bs-row id="editorRow">
          <mp-splitpane default-open="true" default-size="35vw" persist-resize="false" min-size="35" dock="false">
            <div
              data-flex-layout="column top-stretch"
              class="yashiro-editor-sidebar"
            >
              <mp-splitpane-toggle-on>
                <button class="yashiro-toggle-button-on">
                  <i
                    class="fa fa-angle-double-right"
                    aria-hidden="true"
                  ></i>
                </button>
              </mp-splitpane-toggle-on>

              <mp-splitpane-toggle-off>
                <button
                  data-flex-layout="row center-left"
                  class="yashiro-toggle-button-off"
                >
                  <div
                    class="fa fa-angle-double-left"
                    aria-hidden="true"
                  ></div>
                </button>
              </mp-splitpane-toggle-off>

              <mp-splitpane-sidebar-open
                class="yashiro-splitpane-sidebar"
              >
                <div id="metadataColumn">
                  <div id="metadataContainer">
                    <bs-tabs unmount-on-exit="true"  animation="false">
                      <bs-tab event-key="1" title="English">
                        <semantic-query
                          query='SELECT ?image WHERE {
                            ?? crm:P1_is_identified_by ?letter.
                            ?image crm:P165i_is_incorporated_in ?letter.
                            ?image <http://www.researchspace.org/ontology/image_index> ?index
                          } ORDER BY ASC (?index)'
                          template='{{> englishPdf }}'>
                          <template id='englishPdf'>
                            <mp-event-target-template-render
                            id='mirador-target'
                            template='{{>miradorTemplate }}'>
                            <template id='miradorTemplate'>
                              <div id="imageContainer">
                                  {{#if clickedImageIri}}
                                    <rs-iiif-mirador
                                      image-or-region='{"{{clickedImageIri}}":["{{clickedImageIri}}"]}'
                                      image-id-pattern='BIND( <{{clickedImageIri}}> AS ?imageIRI)
                                                      BIND("image" AS ?type)
                                                      BIND(REPLACE(REPLACE(REPLACE(STR(?imageIRI), "/full/full/0/default.jpg", ""), "\\?.*$", ""), "(^.*)\\/(.*)$", "$2") AS ?imageID)
                                                      BIND(?imageIRI AS ?carrierImageIRI)'
                                      iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2"
                                      >
                                    </rs-iiif-mirador>
                                    <h1>
                                      Page
                                        <semantic-query
                                        query='SELECT ?index WHERE {
                                          <{{clickedImageIri}}> <http://www.researchspace.org/ontology/image_index> ?index
                                          }LIMIT 1'
                                        >
                                      </semantic-query>
                                    </h1>
                                  {{else}}
                                    <rs-iiif-mirador
                                    image-or-region='{"{{bindings.0.image.value}}":["{{bindings.0.image.value}}"]}'
                                    image-id-pattern='BIND( <{{bindings.0.image.value}}> AS ?imageIRI)
                                                    BIND("image" AS ?type)
                                                    BIND(REPLACE(REPLACE(REPLACE(STR(?imageIRI), "/full/full/0/default.jpg", ""), "\\?.*$", ""), "(^.*)\\/(.*)$", "$2") AS ?imageID)
                                                    BIND(?imageIRI AS ?carrierImageIRI)'
                                    iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2"
                                    >
                                  </rs-iiif-mirador>
                                  <h1>
                                    Page  1
                                </h1>
                                  {{/if}}
                              </div>
                            </template>
                            </mp-event-target-template-render>
                            
                            <div id="thumbs" class="super-thumbnail-container">
                              {{#each bindings}}
                                <mp-event-trigger
                                id='iiif-render'
                                data='{"clickedImageIri":"{{image.value}}"}'
                                type='Component.TemplateUpdate'
                                targets='["mirador-target"]'>
                                <div>
                                  <img class="super-thumbnail" src="{{image.value}}"/>
                                  <semantic-query
                                    query='SELECT ?index WHERE {
                                      <{{image.value}}> <http://www.researchspace.org/ontology/image_index> ?index
                                      }LIMIT 1'
                                    >
                                  </semantic-query>
                                </div>
                                </mp-event-trigger>
                              {{/each}}
                            </div>
                          </template>
                        </semantic-query>

                      </bs-tab>
                      <bs-tab event-key="2" title="Japanese 日本語">
                        <semantic-query
                          query='SELECT ?image WHERE { ??  crm:P1_is_identified_by ?letter.
                            ?letter crm:P73_has_translation ?jpFiles. 
                            ?jpFiles crm:P129i_is_subject_of ?image.
                            ?image <http://www.researchspace.org/ontology/image_index> ?index
                          }ORDER BY ASC (?index)'
                          template='{{> japanesePdf }}'>
                          <template id='japanesePdf'>
                            <mp-event-target-template-render
                            id='mirador-target'
                            template='{{>miradorTemplate }}'>
                            <template id='miradorTemplate'>
                              <div id="imageContainer">
                                  {{#if clickedImageIri}}
                                
                                    <rs-iiif-mirador
                                      image-or-region='{"{{clickedImageIri}}":["{{clickedImageIri}}"]}'
                                      image-id-pattern='BIND( <{{clickedImageIri}}> AS ?imageIRI)
                                                      BIND("image" AS ?type)
                                                      BIND(REPLACE(REPLACE(REPLACE(STR(?imageIRI), "/full/full/0/default.jpg", ""), "\\?.*$", ""), "(^.*)\\/(.*)$", "$2") AS ?imageID)
                                                      BIND(?imageIRI AS ?carrierImageIRI)'
                                      iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2"
                                      >
                                    </rs-iiif-mirador>
                                    <h1>
                                      Page
                                        <semantic-query
                                        query='SELECT ?index WHERE { 
                                          <{{clickedImageIri}}> <http://www.researchspace.org/ontology/image_index> ?index
                                          }LIMIT 1'
                                        >
                                      </semantic-query>
                                      日本
                                    </h1>
                                  {{else}}
                                    <rs-iiif-mirador
                                    image-or-region='{"{{bindings.0.image.value}}":["{{bindings.0.image.value}}"]}'
                                    image-id-pattern='BIND( <{{bindings.0.image.value}}> AS ?imageIRI)
                                                    BIND("image" AS ?type)
                                                    BIND(REPLACE(REPLACE(REPLACE(STR(?imageIRI), "/full/full/0/default.jpg", ""), "\\?.*$", ""), "(^.*)\\/(.*)$", "$2") AS ?imageID)
                                                    BIND(?imageIRI AS ?carrierImageIRI)'
                                    iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2"
                                    >
                                  </rs-iiif-mirador>
                                  <h1>
                                    Page  1 日本
                                </h1>
                                  {{/if}}
                              </div>
                            </template>
                            </mp-event-target-template-render>
                            
                            <div id="thumbs" class="super-thumbnail-container">
                              {{#each bindings}}
                                <mp-event-trigger
                                id='iiif-render'
                                data='{"clickedImageIri":"{{image.value}}"}'
                                type='Component.TemplateUpdate'
                                targets='["mirador-target"]'>
                                <div>
                                  <img class="super-thumbnail" src="{{image.value}}"/>
                                  <semantic-query
                                    query='SELECT ?index WHERE { 
                                      <{{image.value}}> <http://www.researchspace.org/ontology/image_index> ?index
                                      }LIMIT 1'
                                    >
                                  </semantic-query>
                                </div>
                                </mp-event-trigger>
                              {{/each}}
                            </div>
                          </template>
                        </semantic-query>

                      </bs-tab>

                  </div>
                </div>
              </mp-splitpane-sidebar-open>
            </div>
            
            
            <div id="letterColumn">
              
              <semantic-query
                query='
                SELECT DISTINCT ?prevLetter ?nextLetter  WHERE {
                  OPTIONAL{
                  ?? rdfs:label ?label
                  BIND(xsd:integer(REPLACE(?label,"Letter_00","")) as ?letterNumber)
                  BIND(CONCAT("https://yashiro.itatti.harvard.edu/resource/document/Letter_00",str(?letterNumber+1)) as ?nextLetter)
                  BIND(CONCAT("https://yashiro.itatti.harvard.edu/resource/document/Letter_00",str(?letterNumber-1)) as ?prevLetter)
                }
                
                OPTIONAL{
                  ?? rdfs:label ?label
                  BIND(xsd:integer(REPLACE(?label,"Letter_0","")) as ?letterNumber)
                  BIND(CONCAT("https://yashiro.itatti.harvard.edu/resource/document/Letter_0",str(?letterNumber+1)) as ?nextLetter)
                  BIND(CONCAT("https://yashiro.itatti.harvard.edu/resource/document/Letter_0",str(?letterNumber-1)) as ?prevLetter)
                }
                
                OPTIONAL {    
                  ?? rdfs:label ?label
                  BIND(xsd:integer(REPLACE(?label,"Letter_","")) as ?letterNumber)
                  BIND(CONCAT("https://yashiro.itatti.harvard.edu/resource/document/Letter_",str(?letterNumber+1)) as ?nextLetter)
                  BIND(CONCAT("https://yashiro.itatti.harvard.edu/resource/document/Letter_",str(?letterNumber-1)) as ?prevLetter)
                }
                
              }LIMIT 1
                '
                template='{{> pagination }}'>
                <template id='pagination'>
                  {{#each bindings}}
                  <div class="pagination-letters">

                    {{#switch prevLetter.value}}
                      {{#case "https://yashiro.itatti.harvard.edu/resource/document/Letter_09" break=true}}
                      <semantic-link iri="https://yashiro.itatti.harvard.edu/resource/document/Letter_009">
                      <h2>
                        <i class="fa fa-arrow-left"></i>
                          Previous letter
                        </h2>
                      </semantic-link>
                      {{/case}}
                      {{#case "https://yashiro.itatti.harvard.edu/resource/document/Letter_99" break=true}}
                      <semantic-link iri="https://yashiro.itatti.harvard.edu/resource/document/Letter_099">
                      <h2>
                        <i class="fa fa-arrow-left"></i>
                          Previous letter
                        </h2>
                      </semantic-link>
                      {{/case}}
                      {{#case "https://yashiro.itatti.harvard.edu/resource/document/Letter_000" break=true}}

                      {{/case}}
                      {{#default}}
                            <semantic-link iri="{{prevLetter.value}}">
                              <h2>
                              <i class="fa fa-arrow-left"></i>
                                Previous letter
                              </h2>
                          </semantic-link>
                      {{/default}}
                      {{/switch}}


                    {{#switch nextLetter.value}}
                      {{#case "https://yashiro.itatti.harvard.edu/resource/document/Letter_0010" break=true}}
                      <semantic-link iri="https://yashiro.itatti.harvard.edu/resource/document/Letter_010">
                      <h2>
                          Next Letter
                        <i class="fa fa-arrow-right"></i>
                        </h2>
                      </semantic-link>
                      {{/case}}
                      {{#case "https://yashiro.itatti.harvard.edu/resource/document/Letter_0100" break=true}}
                      <semantic-link iri="https://yashiro.itatti.harvard.edu/resource/document/Letter_100">
                      <h2>
                          Next Letter
                        <i class="fa fa-arrow-right"></i>
                        </h2>
                      </semantic-link>
                      {{/case}}
                      {{#case "https://yashiro.itatti.harvard.edu/resource/document/Letter_116" break=true}}

                      {{/case}}
                      {{#default}}
                      <semantic-link iri="{{nextLetter.value}}">
                        <h2>
                          Next Letter
                          <i class="fa fa-arrow-right"></i>
                        </h2>
                    </semantic-link>
                      {{/default}}
                      {{/switch}}
              
                
                  </div>
                  {{/each}} 
                </template> 
              </semantic-query>
            
              <!-- LETTER METADATA -->
              <semantic-query
                query='PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                SELECT distinct ?type ?value ?label ?displayLabel WHERE {
                  ?? crm:P1_is_identified_by ?letter.
                  {
                    # Title
                    ?letter crm:P48_has_preferred_identifier ?value.
                    ?value rdfs:label ?label.
                    BIND("title" AS ?type)
                    BIND("Title" AS ?displayLabel)
                  } UNION {
                    # Sender
                    ?activity crm:P16_used_specific_object ?letter;
                      crm:P01_has_domain ?sender_carry.
                    ?sender_carry crm:P02_has_range ?value;
                      crm:P14.1_in_the_role_of ?sender_role.
                    ?sender_role rdfs:label ?displayLabel.
                    ?value rdfs:label ?label.
                    BIND("person" AS ?type)
                  } UNION {
                    # Date
                    ?activity crm:P16_used_specific_object ?letter.
                    ?sending crm:P9i_forms_part_of ?activity;
                      crm:P4_has_time_span ?value.
                    ?value crm:P81a_end_of_the_begin ?label.
                    BIND("date" AS ?type)
                    BIND("Date" AS ?displayLabel)
                  } UNION {
                    # Place
                    ?activity crm:P16_used_specific_object ?letter.
                    ?sending crm:P9i_forms_part_of ?activity;
                      crm:P7_took_place_at ?value.
                    ?value rdfs:label ?label.
                    BIND("place" AS ?type)
                    BIND("Sending place" AS ?displayLabel)
                  }
                }'
                template='{{> letterMetadata}}'>
                <template id='letterMetadata'>
                  <div class="yashiro-letter-metadata" data-flex-layout="row stretch-stretch">
                    {{! 1. Sending place }}
                    {{#each bindings}}
                      {{#ifCond type.value "===" "place"}}
                        <div data-flex-layout="column top-stretch">
                          <div class="grid-demo"><strong>{{displayLabel.value}}:</strong></div>
                          <div class="grid-demo">
                            <semantic-link class="metadataValue" iri="{{value.value}}"></semantic-link>
                          </div>
                        </div>
                      {{/ifCond}}
                    {{/each}}
                    {{! 2. Title }}
                    {{#each bindings}}
                      {{#ifCond type.value "===" "title"}}
                        <div data-flex-layout="column top-stretch">
                          <div class="grid-demo"><strong>{{displayLabel.value}}:</strong></div>
                          <div class="grid-demo">{{label.value}}</div>
                        </div>
                      {{/ifCond}}
                    {{/each}}
                    {{! 3. Receiver }}
                    {{#each bindings}}
                      {{#ifCond type.value "===" "person"}}
                        {{#ifCond displayLabel.value "===" "Receiver"}}
                          <div data-flex-layout="column top-stretch">
                            <div class="grid-demo"><strong>{{displayLabel.value}}:</strong></div>
                            <div class="grid-demo">
                              <semantic-link class="metadataValue" iri="{{value.value}}"></semantic-link>
                            </div>
                          </div>
                        {{/ifCond}}
                      {{/ifCond}}
                    {{/each}}
                    {{! 4. Sender }}
                    {{#each bindings}}
                      {{#ifCond type.value "===" "person"}}
                        {{#ifCond displayLabel.value "===" "Sender"}}
                          <div data-flex-layout="column top-stretch">
                            <div class="grid-demo"><strong>{{displayLabel.value}}:</strong></div>
                            <div class="grid-demo">
                              <semantic-link class="metadataValue" iri="{{value.value}}"></semantic-link>
                            </div>
                          </div>
                        {{/ifCond}}
                      {{/ifCond}}
                    {{/each}}
                    {{! 5. Date }}
                    {{#each bindings}}
                      {{#ifCond type.value "===" "date"}}
                        <div data-flex-layout="column top-stretch">
                          <div class="grid-demo"><strong>{{displayLabel.value}}:</strong></div>
                          <div class="grid-demo">{{dateTimeFormat label.value "MMM DD YYYY"}}</div>
                        </div>
                      {{/ifCond}}
                    {{/each}}
                  </div>
                </template>
              </semantic-query>

              <!-- Document body + annotation sidebar -->

              <rs-text-annotation-workspace
                document-iri="[[this]]"
                storage="yashiro"
                annotation-subject-template="https://yashiro.itatti.harvard.edu/annotation/{{UUID}}"
                fallback-template="{{> fallback-template}}"
                annotation-tooltip="{{> annotation-tooltip}}"
              >
                <template id="fallback-template">
                  {{#> yashiro:AnnotationTemplate}} Missing type for annotation
                  <semantic-link iri="{{ iri.value }}"></semantic-link>
                  {{/ yashiro:AnnotationTemplate}}
                </template>

                <template id="annotation-tooltip">
                  <div>
                    <semantic-query 
                    query='SELECT ?value ?label WHERE {
                        BIND({{iri}} as ?iri)
                        ?iri oa:hasBody ?body.
                        ?body crm:P1_is_identified_by ?value.
                        {
                          ?value rdfs:label ?label.
                        } UNION {
                          ?body rdfs:label ?label.
                        }
                        
                    }' template='{{> show}}'>
                    <template id='show'>
                      <div class="yashiro-annotation-content concept">
                        <semantic-query
                        query=' SELECT ?localImage WHERE {
                              {
                                <{{bindings.0.value.value}}>   crm:P138i_has_representation ?filename.
                                BIND(REPLACE(STR(?filename),"https://yashiro.itatti.harvard.edu/","/assets/") as ?localImageNorm)
                                BIND(REPLACE(?localImageNorm,"/assets/resource/assets/","/assets/") as ?localImage)
                            }union{
                                FILTER NOT EXISTS { <{{bindings.0.value.value}}>   crm:P138i_has_representation ?filename.}
                              VALUES (?localImage) { ("/images/dpub/place.svg") }
                              }}LIMIT 1

                          '
                        template='{{> thumbTemplate }}'>
                        <template id='thumbTemplate'>
                          {{#each bindings}}
                          {{#ifCond localImage.value "===" "/images/dpub/place.svg"}}
                            <img class="place-img" height="60px" src="{{localImage.value}}"/>
                          {{else}}
                            <img class="person-img" height="60px" src="{{localImage.value}}"/>
                            {{/ifCond}}
                          {{/each}}
                        </template>
                      </semantic-query>
                            <semantic-link iri="{{bindings.0.value.value}}">{{bindings.0.label.value}}</semantic-link>
                        </div>
                      
                        <div class="yashiro-annotation-tooltip-info">
                          <semantic-query
                                query='SELECT DISTINCT ?info WHERE { <{{bindings.0.value.value}}>  <http://www.cidoc-crm.org/cidoc-crm/P70i_is_documented_in> ?subtitle_node .
                                ?subtitle_node rdf:value ?info .}LIMIT 10'
                                template='{{> documentedIn }}'>
                            <template id='documentedIn'>
                              {{#each bindings}}
                                <div   class="annotation-subtitle">{{info.value}}</div>
                              {{/each}}
                            </template>
                          </semantic-query>
                        </div>
                    </template>
                </semantic-query>
                    {{#if allowEdit}}
                    <button
                      name="edit"
                      class="btn btn-xs btn-default"
                      data-annotation="{{ iri.value }}"
                      title="Edit annotation"
                    >
                      <span
                        class="fa fa-pencil"
                      ></span>
                    </button>
                      {{/if}} 
                      {{#if allowDelete}}
                      <button
                        name="delete"
                        class="btn btn-xs btn-default"
                        data-annotation="{{ iri.value }}"
                        title="Delete annotation"
                      >
                        <span
                          class="fa fa-trash"
                        ></span>
                      </button>
                      {{/if}}
                    </div>
                </template>

                  [[> yashiro-annotation:Person ]] 
                  [[> yashiro-annotation:Place ]]
                  [[> yashiro-annotation:Entity ]]

              </rs-text-annotation-workspace>

            </div>
          </mp-splitpane>
        </bs-row>
      </div>
    </div>
  </semantic-context>
  <!-- main container end -->
</div>
<!-- /main container end -->


<style>

  .TextAnnotationWorkspace--component {
    margin: 50px 0 0 50px;
  }

  #main-container {
    margin-top: -21px;
  }


  #metadataColumn {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #6b2226;
    color: white;
  }

  #letterColumn {
    padding: 15px;
  }

  #metadataContainer a {
    color: white !important;
  }

  #editorRow {
    display: flex;
    flex-flow: row wrap;
  }

  #editorRow::before {
    display: block;
  }

  #templateFooter {
    margin-top: 0 !important;
  }

  .metadataSingleContainer {
    padding: 4px;
  }

  .metadataSingleContainer:nth-child(even) {
    background-color: #79262b91;
  }

  .metadataSingleContainer:nth-child(odd) {
    background-color: #591c2045;
  }

  .metadataLabel {
    font-size: 12px;
  }

  .metadataValue {
    font-size: 16px;
    line-height: 15px;
  }
  div#main-container{
    padding-bottom: 0 !important;
  }
  .pagination-letters{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pagination-letters h2 {
    font-size: 2em;
  }
</style>
