[[> yashiro:header ]]

<!-- main container open -->
<div id="yashiro-container" class="container">
  <!-- /main container open -->

  <div>
    <header>
      <h1>Introduction</h1>
    </header>
                <article>
                        <div>
                          <p>
                            This exhibition presents the extant
                            <semantic-link iri="yashiro:Letters"
                              >correspondence</semantic-link
                            >--nearly all unpublished--between Bernard Berenson
                            and Yukio Yashiro. At the height of their fame they
                            were among the most influential art historians in
                            the West and in Japan, respectively. Today Yashiro
                            is little known outside of his native country except
                            for his
                            <semantic-link
                              iri="yashiro:botticelli"
                              >monograph on Botticelli</semantic-link
                            >, published in English in 1925, now available on
                            this&nbsp;website. Yashiro described his goals for
                            the book in a remarkable letter from 1922 to
                            <semantic-link
                              iri="https://yashiro.itatti.harvard.edu/resource/person/laurence_binyon"
                            >
                              Laurence Binyon</semantic-link
                            >: &ldquo;I shall make clear what I, a man brought
                            up in an artistic atmosphere utterly different from
                            that of Europe, feel of Botticelli, that side of
                            Botticelli which, as I think, was never, or perhaps
                            very little, appreciated by European
                            connoisseurs.&rdquo;* It was Binyon who introduced
                            Yashiro to Berenson in 1921, as discussed in
                            the&nbsp;<semantic-link
                              iri="yashiro:few-words-lino-pertile"
                              >Director's preface</semantic-link
                            >. Only six years after the completion of his
                            library, which celebrates its 100<sup>th</sup>
                            anniversary this year, Berenson provided the young
                            scholar with advice, encouragement, and scholarly
                            resources.
                          </p>
                          <p>
                            In his fascinating but virtually unknown
                            autobiography,
                            <semantic-link
                              iri="yashiro:7-mr-berenson-and-his-circle"
                              ><em>My Life in the Fine Arts </em></semantic-link
                            >(1972), partially translated for this exhibition,
                            Yashiro provided the perspective of a Japanese
                            scholar on the Italian art history world diring "an
                            era that bustled with activity...the first twenty or
                            thirty years of the twentieth century, when the
                            traditional history of Italian painting was almost
                            entirely rewritten." He described the "competition
                            for new discoveries...It was like we were completely
                            engrossed in racing to the front of the pack."
                            Yashiro recounted an event generally overlooked in
                            the literature on Domenico Veneziano, when he was
                            the first to correctly attribute the now celebrated
                            <em>Annunciation</em> in the Fitzwilliam Museum.
                            "Seeing as how a young newcomer from the East had
                            begun to make such brazen pronouncements out of the
                            blue," he wrote, the director, Sydney Cockerell
                            seemed bewildered. It was Cockerell, however, who
                            made sure that Yashiro received proper credit for
                            his discovery. The intriguing story is revealed in
                            Cockerell's unpublished letters to Berenson.
                          </p>
                          <p>
                            In his autobiograpy, Yashiro speculated on the
                            reasons why Berenson gave him such a warm welcome:
                            &ldquo;perhaps it was because I was the only Asian
                            among Mr. Berenson&rsquo;s disciples and his
                            extraordinarily broad field of interest also
                            included Eastern art.&rdquo; Articles by&nbsp;
                            <semantic-link
                              iri="yashiro:michael-gorman"
                            >
                              Michael Gorman
                            </semantic-link>
                            &nbsp;and&nbsp; Carl Strehlke&nbsp;explore this
                            interest. It also permeates&nbsp;Berenson's&nbsp;
                            dedication&nbsp;to the Japanese edition of
                            his&nbsp;<em>Italian Painters of the Renaissance</em
                            >&nbsp;(1954), written in the form of a letter to
                            Yashiro:
                          </p>
                          <p class="quotes">
                            <em
                              >In the field of Italian art you have produced the
                              most authoritative, the most illuminating and the
                              most readable book on Botticelli in any language.
                              Botticelli&rsquo;s swift flame-like yet modelling
                              line is almost unique in European art but I have
                              encountered it frequently in Japanese drawings.
                              Indeed there is a great affinity between the
                              draughtsmanship of Florentine and Japanese
                              artists. Thanks to you, my dear Yashiro, we
                              Europeans have come to have subtler and more
                              penetrating appreciation of the achievement of
                              your countrymen and they of ours.</em
                            >
                          </p>
                          <p>
                            In <em>My Life in the Fine Arts</em>, Yashiro took
                            his distance from Berenson&rsquo;s views on the
                            Eastern quality of Botticelli&rsquo;s art. In 1952,
                            the Asian scholar published his own analysis of
                            "<semantic-link
                              iri="yashiro:oriental-character"
                              >The 'Oriental' Character</semantic-link
                            >
                            in Italian Tre- and Quattrocento Paintings." The
                            article represents something of an exception among
                            Yashiro&rsquo;s mature writings. After he completed
                            his Botticelli studies in the 1920s, Yashiro devoted
                            himself almost entirely to the study of Asian art,
                            as discussed by&nbsp;<semantic-link
                              iri="yashiro:akira-takagishi"
                              >Akira Takagishi</semantic-link
                            >. This leads to a second major theme in his letters
                            to Berenson, one explored by&nbsp;<semantic-link
                              iri="yashiro:yamanashi"
                              >Emiko Yamanashi</semantic-link
                            >: his establishment of the Institute of Art
                            Research in Tokyo, in 1930, and subsequent
                            directorship of this important center. In letters to
                            his mentor, Yashiro explains how at this Institute
                            he introduced the methods he had learned at I Tatti:
                            careful stylistic analysis carried out with the
                            auxiliary of a photo archive. Unbeknownst to most
                            scholars today, Berenson had a direct and lasting
                            impact on how Japanese scholars study Japanese art
                            in Japan.
                          </p>
                          <p>
                            Michiaki Koshikawa's&nbsp;<semantic-link
                              iri="yashiro:introduction"
                              >introduction</semantic-link
                            >&nbsp;to Yashiro&rsquo;s letters provides succinct,
                            engaging summaries of a half-dozen more themes found
                            in his correspondence with Mary and Bernard
                            Berenson, ranging from the professional to the
                            personal. These missives reveal the depth of the
                            friendship and respect shared by these scholars. As
                            aptly noted by Yashiro&rsquo;s daughter-in-law in
                            her moving&nbsp;<semantic-link
                              iri="yashiro:wakaba-yashiro-preface"
                              >letter</semantic-link
                            >, &ldquo;encountering a benevolent mentor can be
                            called one of the treasures of human life, and
                            indeed, Berenson remained Yashiro&rsquo;s most
                            revered teacher throughout his life.&rdquo;
                          </p>
                          <p>
                            This exhibition is the result of an international
                            collaboration between three institutions closely
                            associated with Berenson and Yashiro: Villa I Tatti
                            - The Harvard University Center for Italian
                            Renaissance Studies, Florence (founded by Berenson),
                            as represented by co-curator Jonathan Nelson,
                            Assistant Director for Academic Programs and
                            Publication; the National Research Institute for
                            Cultural Properties, Tokyo (founded by Yashiro as
                            the Institute of Art Research), as represented by
                            co-curator Emiko Yamanashi, Director of the
                            Department of Art Research, Archives and Information
                            Systems; and Tokyo University of the Arts,
                            Department of Aesthetics and Art History (formerly
                            Tokyo Fine Arts School, where Yashiro first taught
                            European art history), as represented by co-curator
                            Michiaki Koshikawa, Professor of Art History. For
                            the acknowledgements from the co-curators, please
                            see the
                            <semantic-link
                              iri="yashiro:colophon"
                              >colophon</semantic-link
                            >.
                          </p>
                          <p>&nbsp;Jonathan K. Nelson</p>
                          <p><strong>***</strong></p>
                          <p>
                            * For the transcription of this unpublished letter I
                            thank John Trevor Hatcher, who mentions it in his
                            article on "<semantic-link
                              iri="yashiro:john-hatcher"
                              >Anglo-Japanese Friendships</semantic-link
                            >: Yashiro Yukio, Laurence Binyon and Arthur Waley."
                          </p>
                        </div>
                </article>
  </div>

  <!-- main container end -->
</div>
<!-- /main container end -->
[[> "yashiro:footer"]]
