[[> yashiro:header ]]

<!-- main container open -->
<div id="yashiro-container" class="container">
  <!-- /main container open -->

  <div>
    <a name="main-content"></a>
    <header>
      <a name="main-content"></a>
      <h1>A few words by Lino Pertile</h1>
    </header>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <article>
                  <div>
                    <div>
                      <div>
                        <div>
                          <p>
                            One of the great joys of being Director of Villa I
                            Tatti has been hosting visitors&mdash;from all over
                            the world&mdash;who are still connected to Bernard
                            Berenson. One such memorable occasion occurred when
                            Yukio Yashiro&rsquo;s daughter-in-law, Mrs. Wakaba
                            Yashiro, and her daughter Toko Hirayama came to I
                            Tatti in March 2013. We were fortunate enough to
                            meet Mrs. Yashiro once more, and enjoy her charming
                            hospitality, two months later when I was giving some
                            lectures on Dante in Japan. On that occasion, Mrs.
                            Yashiro gave me a folder with two splendid portraits
                            of Yukio Yashiro, a brochure listing his many
                            publications, and, intriguingly, the copy of a page
                            from his book on Botticelli in which Yashiro most
                            insightfully considers the influence of the
                            <em>Divine Comedy</em> on the Florentine painter.
                            Yashiro&rsquo;s views on Botticelli&rsquo;s drawings
                            for the <em>Divine Comedy</em> are still very
                            compelling. For him, these drawings &ldquo;allow us
                            the one opportunity of seeing [Botticelli&rsquo;s]
                            genius in its absolute purity,&rdquo; even as,
                            signaling his conversion &ldquo;from a plastic
                            painter into a religious mystic,&rdquo; they
                            poignantly represent &ldquo;the beautiful suicide of
                            Botticelli&rsquo;s art.&rdquo; Mrs. Yashiro did not
                            speak about this to me, but the selection she made
                            for me from her father-in-law&rsquo;s book could
                            hardly have been unintentional, for on the page she
                            chose are the six lines from <em>Purgatorio</em>, in
                            the famous English <em>terza rima</em> translation
                            by Laurence Binyon, in which Dante describes the
                            apparition of Beatrice in earthly paradise.
                          </p>
                          <p>
                            This quotation from Binyon&rsquo;s translation is of
                            some note, for it was Binyon who recommended Yashiro
                            to Berenson when he came to Florence in the fall of
                            1921. In a letter dated 22 October of that year, now
                            held in the Villa I Tatti&rsquo;s archives, Binyon
                            writes:
                          </p>
                          <p class="quotes">
                            <em
                              >My dear Berenson,<br />I have taken the liberty
                              of giving a letter to you to</em
                            ><em>
                              a young Japanese friend of mine called Yashiro who
                              has just lately gone to Florence. I would not have
                              done so if I hadn&rsquo;t thought that you would
                              like him &amp; be interested to talk to
                              him&hellip;..He has come to Europe to study
                              European art, but hasn&rsquo;t turned his back on
                              his own. He cares about poetry, too, and in
                              himself he seems to me really charming.</em
                            >
                          </p>
                          <p>
                            <semantic-link
                              uri="https://yashiro.itatti.harvard.edu/resource/person/laurence_binyon"
                            >
                              Laurence Binyon
                            </semantic-link>
                            &nbsp;(1869-1943) was a poet, scholar, and expert
                            orientalist, Keeper of the newly established
                            department of Oriental Prints and Drawings at the
                            British Museum. He knew Berenson well and
                            corresponded with him from 1915 to 1939, often
                            discussing Persian, Chinese, and Japanese literature
                            and art. It was Binyon who raised the status of East
                            Asian art in London&rsquo;s literary circles in the
                            1910s. As an art historian and critic (he published
                            a book on Botticelli in 1913), a Dante scholar and
                            translator (his <em>Inferno</em> appeared in 1933,
                            <em>Purgatorio</em> in 1938, and
                            <em>Paradiso </em>in 1943), a poet, and a lover of
                            Japanese literature and art, Binyon was, as it were,
                            an English Yashiro, whose humanistic interests
                            transcended all linguistic, geographic, and cultural
                            differences. His introduction of the young Yashiro
                            to Berenson was effectively a co-option based on the
                            recognition that Yashiro was, in Berensonian terms,
                            an <em>unsereiner</em>, &ldquo;one of us.&rdquo;
                            Indeed, as if to underline this fact, in the folder
                            that she gave me, Mrs. Yashiro included a sheet of
                            paper with two moving poems that Binyon wrote when
                            he visited Japan in 1929: &ldquo;Momiji&rdquo;, on
                            the Japanese maple tree, &ldquo;burning&rdquo; in
                            the fall, and &ldquo;Miyajima&rdquo;, on the
                            homonymous small island near Hiroshima. With their
                            dazzling and melancholy pictures of a fleeting
                            paradise on earth, both poems remind one of that
                            other green haven of beauty and quiet contemplation,
                            which is, on our side of the world, Villa I Tatti.
                            Binyon was spell-bound by the beauty of the Japanese
                            landscape just as much as Yashiro was by the
                            Italian, and the love of beauty &ndash; the beauty
                            of nature, of art, of poetry, of human intelligence
                            and goodness &ndash; united them beyond all their
                            differences. That is why Binyon introduced Yashiro
                            to Berenson.
                          </p>
                          <p>
                            I have always been intrigued by the mysterious ways
                            in which individuals of the most distant and
                            different origins, languages, and backgrounds, come
                            to meet and interact, sometimes in such profound and
                            lasting ways that it can be hard in retrospect to
                            accept that their coming together happened by
                            chance. The relationship between Bernard Berenson
                            and Yukio Yashiro, brought about by the inspired
                            mediation of their common friend Laurence Binyon, is
                            one of these extraordinary stories.&nbsp;
                          </p>
                          <p>
                            I am delighted that this story is now being told in
                            the very words of Berenson&rsquo;s and
                            Yashiro&rsquo;s letters, and I am extremely grateful
                            to all those who, from within and without Villa I
                            Tatti, have contributed with their passion and hard
                            work to make it accessible to everyone. My warmest
                            thanks go to Mrs. Wakaba Yashiro for showing us some
                            of the places where her father-in-law lived and some
                            of the remarkable work that he started and inspired
                            in Japan. Without her quiet enthusiasm, and her
                            gracious encouragement and participation, this
                            exhibition would not have seen the light.
                          </p>
                          <p>
                            <em>Lino Pertile</em><br />Director of Villa I
                            Tatti, 2010-2015
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- main container end -->
</div>
<!-- /main container end -->
[[> "https://yashiro.itatti.harvard.edu/resource/footer"]]
