<semantic-link class="no-underline" iri="{{subject.value}}">
<div class="letter-card">
  <div class="letter-card-inner">
    <div class="letter-card-thumb">
      {{#if pic}}
        <rs-iiif-image-thumbnail
          image-or-region="{{pic.value}}"
          image-id-pattern='BIND( <{{pic.value}}> AS ?imageIRI)
                          BIND("image" AS ?type)
                          BIND(REPLACE(STR(REPLACE(STR(?imageIRI),"/full/full/0/default.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)
                          BIND(?imageIRI AS ?carrierImageIRI)'
          iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2"
          ></rs-iiif-image-thumbnail>
      {{/if}}
    </div>
    <div class="letter-card-title">{{title_label.value}}</div>
    <div class="letter-card-place">{{place_label.value}}</div>
    <div class="letter-card-date">{{dateTimeFormat date.value "MMMM D, YYYY"}}</div>
  </div>
</div>
</semantic-link>
