[[> yashiro:header ]]

<!-- main container open -->
<div id="yashiro-container" class="container">
  <!-- /main container open -->

  <div>
    <a name="main-content"></a>
    <header>
      <a name="main-content"></a>
      <h1>Michael M. Gorman</h1>
    </header>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <article>
                  <div>
                    <div>
                      <div>
                        <div>
                          <h2>
                            Berenson&rsquo;s Appreciation of Japanese Art in the
                            1890s
                          </h2>
                          <p>
                            In his
                            <semantic-link
                              uri="https://yashiro.itatti.harvard.edu/resource/7-mr-berenson-and-his-circle"
                              >autobiography</semantic-link
                            >, Yashiro speculates that one reason Berenson gave
                            him such a warm welcome was his interest in Eastern
                            art. &ldquo;Perhaps it was because I was the only
                            Asian among Mr. Berenson&rsquo;s disciples and his
                            extraordinarily broad field of interest also
                            included Eastern art, but I was treated with
                            affection by my teacher.&rdquo;
                          </p>
                          <p>
                            This interest of Berenson&rsquo;s has been explored
                            by several scholars, including&nbsp;<semantic-link
                              uri="https://yashiro.itatti.harvard.edu/resource/carl-brandon-strehlke"
                              >Carl Strehlke</semantic-link
                            >, in this exhibition. Strehlke gives particular
                            attention to a fascinating letter from Bernhard
                            Berenson (as he spelled his first name, until World
                            War I) to his future wife Mary Whitall Smith
                            Costelloe, dated October 26, 1894 (for the complete
                            letter, see entry 16 below). Here Berenson recounts
                            the powerful impact of seeing Asian art during a
                            visit to the Fogg Museum, in the company of Ernest
                            Fenollosa.
                          </p>
                          <p>
                            During the 1890s, Bernhard Berenson made many
                            comments about Japanese art in letters to Mary and
                            to his sister Senda. Entries in Mary&rsquo;s diaries
                            from the same period furnish additional evidence on
                            this topic. Berenson specifically expressed
                            appreciation for four Japanese artists: Utagawa
                            Hiroshige (1797-1858, whom he calls 'Hieroshigi',
                            see entry 16), Ogata Korin (1658-1716, whom he calls
                            'Koreen', see entry 16), Kitagawa Utamaro
                            (1797-1858, whom he calls 'Outamaro', see entries 5,
                            10 and 16) and Katsushika Hokusai (1760-1849, whom
                            he calls 'Hokosai', see entries 2 and 6 ). It is of
                            interest to note that in his monograph on
                            <semantic-link
                              uri="https://yashiro.itatti.harvard.edu/resource/botticelli"
                              >Botticelli</semantic-link
                            >, which will be published in 1925, Yashiro will
                            discuss three of the four artists mentioned by
                            Berenson in the 1890s: Korin, Utamaro and Hokusai.
                          </p>
                          <p>
                            A few of Berenson's comments have appeared in
                            earlier publications, often incorrectly transcribed
                            due to the difficulty of reading Berenson&rsquo;s
                            handwriting (e.g. entry 6 ). Most of the entries are
                            unknown and provide insight into Berenson's interest
                            in both Asian and contemporary art, especially
                            Degas. All twenty-nine items date from before
                            Bernhard and Mary were married in 1900 and are
                            listed below in chronological order.&nbsp;
                          </p>
                          <p>
                            A biographical note at the end provides brief
                            introductions to many of the contemporary figures
                            mentioned in these letters and entries, such as
                            Fenollosa.
                          </p>
                          <p>***</p>
                          <p class="gorman-subtitles">
                            <strong>1. Padua, October 26, 1891 </strong>(Entry
                            in Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            We spent the morning in the Chapel of the Arena,
                            which is filled with Giotto&rsquo;s frescoes. We
                            were thoroughly surprised by the real beauty of all
                            the compositions, by the delightful
                            straight-forwardness and clearness of his stories
                            and real appropriateness of his allegories. But we
                            were even more struck by the real beauty of the
                            frescoes as <em>painting</em> &mdash; the wonderful
                            purity of the outlines and the daintiness yet
                            richness of the colouring &ndash; and perhaps more
                            than anything else &ndash; what is so rare in the
                            old Masters &ndash; the
                            <em>sweep of his brush.</em> Almost every stroke of
                            this can be traced &ndash; and it shows a masterly
                            skill and decision. The <em>naivet&eacute;</em> is
                            very winning &ndash; and coupled with this is a
                            delicious <em>gaucherie</em>, remarkably like that
                            <em>gaucherie</em> which we also find in
                            <strong>Japanese</strong> art. In a curious way his
                            peasants, even to their clothes, and his way of
                            treating landscape and animals, is also
                            <strong>Japanese</strong>. Giotto as well as the
                            <strong>Japanese</strong> looked upon a picture as
                            the means of expressing an idea &ndash; so they
                            mentally abbreviate the scene &ndash; simplify it.
                            From one point of view, of course &ndash; the point
                            of view of atmosphere &ndash; these pictures are as
                            much bas-reliefs as if they were in marble &ndash;
                            and this very simplicity is a quality which Giotto
                            has in common with the bas-relief. This is simply
                            saying that Giotto had not yet got free from the
                            style of painting which was nothing but the
                            Alexandrine bas-relief in paint. Certain things in
                            these frescoes are types for the whole school
                            &ndash; as, for instance, arranging the heads in a
                            line &ndash; which is found throughout the whole
                            Tuscan school.
                          </p>
                          <p class="gorman-subtitles">
                            <strong
                              >2. Florence [undated: December 7, 1891?]</strong
                            >
                            (Bernhard Berenson to Mary Costelloe)
                          </p>
                          <p>
                            This morning I &hellip; spent two hours in the
                            Ufizzi, where it was bitter cold. &hellip; I looked
                            at Botticelli&rsquo;s <em>Venus</em>, and never
                            before did I enjoy is so much. I enjoyed it as I
                            expected to enjoy it when I used to dream about it
                            in Boston, reading Pater&rsquo;s description. In
                            that picture Florentine art touched bottom, created
                            something which invites no comparison, asks for no
                            explanation, is complete in itself as Degas, or
                            <strong>Hokosai</strong>, or our friend who did the
                            door of Spoleto. To bring us close to life is in one
                            shape or another the whole business of art, and
                            Botticelli in the <em>Venus</em> does bring us close
                            to life, not the life in Potapenko, or Huysmans, but
                            just as much life. You have it in the toss of the
                            drapery, in the swing of the line &ndash; life full
                            of power, and not afraid to spend itself. I must
                            make you appreciate the Venus. You have never done
                            it justice.
                          </p>
                          <p class="gorman-subtitles">
                            <strong
                              >3. Florence&nbsp;<strong
                                >[undated: 1892?]</strong
                              ></strong
                            >
                            (Bernhard Berenson to Mary Costelloe)
                          </p>
                          <p>
                            One thing to note is that at Munich there was a room
                            full of <strong>Japanese</strong> pictures by living
                            painters.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>4. Lucca, April 23, 1892</strong> (Entry in
                            Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            It had also an interesting font and a pulpit in the
                            Pisan style, and behind the High Altar an excellent
                            terra cotta plaque of St. George and the dragon, of
                            the della Robbia School. The dragon was quite
                            <strong>Japanese</strong> in colour, and in form
                            too.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>5. Paris, September 4, 1892</strong> (Entry
                            in Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            We lunched together (all but Thiis) and then went to
                            the Exposition des Arts de la Femme. We were
                            interested in the fashions and coiffures, also some
                            lovely Tanagras and
                            <strong>Japanese</strong> things.
                            <strong>Outamaro</strong>&nbsp;is as elegant as
                            Parmigianino.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>6. Pesaro, October 17, 1892 </strong
                            >(Bernhard Berenson to Senda Berenson)
                          </p>
                          <p>
                            I left Venice Thursday morning, and stopped the day
                            at Padua. I saw the great Veronese, and the soaring
                            church it lives in, the famous Santo with its queer
                            half Eastern minarets, and the frescoes of Giotto,
                            and Altichieri. My interest in the 14th century
                            people is growing at a rapid pace. Every time I see
                            the Giottos at Padua I think a world more of them.
                            It is curious that my love for the 14th century
                            painters grows in exact proportion to the increase
                            of my interest in the very latest painters of our
                            own time. It is curious, and yet I can explain it.
                            Naturally I have a sense for form, for composition.
                            This was fed by the passionate interest I took in
                            ancient art, and in the architecture of the
                            Renaissance, not only while I was at home, but even
                            during my first year abroad. Of course in painting
                            also I looked for form, composition, and as to
                            feeling I looked for the sentiment that
                            Virgil&rsquo;s <em>Bucolics</em> filled me with.
                            Even now when I think of perfect happiness my mind
                            forms a picture that would illustrate one of those
                            idylls. All this is as much as to say that painting
                            as painting meant nothing to me. Drawing
                            particularly, in the art sense of that word, was a
                            small matter. If I found figures which satisfied my
                            ideal of beauty, and a landscape and sentiment which
                            realized my Virgilian dream I thought that picture
                            beautiful. But time has changed all that. The
                            quality of line in drawing, force, decision mean
                            everything to me. The same force, vigour, and
                            decision plus a quick sense for the whole, that is
                            to say tone are all I ask for in colour. When I find
                            these qualities I am satisfied, without asking to
                            find expression of myself in every picture. After I
                            have had my fill of enjoyment of the art in a
                            picture, then I ask what it says, and I do my level
                            best to hear what it says, and to take care to say
                            nothing myself. So you see, as the sentiment of a
                            picture has become indifferent to me, I am ready to
                            appreciate any picture with quality to it, whether
                            it be Giotto, <strong>Hokosai</strong>, or Degas.
                          </p>
                          <p>
                            [Note: Hokosai's name was transcribed as "Masaccio"
                            in Ernest Samuels,
                            <em
                              >Bernard Berenson: The Making of a Connoisseur</em
                            >, Cambridge, Mass. 1979, 160.]
                          </p>
                          <p class="gorman-subtitles">
                            <strong>7. Florence, January 5, 1893</strong> (Entry
                            in Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            I went to the Pitti to speak to Prof. James, and
                            then to the Panciatichi collection with Bernhard. We
                            saw the most lovely of all Crivelli&rsquo;s, a
                            smallish Piet&agrave;, of perfect, compact
                            composition. There were fine
                            <strong>Japanese</strong> things too, and a couple
                            of delicious small Tura&rsquo;s.
                          </p>
                          <p class="gorman-subtitles">
                            <strong
                              >8. Florence&nbsp;<strong
                                >[undated: 1893?]</strong
                              > </strong
                            >(Bernhard Berenson to Mary Costelloe)
                          </p>
                          <p>
                            The weather is more than ever miraculous. This
                            afternoon things looked as in
                            <strong>Japanese</strong> art, where the objects are
                            dashed off on the bare surface of the panel or
                            paper, with no attempt at background, or intervening
                            atmosphere.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>9. Florence, March 25, 1894</strong> (Entry
                            in Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            Fabbri spent the afternoon here, looking at Lotto
                            photographs. He judges everything by the Velasquez
                            or <strong>Japanese</strong> standard, and prefers
                            Botticelli to Bellini.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>10. Florence, March 26, 1894</strong> (Entry
                            in Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            We lunched at Loeser&rsquo;s with Miss Hallowell,
                            and there made our first real acquaintance with
                            <strong>Outamaro</strong> and his master. We passed
                            a couple of hours of absolutely lyric joy looking at
                            those things. His collection is very unequal. His
                            rooms are furnished with exquisite taste. He seemed
                            rather nice, and I am glad we have tried to heal up
                            the quarrel.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>11. Paris, August 30, 1894</strong> (Entry
                            in Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            After lunch we went to the Exposition du Livre, and
                            saw some nice <strong>Japanese</strong> things.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>12. Roxbury, September 17, 1894</strong>
                            (Bernhard Berenson to Mary Costelloe)
                          </p>
                          <p>
                            By the way, yesterday, Sunday, I went to the art
                            museum. It was fearfully crowded &mdash; the
                            Metropolitan in New York had no crowd at all. The
                            picture show is not extraordinary, except for Copley
                            who seems interesting. But my first glance over the
                            <strong>Japanese</strong> collection was a treat,
                            particularly of the potteries and lacquers.
                          </p>
                          <p class="gorman-subtitles">
                            <strong
                              >13. Newport, Rhode Island, September 18,
                              1894</strong
                            >
                            (Bernhard Berenson to Senda Berenson)
                          </p>
                          <p>
                            What pleasure in mere existence one may enjoy here!
                            Not a clashing note; and beside the pictures, lots
                            of <strong>Japanese</strong> potteries and bronzes.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>14. Roxbury, September 26, 1894</strong>
                            (Bernhard Berenson to Mary Costelloe)
                          </p>
                          <p>
                            [Visit to the home of Quincy Shaw]. The proprietor
                            was not at home. So much the better for a first
                            look. No decoration whatever! Simple, square rooms
                            with homely furniture, but pictures on the walls,
                            and here and there, where they seem articles of
                            every day use, the most exquisite Old Satsuma,
                            <strong>Japanese</strong> bronzes, and lacquers. The
                            pictures are Millets, Corots, Rousseaus for the most
                            part. The Corots are among the most
                            <em>intime</em> I&rsquo;ve ever seen. The Millets
                            are chiefly pastels, but dozens of oils also. They
                            are pictures not to <em>constater</em> &mdash; as so
                            very many are &mdash; but to live with. Yes, to
                            understand Millet, you must come here. Here you see
                            him not only as an artist than whom there never was
                            a greater, but as the chief instrument in the
                            genesis of the <em>Impressionnistes</em>.
                          </p>
                          <p>
                            Shaw&rsquo;s Italian pictures are of small amount
                            beside the French. A genuine Cima Madonna, a Licinio
                            &ldquo;Santa Conversazione&rdquo;, a Mainardi, some
                            sham Veroneses, a small Annunciation, and an
                            enormous Nativity, both of which you with your
                            neophytic certainty would baptize Domenico
                            Tintoretto, and I hesitate about [&hellip;], lest
                            they be by Jacopo himself, and finally a Magdalen by
                            B. Vivarini, almost a Crivelli. To all this add a
                            Madonna by Luca della Robbia, as lovely as any, the
                            marble Madonna with angels and Child, ascribed to
                            Verrocchio, and certainly close akin to the
                            mysterious Madonna and Angels in the National
                            Gallery, and a bust of a warrior, possibly by
                            Polajuolo.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>15. Boston, October 25, 1894</strong>
                            (Bernhard Berenson to Senda Berenson)
                          </p>
                          <p>
                            This morning at 10 I met him in the art-museum and
                            he introduced me to Fenelosa. From 10 to 5, with the
                            hour for lunch excepted, I spent in a sort of dream
                            of ecstasy before Chinese and
                            <strong>Japanese</strong> painting. They revealed a
                            new world to me.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>16. Roxbury, October 26, 1894</strong>
                            (Bernhard Berenson to Mary Costelloe)
                          </p>
                          <p>
                            Yesterday morning before ten I met Denman Ross at
                            the Art Museum. We looked at his version of the
                            Bergamo Raphael which seems to me possibly by lo
                            Spagna. At ten he took me down to Fenelosa whom I
                            liked at once. He is a little taller than I, has a
                            long face, colouring not unlike my own, beautiful
                            grey eyes, and something in his look that suggests
                            Burke.
                          </p>
                          <p>
                            He began almost at once to show me things, starting
                            out with a life-size painting by a
                            <strong>Japanese</strong> dating from the 9th
                            century, a figure of a saint with all the literary
                            qualities and much of the charm of Lorenzetti,
                            beside its own power.
                          </p>
                          <p>
                            He then showed me a series of Chinese pictures from
                            the 12th century, which revealed a new world to me.
                            To begin with they had composition of figures and
                            groups as perfect and simple as the best that we
                            Europeans have ever done. Then they had, what was
                            never dream of in oriental art, powerful
                            characterization, now surpassing D&uuml;rer, and now
                            Gentile Bellini. Furthermore, and most astonishing,
                            they are profoundly contrite, full of humility,
                            love, humanity, of the quality of the tenderest
                            passage in the Gospels, or in the story of St.
                            Francis. And all this (that we have approached) in
                            terms of <em>line</em>, colour, and tone that we
                            Europeans have never approached, that no
                            <strong>Japanese</strong> things you and I have seen
                            together at all rival.
                          </p>
                          <p>
                            I was prostate. Fenelosa shivered as he looked. I
                            thought I should die, and even Denman Ross who looks
                            dumpy Anglo-Saxon was jumping up and down. We had to
                            poke and pinch each other to let off some of the
                            tension, and almost we fell on each other&rsquo;s
                            necks and wept. No, decidedly I never had had such
                            an art experience. I do not wonder Fenelosa has gone
                            into esoteric Buddhism. What is so convincing as
                            art! And where ever was religion so manifested as in
                            these paintings!
                          </p>
                          <p>
                            A Mrs. Scott, Fenelosa&rsquo;s assistant, who was
                            also present asked me solemnly at a certain moment,
                            if I did not feel the presence in the room of all
                            the occult influences represented in the pictures.
                          </p>
                          <p>
                            Then Fenelosa picked out choice specimens of
                            <strong>Japanese</strong> painting thro&rsquo; the
                            centuries. The decline seemed steady, and everything
                            seemed rather flat after the 12th century series,
                            yet when I looked at them the other way, i.e., going
                            backward, from the 17th to the 12th century, one
                            thing seemed more wonderful than the other. I never
                            had such a test of the relativity of aesthetic
                            enjoyment. What we got out of the individual picture
                            depended entirely on whether we took it in an
                            ascending or descending series. And what is so
                            wonderful we were unanimous. The same cry rose from
                            all our lips at the first sight of the great thing,
                            and I never made an adverse criticism without it
                            being seconded by Fenelosa. It was delightful. Here
                            he had devoted twenty years to
                            <strong>Japanese</strong>, and I seven to Italian
                            art, and the result is a perfectly equal sense of
                            quality in line, grouping, colour and tone. How it
                            fortified me in my impressions! And I could see that
                            he was even more delighted. One series of paintings
                            from the 14th century was so much like Fra Angelico
                            only very much more beautiful. Oh, the drift of
                            stars in the milky way that one represented! No, it
                            did not represent it, but so suggested it that I
                            felt it instantly, and Fenelosa told me that
                            actually [it] was the subject as labelled by the
                            painter himself. At one we ended with seeing a large
                            screen by Koreen, a wild sea with green waves,
                            toothed and fanged like terrible beasts gnawing
                            rocks as strange as in Lorenzetti. O, the freedom,
                            the wind, the sunshine, the salt smell, the
                            coolness, and great spirit of nature there was in
                            this!
                          </p>
                          <p>
                            Ross and I then went to lunch, and after lunch we
                            went back and looked at prints, but such prints, the
                            best <strong>Outamaro</strong> you have seen are as
                            nothing to them, landscapes by
                            <strong>Hieroshigi</strong> that beat Whistler, and
                            figures <em>ad lib. </em>
                          </p>
                          <p>
                            I looked until there was no more light in the sky,
                            and then called on the James&rsquo; in Cambridge. I
                            saw James whom I found limping about with a sprained
                            ankle. I stayed only a minute, and went to dine with
                            Archie Coolidge and Santayana, and the present
                            editor of the <em>Monthly</em> who has the pretty
                            name Pierre la Rose.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>17. Roxbury, October 30, 1894</strong>
                            (Bernhard Berenson to Mary Costelloe)
                          </p>
                          <p>
                            Yesterday I spent most of the day with Denman Ross
                            at his house in Cambridge. He has two of the very
                            finest Monets, and quantities of
                            <strong>Japanese</strong> things.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>18. New York, November 6, 1894</strong>
                            (Bernhard Berenson to Mary Costelloe)
                          </p>
                          <p>
                            After lunch Davis took me to Marquandt&rsquo;s. The
                            old man is now very deaf, so one can look, and need
                            not talk. You enter into a hall with wooden
                            balconies running all around at different storeys,
                            the walls hung with the loveliest Persian
                            tapestries, or inlaid with Oriental tiles of the
                            daintiest pattern and colour. There we spent the
                            rest of the afternoon looking at Moorish, and
                            Persian, and <strong>Japanese</strong> pottery, at
                            lacquers, at bronzes, at tapestries, until my eyes
                            closed of themselves. Mary, such, such a feast, and
                            on the whole such exquisite taste in the
                            arrangement, particularly a room containing the
                            <strong>Japanese</strong> pottery wherein all the
                            carving of the shelves, the walls, the ceilings, the
                            fire things, everything was either old
                            <strong>Japanese</strong>, or well recreated.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>19. Paris, December 15, 1894</strong> (Entry
                            in Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            Bernhard lunched with Bing and saw his marvellous
                            <strong>Japanese</strong> things, while I took Mrs.
                            Hapgood to Durand-Ruel&rsquo;s and the Louvre.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>20. Paris, December 20, 1894</strong> (Entry
                            in Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            Loeser and Sturges came to dinner and we went to see
                            M. Rouart&rsquo;s <strong>Japanese</strong> things,
                            next door to Reinach.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>21. Fiesole, February 13, 1895</strong>
                            (Entry in Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            The great event of the day was the arrival and
                            spreading of our <strong>Japanese</strong> rugs.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>22. Fiesole, May 26, 1895</strong> (Entry in
                            Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            Today at lunch Bernhard suddenly broke out in praise
                            of the Degas on the mantelpiece, &ldquo;the greatest
                            of all works of art.&rdquo; &ldquo;Why?&rdquo;
                            &hellip; A good deal of hesitation and feeling
                            round, and at last the right reason hit on the head,
                            because it conveys life directly. He has deserted
                            the theory that art is to &ldquo;uplift&rdquo;, or
                            &ldquo;broaden&rdquo; life, or any hygienic, social
                            or moral view of its mission. That may or may not
                            be, but the essence of essences is to be a sheath,
                            an envelope of just &ldquo;plain life&rdquo;.
                            effects of space and composition belong to
                            architecture, and are rightly called in painting
                            &ldquo;architectonic&rdquo;. But painting can
                            communicate life, livingness, itself. This is the
                            purely aesthetic artistic standard of art. Whether
                            it resembles or not is aside from the mark. Painting
                            can <em>convey life</em> more forcibly, more
                            essentially, than the living thing itself. Neither
                            Maud [Cruttwell] nor I looked half so much alive as
                            Degas&rsquo; ballet-girl bending down to tie her
                            slipper. We were not sheaths of aliveness as the
                            painter made that figure. This idea, unclearly felt
                            after, is at the bottom of most criticism, from
                            Vasari&rsquo;s &ldquo;pare vivo&rdquo; down. But
                            most people can&rsquo;t imagine it can
                            <em>convey</em> life unless it is as much like the
                            living thing as possible. Hence most bad criticism,
                            such as mother&rsquo;s contempt for the
                            <strong>Japanese</strong>, who seem to be the
                            greatest &ldquo;life-bearers&rdquo; of all.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>23. Mainz, July 19, 1895</strong> (Entry in
                            Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            We the &ldquo;did&rdquo; the town [Frankfurt],
                            ending up at 10 at the St&auml;del Institut, where
                            we stayed till one. It is a splendid collection.
                            Perhaps a huge triptych by Roger van der Weyden
                            impressed us more than anything else, the splendidly
                            decorative Christ on the Cross with a
                            <strong>Japanese</strong> landscape, like a
                            stronger, more human Crivelli.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>24. Paris, June 29, 1896 </strong>(Bernhard
                            Berenson to Mary Costelloe)
                          </p>
                          <p>
                            Placci and Cook accompanied me to [Moise de]
                            Camondo&rsquo;s yesterday morning. I found a number
                            of new Degas, and Manet&rsquo;s &ldquo;Port du
                            Boulogne&rdquo;, the one real night scene. He has
                            annexed another floor, and hung one large room with
                            the best <strong>Japanese</strong> engravings. Degas
                            exquisitely illustrates my theories &mdash; not only
                            his execution but the choice of his motives is
                            entirely determined by feeling for tactile values,
                            for pressure and movements. Both Cook and Placci
                            seized hold of him as maternal pap. Camondo reports
                            Degas saying &ldquo;il faut peindre faux pour
                            paraitre vrai.&rdquo; I still like the Monets, but
                            not quite so much. Degas and Manet overtower
                            everybody. Camondo by the way is going to leave all
                            his things to the Louvre.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>25. London, July 30, 1896</strong> (Bernhard
                            Berenson to Mary Costelloe)
                          </p>
                          <p>
                            There are very few Raphaels at Windsor. Among odds
                            and ends I discovered a drawing by Mansueti, a fine
                            head of a monk by Montagna, and a large and
                            impressionistic Sodoma. Then we refreshed ourselves
                            looking at the Holbeins. There is a master of the
                            line, and he uses black and buff like the best
                            <strong>Japanese</strong>.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>26. Fiesole, October 22, 1896</strong>
                            (Entry in Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            I am horrified with the way I let flowers be
                            arranged in this house. An article on
                            <strong>Japanese</strong> flower arrangement has
                            opened my eyes to the possibilities of this
                            <em>as an</em> art.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>27. Florence, May 15, 1898</strong> (Entry
                            in Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            In the evening we had a long, long discussion
                            wherein Horne maintained that no European could
                            enjoy Egyptian and <strong>Japanese</strong> art as
                            he enjoyed his own, nor Nature as he enjoys art. He
                            isn&rsquo;t much of a thinker &mdash; this is the
                            first real talk we have had, and he got hopelessly
                            muddled.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>28. Florence, June 11, 1898</strong> (Entry
                            in Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            Bernhard&rsquo;s dealer from Rome (Cesare Magni, by
                            name!) came bringing a lovely Rembrandt he bought,
                            and some <strong>Japanese</strong> bronzes. Later
                            came Torini with a Sienese portrait, which Bernhard
                            also bought.
                          </p>
                          <p class="gorman-subtitles">
                            <strong>29. Paris, June 28, 1898</strong> (Entry in
                            Mary Costelloe&rsquo;s diary)
                          </p>
                          <p>
                            Louvre in the morning. Bernhard went there with Herr
                            von Seidlitz, and then to Rouart&rsquo;s
                            <strong>Japanese</strong> collection.
                          </p>
                          <h3 class="intro-subtitle">Biographical Notes</h3>
                          <ul>
                            <li>
                              <strong>Mr. Bing</strong>, mentioned in
                              Mary&rsquo;s diary entries for Deember 15, 1894,
                              September 26, 1895 and June 23, 1896, was
                              apparently an art dealer in Paris, perhaps the
                              father of Henry Bing (1888-1965), who founded the
                              Galerie Bing in Paris in 1925.
                            </li>
                            <li>
                              <strong>Moise de Camondo</strong> (1860-1935)
                              built a mansion on Parc Monceau in Paris in 1911.
                              Modelled after the Petit Trianon in Versailles, it
                              housed his art collection, bequeathed in 1935 as
                              the Mus&eacute;e Nissim de Camondo, named in
                              honour of his son who died in 1917. Camondo's
                              family had owned the largest bank in the Ottoman
                              Empire.
                            </li>
                            <li>
                              <strong>Sir Herbert Frederick Cook</strong>, 3rd
                              Baronet Cook of Richmond, 1868-1939, educated at
                              Harrow and Balliol, was a collector and
                              connoisseur, one of the founders of the
                              <em>Burlington Magazine</em>, and a donor to the
                              Courtauld Institute. From 1895 to about 1900 he
                              and Bernhard were great friends.
                            </li>
                            <li>
                              <strong>Archibald Cary Coolidge</strong>,
                              &rsquo;87 (thus Bernhard&rsquo;s class mate),
                              1866-1928, was the son of Jack Gardner&rsquo;s
                              sister Julia. From 1887 to 1893 he studied in
                              Paris and Germany while serving in various
                              capacities in the U.S. diplomatic service. In 1893
                              he began to teach in the Department of History and
                              from 1908 until his death he was a professor of
                              History at Harvard College. He was also the first
                              director of the Harvard University Library from
                              1910 until his death and guided the building of
                              Widener Library. Coolidge was a founder of the
                              Council on Foreign Relations and the first editor
                              of <em>Foreign Affairs</em>. Coolidge built
                              Randolph Hall in 1897 and continued to live in his
                              suite there until his death &mdash; its features
                              were luxurious even by Gold Coast standards; the
                              building is now part of Adams House.&nbsp;
                            </li>
                            <li>
                              &nbsp;<strong>Maud Cruttwell</strong>, 1860-1939,
                              kept house for Mary in Villa Rosa in Fiesole,
                              1894-1897. She worked closely with Bernhard and
                              thanked him in her various books on painters for
                              his help.&nbsp;In 1900 she acted as witness to the
                              Berensons' marriage.
                            </li>
                            <li>
                              <strong>Ernest Fenollosa</strong>, &rsquo;74, was
                              born in Salem, Mass., in 1853 and died in London
                              in 1908. An art historian, he was a professor at
                              Tokyo University and later served as curator in
                              the department of Oriental Art at the Museum of
                              Fine Arts from 1890 to 1896.
                            </li>
                            <li>
                              <strong>Pierre La Rose</strong> (better known as
                              Pierre Chaignon de La Rose), &rsquo;95, was born
                              Peter Ross in 1871 and attended Phillips Exeter.
                              An especially flamboyant member of
                              Santayana&rsquo;s circle, he had become the editor
                              of the <em>Harvard Monthly</em> in October 1894,
                              when Berenson met him on his return to Cambridge.
                              From 1897-1902, he was instructor in English at
                              Harvard College. He later turned to interior
                              decoration, including the Signet Society House and
                              the Faculty Room in University Hall, and armorial
                              research, designing the coats of arms of
                              Harvard&rsquo;s graduate schools.
                            </li>
                            <li>
                              <strong>Mr. Marquandt</strong>, a rich collector
                              who lived in a &lsquo;tremendously luxurious and
                              beautiful&rsquo; mansion in New York in the 1890s,
                              is mentioned in a letter from Bernhard to Mary
                              dated Nov. 4, 1894.
                            </li>
                            <li>
                              <strong>Denman Ross</strong>, &rsquo;75,
                              1853-1935, a painter and a collector, was
                              professor of art at Harvard. He made donations of
                              Japanese and Chinese art to the Museum of Fine
                              Arts in Boston, of which he was a trustee.
                            </li>
                            <li>
                              <strong>Woldemar von Seidlitz</strong>, 1850-1922,
                              an art historian, was born in St. Petersburg.
                            </li>
                            <li>
                              <strong>Quincy Adams Shaw</strong>, &rsquo;45,
                              1825-1907, one of the richest men in
                              Massachusetts, married Pauline Agassiz in 1860;
                              she was the step-daughter of Elizabeth Cabot Cary
                              Agassiz, 1822-1907, who in 1894 transformed the
                              &ldquo;Harvard Annex&rdquo;, set up in 1879, into
                              Radcliffe College. Mary Whitall Smith,
                              Bernhard&rsquo;s future wife, attended the Harvard
                              Annex in 1884-1885.
                            </li>
                            <li>
                              <strong>Jonathan Sturges</strong>, 1864-1911, a
                              Princeton graduate, was a writer. His book of
                              stories,
                              <em>The First Supper and Other Episodes</em>, was
                              published in 1893. Sturges first met James McNeill
                              Whistler around 1895, possibly in Paris, although
                              he lived mostly in England. He and Whistler shared
                              a number of mutual friends including Henry James,
                              George Washington Vanderbilt and the Pennells.
                              Sturges was depicted as Little Bilham in
                              <em>The Ambassadors</em> (1903) by Henry James.
                              Mary saw Jonathan Sturges in Paris in November and
                              December 1894 and again in September 1895, and
                              then in London in the summer of 1896; he was a
                              friend of her brother Logan.
                            </li>
                            <li>
                              <strong>Jens Thiis</strong>, 1870-1942, an art
                              historian and director of the National Gallery,
                              Oslo. Awarded the honorary citizenship of Florence
                              for his books on the Renaissance in Florence.
                            </li>
                            <li>
                              <strong>Robert Trevelyan</strong>,
                              &lsquo;Trevy&rsquo;, 1872-1951, the son of Sir
                              George Trevelyan, Macaulay&rsquo;s biographer. A
                              poet and translator, he was a follower of
                              Mary&rsquo;s brother, Logan Pearsall Smith, and
                              close to the Bloomsbury group. He attended Trinity
                              College Cambridge, where he studied classics and
                              was elected to the Apostles. Among his friends
                              were George Santayana, Bertrand Russell, G. E.
                              Moore, E. M. Forster and Goldsworthy Lowes
                              Dickinson. In the 1890s he was Bernhard&rsquo;s
                              favourite visitor to Villa Kraus and Il Frullino.
                            </li>
                          </ul>
                          <p>***</p>
                          <p>
                            Michael M. Gorman's most recent book is
                            <em
                              >Grammatical Works attributed to Peter of Pisa,
                              Charlemagne&rsquo;s Tutor, </em
                            >Hildesheim 2014. He is preparing an edition of the
                            letters and diaries of Bernhard and Mary which date
                            from before 1901. Email:
                            <a href="mailto:michael.gorman@unimi.it"
                              >michael.gorman@unimi.it</a
                            >
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- main container end -->
</div>
<!-- /main container end -->
[[> "https://yashiro.itatti.harvard.edu/resource/footer"]]
