[[> yashiro:header ]]

<!-- main container open -->
<div id="yashiro-container" class="container">
  <!-- /main container open -->
  <div class="content-inner">
    <a name="main-content"></a>
    <header id="main-content-header">
      <a name="main-content"></a>
      <h1 id="page-title">John Hatcher</h1>
    </header>

    <!--front panel regions beg-->
    <div
      id="content-panels"
      class="at-panel gpanel panel-display content clearfix"
    >
      <div class="region region-content-top">
        <div class="region-inner clearfix">
          <div
            id="block-os-pages-main-content"
            class="block block-os-pages no-title"
            module="os_pages"
            delta="main_content"
          >
            <div class="block-inner clearfix">
              <div class="block-content content">
                <article
                  id="node-5126"
                  class="node node-page article clearfix"
                  role="article"
                >
                  <div class="node-content">
                    <div
                      class="
                        field
                        field-name-body
                        field-type-text-with-summary
                        field-label-hidden
                        view-mode-full
                      "
                    >
                      <div class="field-items">
                        <div class="field-item even">
                          <p>
                            "Anglo-Japanese Friendships: Yashiro Yukio, Laurence
                            Binyon and Arthur Waley,"
                            <em
                              >Bulletin of the Fukuoka University Research
                              Institute </em
                            >[<em>Fukuoka daigaku jinbun ronsô</em>] 23 (1992):
                            997-1022.
                          </p>
                        </div>
                      </div>
                    </div>
                    <table class="os-files-other-list">
                      <tbody>
                        <tr class="odd">
                          <td class="mime mime-pdf">
                            <img
                              class="pdf-file-icon"
                              alt=""
                              src="../../../assets/images/application-pdf.svg"
                            />
                          </td>
                          <td class="file">
                            <a
                              href="/assets/files/hatcher_anglo-japanese_friendships.pdf"
                              >hatcher_anglo-japanese_friendships.pdf</a
                            >
                          </td>
                          <td class="size">1.74 MB</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <section
          class="iframe-section"
          >
            <iframe
              src="https://archive.org/stream/hatcher_anglo-japanese_friendships#page/n0/mode/2up"
              width="100%"
              height="800"
              frameborder="0"
              webkitallowfullscreen="true"
              mozallowfullscreen="true"
              allowfullscreen=""
            ></iframe>
        </section>
    <!--front panel regions end-->
  </div>

  <!-- main container end -->
</div>
<!-- /main container end -->
[[> "https://yashiro.itatti.harvard.edu/resource/footer"]]
