
<!-- main container open -->
<div id="main-container" class="container">
    <!-- /main container open -->

    <div><a name="main-content"></a>
        <header><a name="main-content"></a>
            <h1>Cockerell Letters</h1>
        </header>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <article>
                                    <div>
                                        <div>
                                            <div>
                                                <div>
                                                    <p class="cockerell-subtitles"><h3>Letters at I Tatti from
                                                        Sydney C. Cockerell to Bernard Berenson about the Domenico
                                                        Veneziano panels in the Fitzwilliam Museum, Cambridge<br/><br/></h3>
                                                    </p>
                                                    <p class="cockerell-subtitles"><strong>1. Jan 24, 1924 </strong>(excerpt;
                                                        the photograph mentioned by Cockerell is in the I Tatti photo
                                                        archive)</p>
                                                    <p>You will find a little Annunciation that has come to us since you
                                                        were here, with another little Florentine picture of the Miracle
                                                        of St. Zenobius. Have you anything to say about the
                                                        Annunciation?</p>
                                                    <p class="cockerell-subtitles"><strong>2. May 17, 1924 </strong>(excerpt;
                                                        the photograph mentioned by Cockerell is in the I Tatti photo
                                                        archive)<br/>
                                                        </p><p>I enclose a poor photograph of the little
                                                        Florentine picture of St. Zenobius that came with the Dom.
                                                        Veneziano (?)</p>
                                                    <p class="cockerell-subtitles"><strong>3. June 17, 1924 </strong>(excerpt)<strong><br/></strong></p><p>I
                                                        must write not only to thank you but to say how interesting your
                                                        Dom. Veneziano discovery is. The dimensions of the two little
                                                        pictures are practically the same- i.e. the height.</p>
                                                    <p class="cockerell-subtitles"><strong>4. Jan 30, 1925 </strong>(includes
                                                        copy of letter to Venturi)<strong><br/></strong>Fitzwilliam
                                                        Museum, Cambridge</p>
                                                    <p>My dear Berenson,</p>
                                                    <p>I enclose for your information a copy of a letter to Prof.
                                                        Venturi, which explains itself.</p>
                                                    <p>Yashiro is in America, on his way back to Japan. I am sending him
                                                        another copy, which may or may not reach him. I do not known
                                                        whether anything has appeared or is about to appear on the
                                                        reconstruction of the Domenico Veneziano, or whether you have
                                                        finally decided that our St. Zenobius picture formed part of the
                                                        predella. If so the bishop in the Uffizi picture is presumably
                                                        St. Zenobius and not St. Nicholas. Perhaps you will kindly tell
                                                        me how the matter stands.</p>
                                                    <p>Yours always,</p>
                                                    <p>Sydney C. Cockerell</p>
                                                    <p>The article by Venturi has been sent to a friend of his, Mr.
                                                        Addison McLeod, for translation and publication in England. If
                                                        you think fit, you would be able to contribute a letter or
                                                        article to the March Burlington.</p>
                                                    <p>---</p>
                                                    <p>Copy</p>
                                                    <p>30 Jan. 1925<br/> Fitzwilliam Museum, Cambridge</p>
                                                    <p>Dear Sir,</p>
                                                    <p>As I understand from Mr. McLeod that you have written an article
                                                        on our little Annunciation by Domenico Veneziano for publication
                                                        in this country, I desire to set before you certain facts which
                                                        have perhaps only partially come to your notice.</p>
                                                    <p>This picture came to us on Oct. 30, 1923. A day or two later
                                                        Professor Yashiro visited the Museum and I showed it to him. He
                                                        instantly recognized that it was by Domenico Veneziano and asked
                                                        to have it photographed &ndash; He wrote to me on Aug. 28 that
                                                        he had met you in London, that he would like a photograph of
                                                        this picture sent to you, and that he was about to write an
                                                        article on it as he believed that he could reconstruct the whole
                                                        predella &ndash; To Professor Yashiro belongs the credit of the
                                                        original discovery.</p>
                                                    <p>A few weeks after his visit I sent a photograph to Mr. Berenson
                                                        without mentioning Prof. Yashiro&rsquo;s attribution &ndash; He
                                                        wrote at once that it appeared to be by Domenico Veneziano and
                                                        congratulated the Museum on so interesting an acquisition. In
                                                        June 1924 I had a further correspondence with him about it
                                                        &ndash; He had also, independently of Prof. Yashiro, been busy
                                                        on the predella of the Uffizi picture, and had arrived at
                                                        definite conclusions. Mr. Berenson was therefore the second
                                                        person to work the problem out.</p>
                                                    <p>How far either of these gentlemen may have consulted you in the
                                                        course of their investigations, or may have informed you of
                                                        them, I am not in a position to know more than may perhaps be
                                                        inferred. This label was the subject of a good deal of interest
                                                        on the opening day and it has been there ever since &ndash; If I
                                                        correctly understand Mr. McLeod, it escaped your notice when you
                                                        were here.</p>
                                                    <p>When the picture was photographed it had attached to it (i.e. to
                                                        the frame) the name of Domenico Ghirlandaio &ndash; This
                                                        manifestly false attribution was not ours, but was that of a
                                                        previous owner; but it had an interest, which Mr. Berenson
                                                        pointed out. When it left Florence there was evidently still a
                                                        tradition of its being by a Domenico &ndash; Domenico Veneziano
                                                        being then (c. 1820, I believe) unknown, it was rashly assumed
                                                        that the Domenico in question was D. Ghirlandaio.</p>
                                                    <p>This name was removed from the picture some time ago &ndash; I
                                                        was under the impression that it was removed before the Gallery
                                                        opened, but it may have been left on the picture for some time
                                                        longer &ndash; and this was certainly the case if you saw it
                                                        there, as Mr. McLeod seems to imply.</p>
                                                    <p>I am, dear Sir, <br/> Yours very truly,</p>
                                                    <p>Sydney C. Cockerell</p>
                                                    <p class="cockerell-subtitles"><strong>5. Feb 7, 1925 </strong>(includes
                                                        quote from a letter by Yashiro)<strong><br/></strong>Fitzwilliam
                                                        Museum, Cambridge</p>
                                                    <p>My dear Berenson,</p>
                                                    <p>I am so glad to get your letter of Feb. 3 and to know that you
                                                        approve of my letter to Venturi. I hope that he will see the
                                                        advisability of standing aside. I have not yet heard from him
                                                        and indeed there has been scarcely time.</p>
                                                    <p>I have looked through your letters and can find no reference to
                                                        your intention to reproduce the picture in &lsquo;Dedalo.&rsquo;
                                                        It will be a thousand pities if it is further delayed, and
                                                        indeed I wondered whether you ought not to have at any rate a
                                                        letter in the March Burlington.</p>
                                                    <p>Yashiro&rsquo;s letter of Aug 28 contains this passage: &ldquo;Also
                                                        can I ask you to send me the exact measure of the picture, as I
                                                        want to write an article on it and try to compare it with the
                                                        Berlin fragment of D. Veneziano&rsquo;s predella &ndash; I also
                                                        found a companion piece in some private collection. So in my
                                                        mind the whole predella is complete with your Annunciation as
                                                        the central piece.&rdquo;</p>
                                                    <p>This theory, about which I have no more information, would
                                                        exclude our S. Zenobio piece, and I fancy it would not account
                                                        for all the space.</p>
                                                    <p>Mr. Riches has come in as I write. He is hoping to receive your
                                                        notes on his manuscript soon.</p>
                                                    <p>Yours always,</p>
                                                    <p>Sydney C. Cockerell</p>
                                                    <p class="cockerell-subtitles"><strong>6. Feb 9, 1925 </strong>(includes
                                                        copies of a letter from McLeod to Cockerell, and Cockerell's
                                                        reply)<strong><br/></strong>Fitzwilliam Museum, Cambridge</p>
                                                    <p>My dear Berenson,</p>
                                                    <p>I enclose copies of the latest Dom. Veneziano correspondence. I
                                                        do not think I have met Mr. McLeod but his previous letters have
                                                        prejudiced me strongly against him. What if you were write to
                                                        the Times at once (of course giving Yashiro his proper credit)
                                                        and so get in first? I can supply them with photographs of our
                                                        two pictures if I hear from you. They print their illustrations
                                                        rather well.</p>
                                                    <p>Yours always,</p>
                                                    <p>Sydney C. Cockerell</p>
                                                    <p>[enclosed with letter of January 30, 1925]</p>
                                                    <p>8 II. 25. <br/> 7 Belsize Park, NW3</p>
                                                    <p>Dear Sir,</p>
                                                    <p>I have received a letter from Senator Venturi in which he
                                                        instructs me to write to you to the following effect:</p>
                                                    <p>That he has cancelled from his article the statement &ldquo;Passes
                                                        under the name of Domenico Ghirlandaio;&rdquo; being quite
                                                        convinced of what you tell him in respect of the inscription
                                                        which is on the frame.</p>
                                                    <p>That I myself was present and witnessed his enthusiasm at the
                                                        discovery of the picture by Domenico Veneziano.</p>
                                                    <p>That although he made the attribution independently from Prof.
                                                        Yashiro, he will have much pleasure in stating in his article
                                                        that the latter&rsquo;s discovery was previous to his own. I am
                                                        to add that he has a high opinion of the attainments of Prof.
                                                        Yashiro, who is a personal friend of his.</p>
                                                    <p>You will understand, I hope, that I am simply acting as Senator
                                                        Venturi&rsquo;s intermediary in the matter and make no statement
                                                        on my own account.</p>
                                                    <p>I am <br/> Yours faithfully <br/> Addison McLeod</p>
                                                    <p>---</p>
                                                    <p>Feb 9 1925 <br/> Fitzwilliam Museum</p>
                                                    <p>Dear Sir,</p>
                                                    <p>I beg to thank you for your letter of yesterday written in
                                                        accordance with Senator Venturi&rsquo;s instructions.</p>
                                                    <p>I have sent copies of my letter to Senator Venturi to Professor
                                                        Yashiro and Mr. Berenson so that they may be aware that Senator
                                                        Venturi was informed of all the facts contained in it before his
                                                        article was published. I shall be obliged if you will let me
                                                        known when and where it will appear.</p>
                                                    <p>I am <br/> Yours faithfully<br/> Sydney C. Cockerell</p>
                                                    <p class="cockerell-subtitles"><strong>7. Feb 19, 1925<br/></strong>Fitzwilliam
                                                        Museum, Cambridge</p>
                                                    <p>My dear Berenson,</p>
                                                    <p>Many thanks for your last letters. As you are not disposed to do
                                                        it, I am arranging for Charles Marriott to write an article for
                                                        the Times. I went up to see him about, and gave him particulars
                                                        in writing, very carefully drawn up. The article should appear
                                                        in a few days, but I hope not in time for A. V. to make any
                                                        corrections, if his article is to appear in the March
                                                        Connoisseur. I asked Addison McLeod to let me known when and
                                                        where it will appear, but he has not answered. The whole thing
                                                        now becomes rather fun and I think you will enjoy it.</p>
                                                    <p>Yours always,</p>
                                                    <p>Sydney Cockerell</p>
                                                    <p>I had the two panels out of their frames for the first time. They
                                                        are absolutely identical. 1 3/8&rdquo; deep and painted white at
                                                        back and sides. I can&rsquo;t help thinking that St. Zenobio is
                                                        also by Dom. Ven.</p>
                                                    <p class="cockerell-subtitles"><strong>8. March 16, 1925 </strong>(excerpt)<strong><br/></strong></p><p>Many
                                                        thanks for the copy of Dedalo. It is a very interesting article
                                                        and I wish Cambridge had the stuff to figure more largely in it.
                                                        The new &lsquo;L&rsquo;arte&rsquo; has not yet reached us
                                                        &ndash; so slow are our agents.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- main container end -->
</div>
<!-- /main container end -->

