<div 
  class="yashiro-annotation-template"
  >
  {{#if iconUrl}}
    <img class="yashiro-annotation-type-icon" style="border-left-color: {{color}}" src='{{iconUrl}}'>
  {{/if}}
  {{> @partial-block}}
  <div class='btn-group'>
    {{#if allowEdit}}
    <button name='edit'
      class='btn btn-xs btn-default yashiro-ctrl-buttons-style'
      data-annotation='{{iri.value}}'
      title='Edit annotation'>
      <span class='fa fa-pencil'></span>
    </button>
    {{/if}}
    {{#if allowDelete}}
    <button name='delete'
      class='btn btn-xs btn-default yashiro-ctrl-buttons-style'
      data-annotation='{{iri.value}}'
      title='Delete annotation'>
      <span class='fa fa-trash'></span>
    </button>
    {{/if}}
  </div>
</div>
