[[> yashiro:header ]]

<!-- main container open -->
<div id="yashiro-container" class="container">
  <!-- /main container open -->

  <div class="content-inner">
    <a name="main-content"></a>
    <header id="main-content-header">
      <a name="main-content"></a>
      <h1 id="page-title">Carl Brandon Strehlke</h1>
    </header>

    <!--front panel regions beg-->
    <div
      id="content-panels"
      class="at-panel gpanel panel-display content clearfix"
    >
      <div class="region region-content-top">
        <div class="region-inner clearfix">
          <div
            id="block-os-pages-main-content"
            class="block block-os-pages no-title"
            module="os_pages"
            delta="main_content"
          >
            <div class="block-inner clearfix">
              <div class="block-content content">
                <article
                  id="node-5131"
                  class="node node-page article clearfix"
                  role="article"
                >
                  <div class="node-content">
                    <div
                      class="
                        field
                        field-name-body
                        field-type-text-with-summary
                        field-label-hidden
                        view-mode-full
                      "
                    >
                      <div class="field-items">
                        <div class="field-item even">
                          <p>
                            “Bernard Berenson and Asian Art,” in Joseph Connors
                            and Louis A. Waldman, eds.,
                            <em>Bernard Berenson: Formation and Heritage</em>
                            (Florence, Villa I Tatti), 2014, 207-230
                          </p>
                        </div>
                      </div>
                    </div>
                    <table class="os-files-other-list">
                      <tbody>
                        <tr class="odd">
                          <td class="mime mime-">
                            <img
                              class="pdf-file-icon"
                              alt=""
                              src="../../../assets/images/application-pdf.svg"
                            />
                          </td>
                          <td class="file">
                            <a
                              href="/assets/files/strehlke_.pdf"
                              >View original document</a
                            >
                          </td>
                          <td class="size">2.13 MB</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <section
          class="iframe-section"
          >
                              <iframe
                                src="https://archive.org/stream/StrehlkeBernardBerensonAndAsianArt/strehlke-Bernard%20Berenson%20and%20Asian%20Art#page/n7/mode/2up"
                                width="100%"
                                height="600"
                                frameborder="0"
                                webkitallowfullscreen="true"
                                mozallowfullscreen="true"
                                allowfullscreen=""
                              ></iframe>
          </section>
        </div>
      </div>
    </div>
    <!--front panel regions end-->
  </div>

  <!-- main container end -->
</div>
<!-- /main container end -->

