
<!-- main container open -->
<div id="main-container" class="container">
    <header>
      <h1>8: Discovery of Botticelli&rsquo;s "Pala delle Convertite"</h1>
    </header>
      <article>
          <p>
            As I immersed myself in my research on Botticelli in
            Florence I trusted in my own intuition, and I
            thereby resolved to try to give, to the greatest
            extent possible, proof of those technical
            idiosyncrasies of Botticelli&rsquo;s art that I
            wished to emphasize, in terms of the portion of
            Botticelli&rsquo;s art that I had observed closely.
            I did this by selecting details from his
            representative works that went along with what I
            thought and by taking numerous photographs of them.
            For example, in the case of the masterpiece
            <em>La Primavera</em>, these features would be the
            faces and expressions of the goddesses and nymphs,
            of course, sweet with a flowery spirit; the modeling
            of their young torsos, seemingly both visible and
            invisible through their light garments fluttering in
            the gentle breeze; their white, intertwining arms
            and the way their slender fingers come together as
            if amicably entangled; the delight of the
            nymphs&rsquo; white feet, cheerfully running across
            the grass and treading on the flowers blooming
            there; and irises, dandelions, poppy anemones, and
            other spring flowers blooming in a variegated
            disarray. I was able to reproduce as various large
            detail photographs these and other such elements of
            the depiction that I liked, elements which seem to
            flicker in and out of sight everywhere within the
            large tableaux of Botticelli&rsquo;s various
            masterpieces. In some cases I would specify a
            full-sized reproduction, and in other cases I would
            specify a clearly delineated crop. Since some of
            Botticelli&rsquo;s works are quite monumental, the
            grand total of detail photographs minutely cropping
            the features one by one in this way reached upwards
            of two hundred prints.
          </p>
          <p>
            As a result, I was able to make multiple detail
            photographs that were interesting to a truly
            unexpected degree, even for me, and so I was really
            pleasantly surprised. What is more, they also
            surprised Giacomo, the son of the famous Florentine
            photographer Brogi, whom I asked to take these
            detail photographs according to my picky
            instructions. As he told me, &ldquo;Our studio
            regularly takes lots of detail photographs of
            various famous paintings for scholars from all over
            the world, but this is absolutely the first time we
            have had to photograph in such a sensuous,
            interesting way.&rdquo; He was terribly impressed,
            and completely cancelled the photography charge.
            Without taking any payment for what amounted to two
            hundred detail photographs, he reproduced them in
            large form, and furthermore printed them for me.
            Although this was a great help to an indigent
            student overseas like myself, in exchange Brogi
            began to sell the images as his own photography; and
            since these sold well, it was a fact that they made
            him a considerable amount of money, as well.
          </p>
          <p>
            This kind of precise, well-thought-out detail
            photography of famous paintings, although it has
            become commonplace nowadays, was in those days
            largely the first of its kind in the West. As such,
            not only did it generally receive a great amount of
            attention, but the detail photographs of Botticelli
            that came out especially well also received a great
            amount of praise from Mr. Berenson, and were even
            popular among my circle of friends engaged in
            similar research. My closest acquaintance at the
            time was Sir
            <a
              href="https://yashiro.itatti.harvard.edu/resource/?uri=https%3A%2F%2Fyashiro.itatti.harvard.edu%2Fresource%2Fyashiro%2Fperson%2Fkenneth_clark"
              >Kenneth Clark</a
            >, who would in later years become the director of
            the National Gallery in London. He took a great
            interest in these detail photographs I had made, and
            would later go on to publish <em>Detail</em>, a set
            of three large volumes comprising a collection of
            the National Gallery&rsquo;s famous paintings; in
            its preface he wrote something to the effect of,
            &ldquo;The use of detail photographs to closely
            examine a famous work&mdash;which is something I
            picked up from the idea of my friend,
            Yashiro&mdash;is a valuable technique
            indeed.&rdquo;<sup
              ><a
                href="https://yashiro.itatti.harvard.edu/resource/yashiro:8-discovery-botticelli%E2%80%99s-pala-delle-convertite#footone"
                name="one"
                >1</a
              ></sup
            >&nbsp;All this being the case, the success to an
            unexpected degree of the detail photographs I had
            had made of Botticelli&rsquo;s works naturally paved
            the way for the publication of my book,
            <em>Botticelli</em>.
          </p>
          <p>
            However, although it would have been one thing if
            the topic were Eastern art, the fact was that it was
            inconceivable for an unknown researcher from the
            East, such as myself in those days, to come to a
            major center for Western art like London and attempt
            to publish a work on a big established topic in
            Western art. And, of course, there was no way I was
            able to entertain such notions at the beginning. As
            for what gave me the resolve to do this&mdash;it was
            actually because of a trivial incident, something
            that occurred that hit home for me.
          </p>
          <p>
            One day, when it was just Mr. Berenson and I and we
            were talking about my work, I said, &ldquo;I am
            thinking of putting out a book on Botticelli
            someday,&rdquo; whereupon Mr. Berenson said,
            &ldquo;That is fine, but you should make it a small
            book, in which you write as simply as possible your
            thoughts on appreciating Botticelli as someone from
            the East,&rdquo; to which he added, &ldquo;since no
            one would think to learn about Botticelli from a
            Japanese, you know.&rdquo; This comment, given
            innocently and as if it were a matter of course, was
            in truth what made me make a vow in my youthful
            heart to someday study a great deal and publish in
            Europe a grand, full-blown work on Botticelli. My
            reaction of &ldquo;I&rsquo;ll be damned!&rdquo; to
            this, and the way I was stirred to action, came to
            sustain me during times of various hardships I later
            endured for the sake of the realization of this vow.
          </p>
          <p>
            If one is serious about their studies, however, then
            there are also times in life when fortune
            unexpectedly calls. One such time was when I was
            able to unearth a large Botticelli-related discovery
            completely by chance in London. When Botticelli was
            in the prime of his youth, there occurred in
            Florence a large incident wherein a great number of
            prostitutes underwent religious conversion all at
            once and became nuns. These nuns erected a church
            called &ldquo;Sant&rsquo; Elizabetta delle
            Convertite&rdquo; in Florence, and Botticelli was
            chosen to paint the church&rsquo;s altarpiece. This
            church continued to exist in Florence until the
            beginning of the nineteenth century, but once it
            ceased to function as a church the whereabouts of
            its altarpiece became unknown. And at a time when
            Botticelli researchers across the globe were all
            going around searching for this important work, by
            chance I happened across a large work that made me
            wonder, is this it?
          </p>
          <p>
            One day, when I went to London&rsquo;s National
            Gallery for one reason or another, the assistant
            director, Mr. Collins Baker, handed me a bunch of
            photographs, since he had known for some time that I
            was enthusiastically going around collecting
            materials for research on Botticelli, and generously
            said to me, &ldquo;These are photographs of
            Botticelli-related works that have been sent in from
            various places asking us to purchase the paintings
            for the National Gallery. They are all nothing but
            boring pieces, and since there is no need to
            purchase them we will return the photographs to
            their owners soon, but seeing as how you are a
            Botticelli specialist, you might find something
            useful for your research among them. Take a
            look.&rdquo; Indeed, they were all trivial works,
            which looked like Botticelli but were not the real
            thing&mdash;until my heart leapt at the sight of a
            certain picture. In addition to the surface of the
            painting being terribly stained, it even bore the
            mark of what was clearly a more recent fake
            signature. And yet because there were also aspects
            that suggested something more in terms of pedigree,
            I asked about the painting&rsquo;s owner. When I
            visited the place, it turned out to be a lower-class
            shop selling used frames in a back alley near Covent
            Garden. I entered the shop at once, and when I asked
            about the painting, the shopkeeper said, &ldquo;A
            nobleman said he would buy the painting, so
            we&rsquo;ve brought it to his estate. But he still
            hasn&rsquo;t bought it, even though many days have
            already gone by.&rdquo; To which I said, &ldquo;I
            would very much like to see the painting. If it
            happens to fit my liking, I might very well buy
            it.&rdquo; I thereby urged him to show me the
            painting. My suggesting at this time that &ldquo;if
            it is a good painting, I might buy it&rdquo; was not
            necessarily entirely irresponsible on my part. I
            intend to touch on this again later, but at any
            rate, I eventually got the used frame dealer to take
            me, and, one day, I went to the estate of the
            nobleman who was supposedly on the verge of
            purchasing the painting. The nobleman in question
            was Viscount Lee of Fareham, a prominent member of
            the nobility who had served as First Lord of the
            Admiralty of the United Kingdom and who donated the
            private retreat of the British Prime Minister, i.e.
            the famous Chequers estate, to the nation for such
            use. I felt immensely awkward, seeing as how I
            visited this grand estate led by the aforementioned
            shabby old man of the used frame shop, but once I
            was allowed to see the actual picture, I at once
            grew extremely confident. Although it was in bad
            condition, I was immediately able to surmise that
            this painting was without a doubt the altarpiece
            that Botticelli must have painted for the church of
            the nuns during the early part of his career. As
            proof, Mary Magdalene&mdash;a former prostitute who
            afterward became a disciple of Christ, was saved,
            confined herself to the desert in austere penance,
            then died and rose to Heaven&mdash;flanks the
            central image of this large picture that takes the
            Trinity as its theme. The female saint is remarkably
            depicted as a curious ascetic figure, and a
            strangely mystical one: her skin has been burned and
            its color darkened by the sun, and, moreover, she is
            nude, and her beautiful golden hair has grown long
            and covers her nude body. This, among other aspects,
            led me to strengthen my conviction all the more that
            this was the altarpiece of that church.
          </p>
          <p>
            Thereupon Viscount Lee of Fareham made his
            appearance. He had looks befitting the English
            nobility, and yet also had the sharpness of a Navy
            man. The used frame dealer had apparently announced
            that he had brought a Botticelli specialist
            introduced to him by the National Gallery, and so,
            when the Viscount noticed it was a neophyte from the
            East who was barely over thirty, he looked
            disappointed, as if his expectation had widely
            missed the mark. Since that annoyed me a little, and
            since, above all, this was the moment that I had
            begun to feel confident that this was a big
            discovery, I became at that point completely excited
            and, drawing on my store of knowledge, I let forth
            an outpouring of explanatory data about the
            provenance of the painting, for example, or about
            interpretations of its themes. As a result, the
            Viscount looked completely befuddled. However,
            although this is something that I learned later
            after we came to be on friendlier terms, the
            Viscount was a great collector of paintings by
            nature, to the extent that he was constructing in
            his villa a large gallery for his own collection;
            and not only was he quite well-informed about
            Italian art himself, but he also enjoyed the
            discovery of a good bargain, and was apparently the
            type to thoroughly investigate matters of various
            kinds. And so, he seemed to have thought that this
            explanation given by me, this neophyte from the East
            who went on and on in his excitement, was not
            altogether absurd, and gradually started to ask
            questions to test me. For example, he noted that in
            large letters &ldquo;S. B.,&rdquo; that is, Sandro
            Botticelli&rsquo;s signature written as the initials
            of his name, had been put into this painting, and he
            brought out the question of what its significance
            was. I am all the more in my element when it comes
            to a specialized question like this, and so I gave a
            detailed response in high spirits: &ldquo;In
            Botticelli&rsquo;s era, painters do not inscribe
            their names and so forth on pictures of religious
            subjects. They say that Botticelli, too, only once
            in his entire life inscribed his name on a
            particular religious painting. So, in the case of
            the signature on this painting, judging from the
            style of the letters this is without a doubt a fake
            signature added sometime during the nineteenth
            century or later. If you are inclined to think that
            I do not tell the truth, try wiping it with
            alcohol&mdash;it will vanish right away.&rdquo; And
            so, at any rate, I asked him to allow me to take
            large photographs of this painting, and, in the
            highest of spirits, I returned home. On the way
            home, I made a show of talking big to the
            aforementioned used frame dealer, telling him that
            if the Viscount does not buy the painting, he should
            take it back immediately and bring it to me, since I
            will buy it.
          </p>
          <p>
            After a few days had passed, the used frame dealer,
            looking crestfallen, visited me at my lodgings and
            said, &ldquo;After we met I visited the Viscount and
            asked him to please return the painting. He asked
            why, so I answered that the young Japanese from
            earlier says he&rsquo;ll buy it. Then the Viscount
            said that if that&rsquo;s the case he&rsquo;ll buy
            it right away, and beat you to the purchase.&rdquo;
            When I said to him that if that is the case then he
            must be satisfied with the sale, he looked
            disappointed. It seems as though he was surprised by
            my excited show of eloquence the other day in which
            I vigorously explained various aspects of the
            painting before the Viscount, and perhaps he thought
            to himself that he ought to have sold it at a much
            higher price, or perhaps it was something else. For
            my part&mdash;although this is something that I had
            intended to explain later&mdash;the truth is that I
            had begun to harbor an aspiration to locate an
            authentic Botticelli during my stay in Europe, have
            someone in Japan buy it, and bring it back to Japan
            with me. There was no way that something like an
            authentic Botticelli would be an easy find, and even
            if one were to be found, the chances that someone
            with money in Japan would be able to purchase it
            with ease would be slim, due to the fact that, under
            normal circumstances, it would necessarily fetch an
            outrageous price. But, I thought, in a situation
            like the one at hand, wherein no one has yet noticed
            and the discovery is mine alone, the price would no
            doubt be absurdly low, and so I&mdash;even
            I&mdash;would be able to make a move for the sake of
            Japan. In this case, however, I ultimately wound up
            missing the rare chance to buy a major work by
            Botticelli for Japan&rsquo;s sake.
          </p>
          <p>
            Some time passed, and then I took a photographer
            with me to take photographs of the painting and went
            out to the Viscount&rsquo;s estate. This time, the
            Viscount&rsquo;s attitude had changed considerably,
            and he seemed to now treat me more or less as a
            specialist. Whether or not that was the case, the
            task of moving this massive altarpiece, which was
            painted on large, heavy wooden panels, and
            adequately taking sectional photographs as I had
            envisioned turned out to be no simple task but a
            major undertaking, and the elderly Viscount himself
            emerged to direct his manservants to assist us. That
            was truly a great help. The aforementioned fake
            signature of &ldquo;S. B.&rdquo; in large letters
            that was on the surface of the painting had already
            been removed by the Viscount, which I found amusing.
            After that we successfully took the photographs. I
            needed to repeatedly examine the painting&rsquo;s
            surface so that I could write this new discovery up
            in a paper and get it published, and so I went from
            time to time to the Viscount&rsquo;s estate. One day
            in the midst of this, the Viscount invited me to his
            villa in Richmond Park on the outskirts of London.
            The villa was an old, refined, small building.
            According to what I was later told, this was the
            famous White Lodge, an old, historic piece of
            architecture, whose name could perhaps be translated
            into Japanese as the &ldquo;white
            village-manor,&rdquo; and where the famous Prince of
            Wales was born; he would later ascend the throne [as
            Edward VIII], then take the title of the Duke of
            Windsor after his abdication. I took a meal there,
            joined also by the Lady Lee, a kind, elderly woman,
            after which I was shown to the part of the villa
            that had been made into a picture gallery. The
            aforementioned altarpiece of the church of
            Sant&rsquo; Elizabetta delle Convertite by
            Botticelli had been hung in a prominent place in the
            gallery. I flushed with feelings of pride and
            happiness, and yet my paper was not yet published,
            and I could not make sense of why the Viscount had
            suddenly warmed to me to such an extent. He then
            confessed to me the following. Namely, he had
            unbeknownst to me sent the pictures I had had made
            to a prominent specialist in Italian painting whom
            he trusted&mdash;it was apparently Professor Adolfo
            Venturi of the University of Rome, with whom I also
            had various connections as a specialist&mdash;and
            solicited the professor&rsquo;s opinion, whereupon
            Professor Venturi responded in agreement with my
            opinion. In other words the Viscount, while feigning
            to agree with my opinions, was secretly
            apprehensive, and thus, without informing me, took
            it upon himself to use the photographic materials I
            had made to discuss the matter with other people. As
            for me, I understood that he had kept something from
            me, which was somewhat unpleasant, but even this,
            when one stops to think about it, is not
            unreasonable, and since the experts with whom he had
            secretly discussed the matter had come to agree with
            me, I thought to myself that that was good enough.
            But it did arouse in me the sort of deep feelings
            that a young patriot feels, such as, &ldquo;What is
            really necessary for us Japanese is the advancement
            of our cultural position and the level of trust in
            us abroad.&rdquo;
          </p>
          <p>
            In this way, the discovery of the Botticelli became
            the beginning of a relationship with the Lord and
            Lady Lee of Fareham, and we grew very close. I also
            obtained the convenience of being allowed to look
            whenever I pleased at the numerous masterpieces of
            Western painting and other precious artworks held by
            the Viscount. I always very much looked forward,
            while the Viscountess was still alive, to our
            meeting again every time I went to London. And this
            eminent member of the English nobility was always
            kind enough to introduce me as an expert scholar, no
            matter the context, which proved exceedingly useful
            later for my various research endeavors in Britain.
            After the Lord and Lady eventually passed away in
            their old age, a good deal of time passed, and one
            year, when I was in Canada&mdash;it was the city of
            Toronto, if I recall correctly&mdash;there was a
            small museum displaying a collection of jewels and
            finely crafted works of precious metal from among
            the various treasures of the estate of the Viscount,
            which I went to see. I did not see, however, the
            Viscount&rsquo;s massive collection of old paintings
            at the museum, and was not sure where they had gone.
          </p>
          <p>
            Let me now extend my discussion of the circumstances
            surrounding the discovery of Botticelli&rsquo;s
            altarpiece of the church of Sant&rsquo; Elizabetta
            delle Convertite a bit further. It was known from
            before that, among the great number of old Western
            paintings donated by Mr. [John G.] Johnson to the
            Philadelphia Museum of Art, there is a series of
            four small pictures depicting the life of the
            Biblical figure Mary Magdalene, the former
            prostitute and female follower of Christ. I recalled
            this, and it occurred to me that these might very
            well be the predella of the Botticelli altarpiece
            that I had newly discovered. The predella comprises
            the oblong narrative pictures affixed below the
            altarpiece; they usually depict explanatory
            narratives related to the altarpiece. And when one
            lined these four pictures up and added their lengths
            together, the total length matched perfectly with
            the width of the Lord Lee&rsquo;s newly discovered
            altarpiece. Not only did the fact that they rendered
            as their theme the story of the faith of a
            prostitute-turned-saint make an ideal fit with their
            being hung beneath the altarpiece of a church built
            by prostitutes who had converted and become nuns,
            but the fact that the very figure of Mary Magdalene
            as an ascetic was prominently depicted in the
            altarpiece itself, as one of the attendant holy
            figures delineating the Holy Trinity in the center
            of the image, also made a perfect fit. This also had
            significance with regards to resolving the issue of
            the attribution of these four linked paintings. Long
            ago, none other than Mr. Berenson traced the
            attribution of these four paintings back to the work
            of an anonymous student of Botticelli&mdash;he has
            been tentatively given the name Amico di Sandro. But
            once it was concluded that these paintings were the
            predella of the church of Sant&rsquo; Elizabetta
            delle Convertite&rsquo;s altarpiece, it was most
            natural to trace at least the idea and compositional
            plan behind these attached pictures back to the
            creator of the entire altarpiece, Botticelli
            himself. It was unavoidable that the previous theory
            was greatly trivialized, namely, it was likely that
            some student, probably the student Berenson had
            tentatively called Amico di Sandro, had merely
            carried out the work of completing these pictures in
            accordance with this compositional plan he had been
            given. Since this meant that these pictures in
            Philadelphia would not at all be seen merely as the
            work of one of Botticelli&rsquo;s students but would
            be directly connected to Botticelli himself at least
            in terms of conception and compositional plan, they
            were very happy indeed in the Philadelphia Museum of
            Art&rsquo;s Western painting department about my
            discovery in London, and later, a few years before
            the present day, when I visited the museum with my
            wife for the first time in a long time, the former
            director of the Western painting department had been
            promoted to the position of director of the entire
            museum, and he gathered his associates and held a
            reception at which I was the guest of honor.
          </p>
          <p>
            Thus, after various preparations,&nbsp;<a
              href="http://hollis.harvard.edu/primo_library/libweb/action/display.do?tabs=detailsTab&amp;ct=display&amp;fn=search&amp;doc=HVD_ALEPH010931657&amp;indx=1&amp;recIds=HVD_ALEPH010931657&amp;recIdxs=0&amp;elementId=0&amp;renderMode=poppedOut&amp;displayMode=full&amp;frbrVersion=&amp;dscnt=0&amp;vl%281UI0%29=exact&amp;scp_scps=scope%3A%28HVD%29%2Cscope%3A%28HVD_VIA%29%2Cprimo_central_multiple_fe&amp;frbg=&amp;tab=everything&amp;dstmp=1435598777533&amp;srt=rank&amp;vl%28117501629UI1%29=all_items&amp;mode=Basic&amp;dum=true&amp;tb=t&amp;vl%2851615747UI0%29=any&amp;vl%28freeText0%29=%20Newly%20Dis"
              >my article</a
            >
            on this new discovery was completed, and I published
            it in <em>The Burlington Magazine</em>, one of
            Britain&rsquo;s major research journals of the fine
            arts. In its appearance there, there was an amusing
            if small mistake. This newly discovered Botticelli
            painting, as I have already explained, depicted the
            doctrine of the Holy Trinity; the figure of Christ
            on the cross is prominently depicted in the center
            of the vertically oriented picture, and behind him,
            to indicate his holiness, is depicted a vertically
            oblong &ldquo;almond-shaped
            aureola&rdquo;&mdash;what is called a
            &ldquo;mandorla&rdquo; in Italian. This
            mandorla-shaped aureola is composed of a gathering
            of cherubs. In my paper, it was necessary for me to
            discuss the method of portraying the cherubs
            comprising the mandorla in terms of the formal
            traits of the painting, and so in my manuscript I
            wrote &ldquo;the cherubs of the Mandorla.&rdquo; In
            the paper as it was printed, this seems to have been
            altered by the magazine&rsquo;s editors without my
            consent to &ldquo;the cherubs with the
            mandoline,&rdquo; which implied that the cherubs
            were holding a mandolin. It completely surprised me
            to see this in print. Nowhere in the painting is
            there depicted a cherub holding a mandolin or
            anything like that, and so I did not know what to
            make of this. If I were to guess, perhaps it was
            that an editor of the magazine did not know the
            Italian technical art term &ldquo;mandorla,&rdquo;
            and thus conjectured that it probably was some
            mistake for a similar word, seeing as how the author
            of the paper was a no-name Asian, and, without
            notifying me at all, took it upon himself to change
            the phrase to &ldquo;the cherubs with the
            mandoline&rdquo;&mdash;the instrument, that
            is&mdash;and print it that way. As a matter of
            scholarship, I felt that this was a little too
            reckless, but when one is working abroad there are
            relationships in which one is unable to speak as
            they would like, after all, and although there are
            often things that get on one&rsquo;s nerves, there
            would be no end if one were to become angry at each
            and every one of them. What is more, in the case of
            this paper, the journal in which it was published
            came out after I had returned to Italy from London
            and had my hands full with work for the publication
            of my book on Botticelli, and even if I were to get
            angry, nothing would come of it at this point; and
            since writing an angry letter was also more trouble
            than it was worth, I ultimately left the matter as
            is.
          </p>
          <p>
            Anyhow, even if there was a certain amount of such
            unpleasantness, my paper in
            <em>The Burlington Magazine</em> furnished the
            scholarly world with a large topic of interest, due
            to the fact that it signaled the discovery of
            Botticelli&rsquo;s altarpiece of the church of
            Sant&rsquo; Elizabetta delle Convertite, which had
            been an outstanding issue in the field. Furthermore,
            as I have already explained, it was proven that the
            small linked pictures of the story of Mary
            Magdalene, which had gone to the Philadelphia Museum
            of Art in America and become the topic of much
            discussion, comprised the predella of the newly
            discovered Botticelli altarpiece, and it also became
            clear that they were made by Botticelli&rsquo;s
            studio and that one of his students, likely Amico di
            Sandro, helped in their production. The paper thus
            also had an impact on the field of research on
            Western art in America, and produced for me various
            favorable consequences.
          </p>
          <p>
            Since such was the case, the extent to which this
            discovery proved useful in furthering my later
            research on Botticelli was unfathomable. I was
            praised by Mr. Berenson, who gave such praise
            sparingly, and from that time onward I also came to
            be accepted in general circles as a Botticelli
            expert. I gained the trust of someone like the Lord
            Lee, the painting&rsquo;s owner, in the highest
            echelons of English nobility, as well, and afterward
            the Viscount would always back me despite whatever
            may arise, something that was also a great aid in
            terms of my later research. If I had not
            accomplished something like this to make me stand
            out as an expert Botticelli researcher, things like
            the publication of my large book of Botticelli
            research would have been inconceivable. It was
            different from the state of the publishing industry
            in Japan today, wherein anyone can print any sort of
            handsome color compilation, and I cannot help but
            think that one of Britain&rsquo;s dependable
            publishing houses in particular would not have lent
            an earnest ear to the wish of someone from the East
            such as myself to publish a work on Italian art. In
            this way, the discovery of the
            <em>Pala delle Convertite</em> came to stand out as
            an academic accomplishment of mine, and had the
            practical effect of paving the way for later.
          </p>
          <div>
            <br />
            <div>
              <p>
                <sup
                  ><a
                    href="https://yashiro.itatti.harvard.edu/resource/yashiro:8-discovery-botticelli%E2%80%99s-pala-delle-convertite#one"
                    >1</a
                  >.</sup
                ><a name="footone"></a>The exact quote is
                slightly different: &ldquo;Although the beauty
                of such detail seems obvious to us, they had
                been taken for scientific purposes for many
                years before anyone thought of reproducing them
                for their own sakes, and I believe it was the
                Japanese critic, Yukio Yashiro, who first used
                them as aids to appreciation in his book on
                Botticelli;&rdquo; Kenneth Clark,
                <em
                  >One Hundred Details from Pictures in the
                  National Gallery,</em
                >
                London 1938, 8. [Note by Peter Bernard]
              </p>
            </div>
          </div>
      </article>
  <!-- main container end -->
</div>
<!-- /main container end -->

